<app-builder-component-toolbar *ngIf="!previewMode" [componentName]="componentName"></app-builder-component-toolbar>
<div [ngClass]="setContextMenu()">
  <nav (click)="setActiveEditComponent();"
       (dblclick)="clearActiveEditComponent();"
       [ngClass]="setComponentClass()"
       [ngStyle]="navbarStyle"
       class="navbar navbar-expand-md navbar-showcase">
    <span [ngStyle]="navbarBrandStyle" class="navbar-brand">
      <ng-container *ngIf="isNavbarLogoImageNull() == true">
        <span (blur)="removeLineBreaks($event); saveNavbarLogoBrandOption();"
              (click)="selectNavbarLogoBrand($event, 'navbar-logo-brand')"
              (keydown.enter)="saveNavbarLogoBrandOption(); $event.preventDefault()"
              [attr.contenteditable]="setContentEditable()"
              [class]="setActiveElementStyle(activeElement, 'navbar-logo-brand')"
              [ngClass]="setNavbarLogoBrandClass()"
              id="'navbar-logo-brand'"
              style="padding: .5rem">{{ navbarLogoText }}</span>
      </ng-container>
      <ng-container *ngIf="isNavbarLogoImageNull() == false">
        <img (click)="selectNavbarLogoImage($event, 'navbar-logo-image')"
             [attr.src]="navbarLogoImage"
             [class]="setActiveElementStyle(activeElement, 'navbar-logo-image')"
             [ngClass]="setNavbarLogoImageClass()"
             [ngStyle]="navbarLogoImageStyle"
             alt="navbarLogoImage"
             id="'navbar-logo-image'"
             style="padding: .5rem"/>
      </ng-container>
    </span>
    <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler collapsed"
            data-target="#navbarNav" data-toggle="collapse" type="button">
      <i class="ti-menu"></i>
    </button>
    <div class="navbar-collapse collapse" id="navbarNav">
      <ul [ngClass]="navbarLayoutClass">
        <li *ngFor="let navbarMenuOption of navbarMenuOptions; let i = index" class="nav-item">
          <a (blur)="removeLineBreaks($event); saveNavbarMenuOption(i, $event.target['innerText']);"
             (click)="selectNavbarLink($event, 'navbar-link-' + i)"
             (keydown.enter)="saveNavbarMenuOption(i, $event.target.innerText); $event.preventDefault(); $event.target.blur()"
             [attr.contenteditable]="setContentEditable()"
             [class]="setActiveElementStyle(activeElement, 'navbar-link-'+i)"
             [ngClass]="setNavbarLinkClass()"
             [ngStyle]="navbarLinkStyle"
             id="{{ 'navbar-link-' + i }}"
             style="padding: .5rem">{{ navbarMenuOption }}</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
