<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Delete component</h5>
    <button (click)="onCloseButtonClick()" class="close" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Are you sure you want to delete this component?
  </div>
  <div class="modal-footer">
    <button (click)="onConfirmButtonClick()" class="btn btn-secondary" type="button">Yes</button>&nbsp;
    <button (click)="onCloseButtonClick()" class="btn btn-secondary" type="button">No</button>
  </div>
</div>
