<header class="header" style="background-image: url(/assets/img/careers.jpg);">
  <div class="overlay opacity-75" style="background-image: linear-gradient(to top, #fff 0%, #fff 100%);"></div>
  <div class="container text-center">
    <div class="row">
      <div class="col-md-8 mx-auto py-8">
        <h1>Careers</h1>
      </div>
    </div>
  </div>
</header>
<section class="section" style="padding-bottom: 0px">
  <div class="container">
    <header class="section-header">
      <h4 class="lead">Here at Opsonion, we are committed to building an open financial system that simplifies the
        acquisition, utilisation and liquidation of digital assets.</h4>
      <br>
      <p>Our team is composed of many enthusiastic individuals with an ownership mentality; no one waits to be told
        what to do. Each member of the team is a highly motivated self-starter that is comfortable with autonomy and
        believes in lifelong learning.
      </p>
      <p>We enjoy solving hard problems and are committed to developing our people. Our culture fosters individiual
        and teamwork - you'll do your best work at Opsonion.</p>
    </header>
  </div>
</section>
<section class="section">
  <div class="container">
    <header class="section-header">
      <h2>Our Openings</h2>
      <hr>
      <p class="lead">Sorry, we currently don't have any open positions.</p>
    </header>
  </div>
</section>