<header class="header" style="background-image: url(/assets/img/careers.jpg);">
  <div class="overlay opacity-75" style="background-image: linear-gradient(to top, #fff 0%, #fff 100%);"></div>
  <div class="container text-center">
    <div class="row">
      <div class="col-md-8 mx-auto py-8">
        <h1> 
            <a href="" class="typewrite" data-period="1000" data-type=
            '[ "Empowering", "Creative", "Revolutionary", "Exciting", "Life-Changing", "Developmental", "Engaging", "Opsonion"]'>
              <span class="wrap"> </span>
            </a>
             Careers
        </h1> 
      </div>
    </div>
  </div>
</header>
<section class="section" style="padding-bottom: 0px">
  <div class="container">
    <header class="section-header">
      <h4>Here at Opsonion, we are committed to building an open financial system that simplifies the
        acquisition, utilisation and liquidation of digital assets.</h4>
      <br>
      <p>Our team is full of self-motivated individuals who take the initiative way before there's need for instructions. We learn vigorously, work quickly and interact collaboratively. Our most important asset is not the experience we use to deal with problems previously encountered but the skills we develop daily to address new ones. What we don't know, we learn, share and use to make our team stronger.</p>
      <p>A process is only as strong as it's components. Therefore, we place alot of emphasis on individual excellence and ownership of work. We are looking for individuals that perpetually raise standards and embody the team's work ethic. We want individuals who clearly recognise their ability to get heavily intergrated and make an impact. Mentality is everything.</p>
      <p><em>"Hard work without talent is a shame, but talent without hard work is a tragedy." - Robert Half</em></p>
    </header>
  </div>
</section>
<section class="section">
  <div class="container">
    <header class="section-header">
      <h2>Our Openings</h2>
      <hr>
      <p class="lead">Sorry, we currently don't have any open positions.</p>
    </header>
  </div>
</section>