<app-dashboard-tabs-heading></app-dashboard-tabs-heading>
<div class="col-md-12 mx-auto">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#tab-websites">Websites</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab-profile">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab-rewards">Rewards</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab-billing">Billing</a>
    </li>
  </ul>
  <div class="tab-content p-4">
    <div class="tab-pane fade show active" id="tab-websites">
      <app-dashboard-body-websites></app-dashboard-body-websites>
    </div>
    <div class="tab-pane fade" id="tab-profile">
      <app-settings-profile></app-settings-profile>
    </div>
    <div class="tab-pane fade" id="tab-rewards">
      <app-dashboard-body-rewards></app-dashboard-body-rewards>
    </div>
    <div class="tab-pane fade" id="tab-billing">
      <app-settings-billing></app-settings-billing>
    </div>
  </div>
</div>
