<div id="features-colours" style="margin-top: -30px; margin-bottom: 2px">&nbsp;</div>
<div class="form-group">
  <label style="color: rgba(255, 255, 255, 0.65);">Background</label>
  <div style="width: 100%">
    <span class="features-colour-select-background form-control form-control-lg colour-picker"
          (colorPickerChange)="setFeaturesStyle()" [(colorPicker)]="featuresStyle['background-color']"
          [cpPositionOffset]="'0%'"
          [cpPosition]="'bottom'" [style.background]="featuresStyle['background-color']"></span>
  </div>
</div>
<div style="margin-top: -30px; margin-bottom: 2px">&nbsp;</div>
<div class="form-group">
  <label style="color: rgba(255, 255, 255, 0.65);">Heading</label>
  <div style="width: 100%">
    <span class="features-colour-select-heading form-control form-control-lg colour-picker"
          (colorPickerChange)="setFeaturesHeadingStyle()" [(colorPicker)]="featuresHeadingStyle.color"
          [cpPositionOffset]="'0%'"
          [cpPosition]="'bottom'" [style.background]="featuresHeadingStyle?.color"></span>
  </div>
</div>
<div class="form-group">
  <label style="color: rgba(255, 255, 255, 0.65);">Subheading</label>
  <div style="width: 100%">
    <span class="features-colour-select-subheading form-control form-control-lg colour-picker"
          (colorPickerChange)="setFeaturesSubheadingStyle()" [(colorPicker)]="featuresSubheadingStyle.color"
          [cpPositionOffset]="'0%'"
          [cpPosition]="'bottom'" [style.background]="featuresSubheadingStyle?.color"></span>
  </div>
</div>
<div class="form-group">
  <label style="color: rgba(255, 255, 255, 0.65);">Theme</label>
  <label style="width: 100%">
    <select class="features-theme-select form-control form-control-lg" (change)="onThemeChange()" [(ngModel)]="featuresTheme">
      <option *ngFor="let theme of featuresThemes"
              [attr.selected]="theme['name'] == featuresTheme ? true : null">{{ theme['name'] }}</option>
    </select>
  </label>
</div>
<hr style="background-color: rgba(255, 255, 255, 0.1)">
<div style="padding-bottom: 1em">
  <button class="features-colours-reset btn btn-xl btn-block btn-secondary" 
          (click)="resetToDefault()" type="button">Reset to Default</button>
</div>
