<div [ngStyle]="setupUserProfilePhoto()">
  <img *ngIf="user.photoURL" alt="avatar" class="avatar avatar-xl" src="{{ user.photoURL }}">
  <img *ngIf="!user.photoURL" alt="avatar" class="avatar avatar-xl" src="../../../../assets/img/anonymous.jpg">
</div>
<div *ngIf="!(isMobile | async)?.matches" style="text-align: center">
  <label class="btn btn-xs btn-secondary btn-file">
    <input (change)="fileChangeEvent($event)" accept="image/x-png,image/gif,image/jpeg" type="file"/>
    <span>Upload</span>
  </label>
</div>
