<div class="border rounded shadow-4 p-4 item">
  <div class="row align-items-center" status="pending">
    <div class="col lh-5">
      <div class="row">
        <div style="padding-bottom: 1em" class="col-md-10" (click)="openTaskModal(task)">
          <strong>{{ task.name }}</strong>
        </div>
        <div class="col-md-2" style="margin-top: -0.2em; padding-bottom: 0px; padding-left:0px">
          <button type="button" class="close" (click)="openDeleteTaskModal(task)">
            <span aria-hidden="true">×</span>
          </button>
        </div>
      </div>
      <div (click)="openTaskModal(task)" style="width: 100%">
        <span class="badge badge-pill badge-secondary" *ngIf="!task?.invoice || !task?.assignedTo">pending</span>&nbsp;
        <span class="badge badge-pill badge-primary" *ngIf="task.product">{{ task.product }}</span>&nbsp;
        <span class="badge badge-pill badge-info" *ngIf="task.category">{{ task.category }}</span>
      </div>
    </div>
  </div>
</div>