<section class="section">
  <div class="container">
    <div *ngIf="!(isMobile | async)?.matches">
      <header class="section-header" style="padding-top: 3em">
        <h2>Support</h2>
        <hr>
      </header>
    </div>
    <div *ngIf="(isMobile | async)?.matches">
      <header class="section-header" style="padding-bottom: 0px; padding-top: 70px">
        <h2>Support</h2>
        <hr>
      </header>
    </div>
    <div class="row gap-y">
      <div class="col-md-6">
        <h5>Account Management</h5>
        <ul class="support">
          <li><a [routerLink]="['account-management']" fragment="1">How do I verify my account?</a></li>
          <li><a [routerLink]="['account-management']" fragment="2">What is 2-factor authentication (2FA)?</a></li>
          <li><a [routerLink]="['account-management']" fragment="3">I can't remember my password</a></li>
          <li><a [routerLink]="['account-management']" fragment="4">How can I close my account?</a></li>
        </ul>
        <a class="small-3 fw-600" routerLink="account-management">Read more &nbsp;<fa-icon [icon]="['fas', 'angle-right']" size="xs"></fa-icon></a>
      </div>
      <div class="col-md-6">
        <h5>Transactions</h5>
        <ul class="support">
          <li><a [routerLink]="['transactions']" fragment="1">How do I buy digital assets?</a></li>
          <li><a [routerLink]="['transactions']" fragment="2">How do I deposit fiat into my Opsonion account?</a></li>
          <li><a [routerLink]="['transactions']" fragment="3">How do I sell or "cash out" my digital assets?</a></li>
          <li><a [routerLink]="['transactions']" fragment="4">How long does a purchase or deposit take to complete?</a></li>
        </ul>
        <a class="small-3 fw-600" routerLink="transactions">Read more &nbsp;<fa-icon [icon]="['fas', 'angle-right']" size="xs"></fa-icon></a>
      </div>
      <div class="col-md-6">
        <hr />
        <h5>Payment Methods</h5>
        <ul class="support">
          <li><a [routerLink]="['payment-methods']" fragment="1">What payment methods are available for UK customers?</a></li>
          <li><a [routerLink]="['payment-methods']" fragment="2">What payment methods are available for European customers?</a></li>
          <li><a [routerLink]="['payment-methods']" fragment="3">What payment methods are available for US customers?</a></li>
          <li><a [routerLink]="['payment-methods']" fragment="4">What payment methods are available for Australian customers?</a></li>
        </ul>
        <a class="small-3 fw-600" routerLink="payment-methods">Read more &nbsp;<fa-icon [icon]="['fas', 'angle-right']" size="xs"></fa-icon></a>
      </div>
      <div class="col-md-6">
        <hr />
        <h5>Wallet Services</h5>
        <ul class="support">
          <li><a [routerLink]="['wallet-services']" fragment="1">What digital currencies are supported by Opsonion?</a></li>
          <li><a [routerLink]="['wallet-services']" fragment="2">How do I send digital currency to another wallet?</a></li>
          <li><a [routerLink]="['wallet-services']" fragment="3">How do I receive digital currency from another wallet?</a></li>
          <li><a [routerLink]="['wallet-services']" fragment="4">Where can I find my wallet address?</a></li>
        </ul>
        <a class="small-3 fw-600" routerLink="wallet-services">Read more &nbsp;<fa-icon [icon]="['fas', 'angle-right']" size="xs"></fa-icon></a>
      </div>
      <div class="col-md-6">
        <hr />
        <h5>Security</h5>
        <ul class="support">
          <li><a [routerLink]="['security']" fragment="1">How is my bank account information protected?</a></li>
          <li><a [routerLink]="['security']" fragment="2">Is Opsonion regulated?</a></li>
          <li><a [routerLink]="['security']" fragment="3">How does Opsonion keep my digital assets safe?</a></li>
          <li><a [routerLink]="['security']" fragment="4">Is my Opsonion wallet address safe to display publicly?</a></li>
        </ul>
        <a class="small-3 fw-600" routerLink="security">Read more &nbsp;<fa-icon [icon]="['fas', 'angle-right']" size="xs"></fa-icon></a>
      </div>
      <div class="col-md-6">
        <hr />
        <h5>Task Administration</h5>
        <ul class="support">
          <li><a [routerLink]="['task-administration']" fragment="1">What types of tasks can I offer?</a></li>
          <li><a [routerLink]="['task-administration']" fragment="2">How do I distribute tokens once my campaign is finished?</a></li>
          <li><a [routerLink]="['task-administration']" fragment="3">How can I make sure my task requirements are easily to understand.</a></li>
          <li><a [routerLink]="['task-administration']" fragment="4">Do I need to review task submissions myself?</a></li>
        </ul>
        <a class="small-3 fw-600" routerLink="task-administration">Read more &nbsp;<fa-icon [icon]="['fas', 'angle-right']" size="xs"></fa-icon></a>
      </div>
    </div>
  </div>
</section>