<section class="section">
  <div class="container">
      <div *ngIf="!(isMobile | async)?.matches">
          <header class="section-header">
            <h2>Support</h2>
            <hr>
          </header>
        </div>
        <div *ngIf="(isMobile | async)?.matches">
          <header class="section-header" style="padding-bottom: 0px; padding-top: 70px">
            <h2>Support</h2>
            <hr>
          </header>
        </div>
    <div class="row gap-y">
      <div class="col-md-6">
        <h5>Account Management</h5>
        <ul class="support">
          <li><a href="#">How do I verify my account?</a></li>
          <li><a href="#">What is 2-factor authentication (2FA)?</a></li>
          <li><a href="#">I can't remember my password</a></li>
          <li><a href="#">How can I close my account?</a></li>
        </ul>
        <a class="small-3 fw-600" href="#">Read more &nbsp;<fa-icon [icon]="['fas', 'angle-right']" size="xs"></fa-icon></a>
      </div>
      <div class="col-md-6">
        <h5>Transactions</h5>
        <ul class="support">
          <li><a href="#">How do I buy digital assets?</a></li>
          <li><a href="#">How do I deposit fiat into my Opsonion account?</a></li>
          <li><a href="#">How do I sell or "cash out" my digital assets?</a></li>
          <li><a href="#">How long does a purchase or deposit take to complete?</a></li>
        </ul>
        <a class="small-3 fw-600" href="#">Read more &nbsp;<fa-icon [icon]="['fas', 'angle-right']" size="xs"></fa-icon></a>
      </div>
      <div class="col-md-6">
        <hr />
        <h5>Payment Methods</h5>
        <ul class="support">
          <li><a href="#">Payment methods for UK customers</a></li>
          <li><a href="#">Payment methods for European customers</a></li>
          <li><a href="#">Payment methods for US customers</a></li>
          <li><a href="#">Payment methods for Australian customers</a></li>
        </ul>
        <a class="small-3 fw-600" href="#">Read more &nbsp;<fa-icon [icon]="['fas', 'angle-right']" size="xs"></fa-icon></a>
      </div>
      <div class="col-md-6">
        <hr />
        <h5>Wallet Services</h5>
        <ul class="support">
          <li><a href="#">What digital currencies are supported by Opsonion?</a></li>
          <li><a href="#">How do I send digital currency to another wallet?</a></li>
          <li><a href="#">How do I receive digital currency from another wallet?</a></li>
          <li><a href="#">Where can I find my wallet address?</a></li>
        </ul>
        <a class="small-3 fw-600" href="#">Read more &nbsp;<fa-icon [icon]="['fas', 'angle-right']" size="xs"></fa-icon></a>
      </div>
      <div class="col-md-6">
        <hr />
        <h5>Security</h5>
        <ul class="support">
          <li><a href="#">How is my bank account information protected?</a></li>
          <li><a href="#">Is Opsonion regulated?</a></li>
          <li><a href="#">How does Opsonion keep my digital assets safe?</a></li>
          <li><a href="#">Is my Opsonion wallet address safe to display publicly?</a></li>
        </ul>
        <a class="small-3 fw-600" href="#">Read more &nbsp;<fa-icon [icon]="['fas', 'angle-right']" size="xs"></fa-icon></a>
      </div>
      <div class="col-md-6">
        <hr />
        <h5>Task Administration</h5>
        <ul class="support">
          <li><a href="#">What types of tasks can I offer?</a></li>
          <li><a href="#">How do I distribute tokens once my campaign is finished?</a></li>
          <li><a href="#">How can I make sure my task requirements are easily to understand.</a></li>
          <li><a href="#">Do I need to review task submissions myself?</a></li>
        </ul>
        <a class="small-3 fw-600" href="#">Read more &nbsp;<fa-icon [icon]="['fas', 'angle-right']" size="xs"></fa-icon></a>
      </div>
    </div>
  </div>
</section>