<button *ngIf="!(isMobile | async)?.matches && !referredById" class="btn btn-lg btn-block btn-google"
  (click)="googleSignIn()" type="button">
  Continue with Google
</button>
<button *ngIf="(isMobile | async)?.matches && !referredById" class="btn btn-lg btn-block btn-google"
  (click)="mobileGoogleSignIn()" type="button">
  Continue with Google
</button>

<button *ngIf="!(isMobile | async)?.matches && referredById" class="btn btn-lg btn-block btn-google"
  (click)="googleSignInWithReferral()">Continue with Google</button>
<button *ngIf="(isMobile | async)?.matches && referredById" class="btn btn-lg btn-block btn-google"
  (click)="mobileGoogleSignInWithReferral()">Continue with Google</button>

<button *ngIf="!(isMobile | async)?.matches && !referredById" class="btn btn-lg btn-block btn-facebook"
  (click)="facebookSignIn()" type="button">Continue with Facebook</button>
<button *ngIf="(isMobile | async)?.matches && !referredById" class="btn btn-lg btn-block btn-facebook"
  (click)="mobileFacebookSignIn()" type="button">Continue with Facebook</button>

<button *ngIf="!(isMobile | async)?.matches && referredById" class="btn btn-lg btn-block btn-facebook"
  (click)="facebookSignInWithReferral()" type="button">Continue with Facebook</button>
<button *ngIf="(isMobile | async)?.matches && referredById" class="btn btn-lg btn-block btn-facebook"
  (click)="mobileFacebookSignInWithReferral()" type="button">Continue with Facebook</button>