<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top no-select" style="top: 0">
  <div class="row">
    <div class="col-md-6">
      <div class="float-left">
        <img alt="logo-white" src="../../../../assets/img/logo-white.svg" style="height: 30px; width: 30px">
        <div (blur)="removeLineBreaks($event);
        saveWebsiteName($event);" (keydown.enter)="saveWebsiteName($event); $event.preventDefault()"
             ngbPopover="Website Name"
             triggers="mouseenter:mouseleave"
             [attr.contenteditable]="true" [attr.spellcheck]="false" class="website-name">{{ websiteName }}</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="float-right">
        <button class="btn btn-glass btn-primary" type="button">Publish</button>
        &nbsp;&nbsp;
        <span aria-expanded="false" class="dropdown-toggle no-caret"
              data-toggle="dropdown">
            <img *ngIf="!user.photoURL" alt="user" class="avatar avatar-xs" src="{{ photoURL }}">
            <img *ngIf="user.photoURL" alt="user" class="avatar avatar-xs" src="{{ user.photoURL }}">
        </span>
        <div class="dropdown-menu dropdown-menu-right">
          <a (click)="redirectToDashboard()" class="dropdown-item">Dashboard</a>
          <a (click)="openCreateAccountModal()" class="dropdown-item">Create Account</a>
          <a (click)="signOut()" class="dropdown-item">Log Out</a>
        </div>
      </div>
    </div>
  </div>
</nav>
