<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top no-select" style="top: 0">
  <div class="row">
    <div class="col-md-6">
      <div class="float-left shepherd-step-1">
        <a (click)="redirect()" href="#">
          <img alt="logo-white" src="../../../../assets/img/logo-white.svg" style="height: 30px; width: 30px">
        </a>
        <div (blur)="removeLineBreaks($event); saveWebsiteName($event);"
             (keydown.enter)="saveWebsiteName($event); $event.preventDefault()"
             [attr.contenteditable]="true"
             [attr.spellcheck]="false"
             blockNonAlphanumericCharacters
             class="website-name" ngbPopover="Website Name" triggers="mouseenter:mouseleave">{{ websiteName }}</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="float-right">
        <button class="btn btn-glass btn-primary shepherd-step-3" type="button">Publish</button>
        &nbsp;&nbsp;
        <span aria-expanded="false" class="dropdown-toggle no-caret"
              data-toggle="dropdown">
            <img *ngIf="!user.photoURL" alt="user" class="avatar avatar-xs" src="{{ photoURL }}">
            <img *ngIf="user.photoURL" alt="user" class="avatar avatar-xs" src="{{ user.photoURL }}">
        </span>
        <div class="dropdown-menu dropdown-menu-right">
          <ng-container *ngIf="isLoggedIn()">
            <a (click)="redirectToDashboard()" class="dropdown-item">Dashboard</a>
            <a (click)="signOut()" class="dropdown-item">Log Out</a>
          </ng-container>
          <ng-container *ngIf="!isLoggedIn()">
            <a (click)="openCreateAccountModal()" class="dropdown-item">Create Account</a>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</nav>
