<section class="section">
  <main class="main-content">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-xl-8 mr-md-auto py-8">
          <article>
            <h3 id="0">Account Management</h3>
            <br>
            <h6 id="1" data-provide="anchor">How do I verify my account?</h6>
            <p>
              Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium
              doloremque laudantium,
              totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
              sunt, explicabo.</p>
            <hr class="hr-dash">
            <h6 id="2" data-provide="anchor">What is 2-factor authentication (2FA)?</h6>
            <p>Two-factor (2FA) or multi-factor authentication (MFA) is an additional security layer for your account.
              It reduces the likelihood of having an account compromised by addressing the vulnerabilities of a
              standard password-only approach.
              At the point of authentication, a code that only a specific user has access to (typically sent to an
              immediately accessible device)
              will be required of the user following the standard login. This dual authentication method can be
              summarised as a combination of
              "something you have and something you know”.</p>
            <hr class="hr-dash">
            <h6 id="3" data-provide="anchor">I can't remember my password?</h6>
            <p>
              Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium
              doloremque laudantium,
              totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
              sunt, explicabo.</p>
            <hr class="hr-dash">
            <h6 id="4" data-provide="anchor">How can I close my account?</h6>
            <p>
              Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium
              doloremque laudantium,
              totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
              sunt, explicabo.</p>
          </article>
        </div>

        <div class="col-md-4 col-xl-3 d-none d-md-block">
          <aside class="sidebar sidebar-sticky" style="width: 255px;">
            <h6 class="sidebar-title">Questions</h6>
            <nav id="nav-scrollspy" class="nav flex-column">
              <a class="nav-link" href="#1">How do I verify my account?</a>
              <a class="nav-link" href="#2">What is 2-factor authentication (2FA)?</a>
              <a class="nav-link" href="#3">I can't remember my password</a>
              <a class="nav-link" href="#4">How can I close my account?</a>
            </nav>
          </aside>
        </div>
      </div>
    </div>
  </main>
</section>