.section-desktop {
  background-color: #F4F7FA !important;
  padding-top: 11rem;
  padding-bottom: 4rem;
}

.section-mobile {
  background-color: #f4f7fa !important;
  padding-top: 6.5rem;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 2rem;
}

.centered-content {
  margin: auto;
  text-align: center;
  padding-top: 3em;
}