<div class="component-toolbar-holder" style="display: flex; align-items: flex-start; justify-content: flex-end;">
  <div *ngIf="toggleComponentToolbarVisibility()" class="component-toolbar">
    <div aria-label="First group" class="btn-group mr-2" role="group">
      <div class="component-toolbar-text">
        <div style="display: inline-block">
          {{ componentId }}
        </div>
      </div>
      <button [attr.class]="'btn btn-secondary edit-component-button ' + componentName + '-edit-button'" type="button">
        <i [attr.class]="'ti-pencil edit-component-pencil ' + componentName + '-edit-pencil'"></i>
      </button>
      <button [attr.class]="'btn btn-secondary close-component-button ' + componentName + '-close-button'" type="button"
              (click)="deleteComponent()">
        <i [attr.class]="'ti-close close-component-cross ' + componentName + '-close-cross'"></i>
      </button>
    </div>
  </div>
</div>
<!-- TAGGED -->