<section class="section">
  <app-home-section-header title="Press"></app-home-section-header>
  <div class="container text-center">
    <div class="row gap-y col-md-12 col-xl-12 mx-auto">
      <div class="col-md-12 text-left">
        <p>Are you a member of the media? If yes, then we would be happy to chat with you about why Opsonion is the best
          no-code platform for creating, customising and deploying amazing web applications. Please get in touch <a
            href="mailto:hello@opsonion.com?subject=Press Enquiry">here</a>.</p>
        <br>
        <h4>Branding Guidelines</h4>
      </div>
      <div class="col-12 text-left" style="padding-right: 0">
        <h5>Colours</h5>
        <br>
        <div class="row gap-y">
          <div class="col-6 col-lg-4">
            <div class="bg-primary text-white lead p-5">Blue 1: #2055EC</div>
          </div>
          <div class="col-6 col-lg-4">
            <div class="text-white lead p-5" style="background: #4875EE">Blue 2: #4875EE</div>
          </div>
          <div class="col-6 col-lg-4">
            <div class="text-white lead p-5" style="background: #7193F0">Blue 3: #7193F0</div>
          </div>
          <div class="col-6 col-lg-4">
            <div class="text-white lead p-5" style="background: #323d47">Black #323D47</div>
          </div>
          <div class="col-6 col-lg-4">
            <div class="text-white lead p-5" style="background: #757575">Grey 1: #757575</div>
          </div>
          <div class="col-6 col-lg-4">
            <div class="text-black lead p-5" style="background: #E9ECF0">Grey 2: #E9ECF0</div>
          </div>
        </div>
        <br>
        <br>
        <h5>Assets</h5>
        <br>
        <div class="row gap-y">
          <div class="col-md-6 col-xl-4">
            <div class="product-3 mb-3">
              <a class="product-media" href="../../../../assets/img/logo.png" target=”_blank”>
                <img alt="product" src="../../../../assets/img/logo.png">
              </a>
            </div>
          </div>
          <div class="col-md-6 col-xl-4">
            <div class="product-3 mb-3">
              <a class="product-media" href="../../../../assets/img/opsonion.png" target=”_blank”>
                <img alt="product" src="../../../../assets/img/opsonion.png">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
