<div class="row">
  <form class="col-md-4 col-xl-4 mx-auto input-border" name="forgotPasswordForm" novalidate>
    <div class="form-group">
      <label style="width: 100%">
        <input [(ngModel)]="model.email" autocomplete="off" class="form-control form-control-input" name="email"
               (blur)="checkEmailInputError()" (ngModelChange)="checkEmailInputError()" placeholder="Email"
               required type="email">
      </label>
    </div>
    <div *ngIf="showEmailInputError" class="form-group">
      <small class="text-danger">Email is required</small>
    </div>
    <br>
    <button (click)="submitPasswordResetRequest()" class="btn btn-lg btn-block btn-primary" type="submit">Submit
    </button>
  </form>
</div>
