<app-builder-component-toolbar *ngIf="!previewMode" [componentId]="componentId" [componentName]="componentName">
</app-builder-component-toolbar>
<div [attr.id]="componentId">
  <div [ngClass]="setContextMenu()">
    <div (click)="setActiveEditComponent()" (dblclick)="clearActiveEditComponent()" [ngClass]="setComponentClass()">
      <div [ngClass]="containerClass" [ngStyle]="featuresContainerStyle">
        <div *ngIf='!!featuresItemArray' class="row" style="margin: 0 0 0 0; height: auto">
          <div *ngFor="let feature of featuresItemArray; let i = index" class="containerClass"
            [ngStyle]="featuresStyle">
            <h5 [ngStyle]="featuresHeaderStyle" [ngClass]="setFeatureTextClass()"
              id="{{ 'feature-header-' + componentId + i }}"
              (click)="selectFeatureText($event, 'feature-header-' + componentId + i, 'features-options-header')"
              [attr.contenteditable]="setContentEditable()">
              {{feature.header}}</h5>
            <p [ngStyle]="featuresSubheaderStyle" [ngClass]="setFeatureTextClass()"
              id="{{ 'feature-subheader-' + componentId + i }}"
              (click)="selectFeatureText($event, 'feature-subheader-' + componentId + i, 'features-options-subheader')"
              [attr.contenteditable]="setContentEditable()">
              {{feature.subheader}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
