<div [attr.id]="componentId">
  <app-builder-component-toolbar *ngIf="!previewMode" [componentId]="componentId"
                                 [componentName]="componentName"></app-builder-component-toolbar>
  <div [ngClass]="setContextMenu()">
    <div (click)="setActiveEditComponent()" (dblclick)="clearActiveEditComponent()" [ngClass]="setComponentClass()">
      <div class="row feature-row">
        <div class="col-md-4">
          <h5>{{ componentActive }}</h5>
          <p>Donec id elit non mi porta gravida at eget metus.</p>
        </div>
        <div class="col-md-4">
          <h5>Customisable</h5>
          <p>Donec id elit non mi porta gravida at eget metus.</p>
        </div>
        <div class="col-md-4">
          <h5>Clean</h5>
          <p>Donec id elit non mi porta gravida at eget metus.</p>
        </div>
      </div>
    </div>
  </div>
</div>
