<section class="section">
  <header class="section-header">
    <h2>Status</h2>
    <hr>
  </header>
  <div class="container text-center">
    <div class="row gap-y col-md-6 col-xl-6 mx-auto">
      <div class="col-md-12 text-left">
        <div class="alert alert-success" role="alert">
          All Systems Operational
        </div>
      </div>
      <div class="col-md-6 text-left">
        <p><strong>Website</strong></p>
      </div>
      <div class="col-md-6 text-right">
        <span class="badge badge-pale badge-success">Operational</span>
      </div>
      <div class="col-md-6 text-left">
        <p><strong>Mobile Application</strong></p>
      </div>
      <div class="col-md-6 text-right">
        <span class="badge badge-pale badge-success">Operational</span>
      </div>
      <div class="col-md-6 text-left">
        <p><strong>API</strong></p>
      </div>
      <div class="col-md-6 text-right">
        <span class="badge badge-pale badge-success">Operational</span>
      </div>
      <div class="col-md-6 text-left">
        <p><strong>Customer Support</strong></p>
      </div>
      <div class="col-md-6 text-right">
        <span class="badge badge-pale badge-success">Operational</span>
      </div>
      <div class="col-md-6 text-left">
        <p><strong>2FA</strong></p>
      </div>
      <div class="col-md-6 text-right">
        <span class="badge badge-pale badge-success">Operational</span>
      </div>
      <div class="col-md-6 text-left">
        <p><strong>Digital Assets</strong></p>
      </div>
      <div class="col-md-6 text-right">
        <span class="badge badge-pale badge-success">Operational</span>
      </div>
    </div>
  </div>
</section>