<section class="section">
  <main class="main-content">
    <div class="container">
      <div class="row">

        <div class="col-md-7 col-xl-8 mr-md-auto py-8">
          <article>
            <h3 id="0">Task Administration</h3>
            <br>
            <h6 id="1" data-provide="anchor">What types of tasks can I offer?</h6>
            <p>
              Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium
              doloremque laudantium,
              totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
              sunt, explicabo.</p>
            <hr class="hr-dash">
            <h6 id="2" data-provide="anchor">How do I distribute tokens once my campaign is finished?</h6>
            <p>
              Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium
              doloremque laudantium,
              totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
              sunt, explicabo.</p>
            <hr class="hr-dash">
            <h6 id="3" data-provide="anchor">How can I make sure my task requirements are easily to understand?</h6>
            <p>
              Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium
              doloremque laudantium,
              totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
              sunt, explicabo.</p>
            <hr class="hr-dash">
            <h6 id="4" data-provide="anchor">Do I need to review task submissions myself?</h6>
            <p>
              Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium
              doloremque laudantium,
              totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
              sunt, explicabo.</p>
          </article>
        </div>

        <div class="col-md-4 col-xl-3 d-none d-md-block">
          <aside class="sidebar sidebar-sticky" style="width: 255px;">
            <h6 class="sidebar-title" href="#0">Questions</h6>
            <nav id="nav-scrollspy" class="nav flex-column">
              <a class="nav-link" href="#1">What types of tasks can I offer?</a>
              <a class="nav-link" href="#2">How do I distribute tokens once my campaign is finished?</a>
              <a class="nav-link" href="#3">How can I make sure my task requirements are easily to understand?</a>
              <a class="nav-link" href="#4">Do I need to review task submissions myself?</a>
            </nav>
          </aside>
        </div>
      </div>
    </div>
  </main>
</section>