<div class="form-group" style="margin-top: 1.5em">
  <label id="navbar-layout-menu" style="color: rgba(255, 255, 255, 1)">Heading</label>
</div>
<div class="form-group" style="margin-bottom: 0.4em">
  <label style="color: rgba(255, 255, 255, 0.65)">Alignment</label>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="btn-group btn-group-full w-100">
      <button (click)="setHeadingAlignment('left')" class="btn btn-secondary" type="button"><i
          class="ti-align-left"></i></button>
      <button (click)="setHeadingAlignment('center')" class="btn btn-secondary" type="button"><i
          class="ti-align-center"></i></button>
      <button (click)="setHeadingAlignment('right')" class="btn btn-secondary" type="button"><i
          class="ti-align-right"></i></button>
      <button (click)="setHeadingAlignment('justify')" class="btn btn-secondary" type="button"><i
          class="ti-align-justify"></i></button>
    </div>
  </div>
</div>
<hr>
<div class="form-group" style="margin-bottom: .3em; margin-top: 1em">
  <label style="color: rgba(255, 255, 255, 0.65)">Container</label>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label>Top</label>
      <label style="width: 100%">
        <input (keyup)="setHeadingPaddingTop()" (ngModelChange)="setHeadingPaddingTop()"
          [(ngModel)]="headingPaddingTop" autocomplete="off" class="form-control" max="300" min="0" name="number"
          type="number">
      </label>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>Left</label>
      <label style="width: 100%">
        <input (keyup)="setHeadingPaddingLeft()" (ngModelChange)="setHeadingPaddingLeft()"
          [(ngModel)]="headingPaddingLeft" autocomplete="off" class="form-control" max="300" min="0" name="number"
          style="width: 100%" type="number">
      </label>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>Right</label>
      <label style="width: 100%">
        <input (keyup)="setHeadingPaddingRight()" (ngModelChange)="setHeadingPaddingRight()"
          [(ngModel)]="headingPaddingRight" autocomplete="off" class="form-control" max="300" min="0" name="number"
          style="width: 100%" type="number">
      </label>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>Bottom</label>
      <label style="width: 100%">
        <input (keyup)="setHeadingPaddingBottom()" (ngModelChange)="setHeadingPaddingBottom()"
          [(ngModel)]="headingPaddingBottom" autocomplete="off" class="form-control" max="300" min="0" name="number"
          style="width: 100%" type="number">
      </label>
    </div>
  </div>
  <div class="col-md-12" style="margin-top: 1em;">
    <label (click)="resetHeadingPaddingStyle()" class="btn btn-xl btn-block btn-secondary">
      <span>Reset To Default</span>
    </label>
  </div>
</div>
<hr>
<div class="form-group" style="margin-bottom: .3em; margin-top: 1em">
  <label style="color: rgba(255, 255, 255, 0.65)">Header</label>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label>Top</label>
      <label style="width: 100%">
        <input (keyup)="setHeadingHeaderPaddingTop()" (ngModelChange)="setHeadingHeaderPaddingTop()"
          [(ngModel)]="headingHeaderPaddingTop" autocomplete="off" class="form-control" max="300" min="0" name="number"
          type="number">
      </label>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>Left</label>
      <label style="width: 100%">
        <input (keyup)="setHeadingHeaderPaddingLeft()" (ngModelChange)="setHeadingHeaderPaddingLeft()"
          [(ngModel)]="headingHeaderPaddingLeft" autocomplete="off" class="form-control" max="300" min="0"
          name="number" style="width: 100%" type="number">
      </label>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>Right</label>
      <label style="width: 100%">
        <input (keyup)="setHeadingHeaderPaddingRight()" (ngModelChange)="setHeadingHeaderPaddingRight()"
          [(ngModel)]="headingHeaderPaddingRight" autocomplete="off" class="form-control" max="300" min="0"
          name="number" style="width: 100%" type="number">
      </label>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>Bottom</label>
      <label style="width: 100%">
        <input (keyup)="setHeadingHeaderPaddingBottom()" (ngModelChange)="setHeadingHeaderPaddingBottom()"
          [(ngModel)]="headingHeaderPaddingBottom" autocomplete="off" class="form-control" max="300" min="0"
          name="number" style="width: 100%" type="number">
      </label>
    </div>
  </div>
  <div class="col-md-12" style="margin-top: 1em;">
    <label (click)="resetHeadingHeaderPaddingStyle()" class="btn btn-xl btn-block btn-secondary">
      <span>Reset To Default</span>
    </label>
  </div>
</div>
<hr>
<div class="form-group" style="margin-bottom: .3em; margin-top: 1em">
  <label style="color: rgba(255, 255, 255, 0.65)">Text</label>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label>Top</label>
      <label style="width: 100%">
        <input (keyup)="setHeadingSubheaderPaddingTop()" (ngModelChange)="setHeadingSubheaderPaddingTop()"
          [(ngModel)]="headingSubheaderPaddingTop" autocomplete="off" class="form-control" max="300" min="0"
          name="number" type="number">
      </label>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>Left</label>
      <label style="width: 100%">
        <input (keyup)="setHeadingSubheaderPaddingLeft()" (ngModelChange)="setHeadingSubheaderPaddingLeft()"
          [(ngModel)]="headingSubheaderPaddingLeft" autocomplete="off" class="form-control" max="300" min="0"
          name="number" style="width: 100%" type="number">
      </label>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>Right</label>
      <label style="width: 100%">
        <input (keyup)="setHeadingSubheaderPaddingRight()" (ngModelChange)="setHeadingSubheaderPaddingRight()"
          [(ngModel)]="headingSubheaderPaddingRight" autocomplete="off" class="form-control" max="300" min="0"
          name="number" style="width: 100%" type="number">
      </label>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>Bottom</label>
      <label style="width: 100%">
        <input (keyup)="setHeadingSubheaderPaddingBottom()" (ngModelChange)="setHeadingSubheaderPaddingBottom()"
          [(ngModel)]="headingSubheaderPaddingBottom" autocomplete="off" class="form-control" max="300" min="0"
          name="number" style="width: 100%" type="number">
      </label>
    </div>
  </div>
  <div class="col-md-12" style="margin-top: 1em;">
    <label (click)="resetHeadingSubheaderPaddingStyle()" class="btn btn-xl btn-block btn-secondary">
      <span>Reset To Default</span>
    </label>
  </div>
</div>
<hr>
