<div id="components" style="margin-top: -30px; margin-bottom: 2px">&nbsp;</div>
<div class="form-group input-group">
  <div class="input-group-prepend">
    <span class="input-group-text"><i class="ti-search"></i></span>
  </div>
  <label for="search-components"></label>
  <input (keyup)="searchText.trim();" [(ngModel)]="searchText" class="form-control" id="search-components"
         placeholder="Search Components" type="text">
</div>
<div class="row">
  <ng-container *ngFor="let components of webComponents | filter: searchText | sort: 'name'">
    <div class="col-md-6 component-holder">
      <div class="card text-white bg-img justify-content-center component-icon"
           [attr.data-insert-html]="components.selector" [attr.data-src]="'../assets/img/component-icon.png'"
           data-overlay="6" draggable="true"
           (click)="clearActiveComponent()" (drag)="clearActiveComponent()"
           style="height: 100px; margin-bottom: 1em">
        <div class="card-body text-center flex-grow-0">
          <img alt="{{ components.name | lowercase }}-component"
               src="../assets/img/{{ components.name | lowercase }}-component-icon.png"
               style="height: 24px; width: 24px"/>
          <p class="card-title mb-0" style="font-size: 14px; padding-top: 1em; color: #EDF0F2">{{ components.name }}</p>
        </div>
      </div>
    </div>
  </ng-container>
</div>
