<app-builder-component-toolbar *ngIf="!previewMode" [componentId]="componentId" [componentName]="componentName">
</app-builder-component-toolbar>
<div [attr.id]="componentId">
  <div [ngClass]="setContextMenu()">
    <div (click)="setActiveEditComponent()" (dblclick)="clearActiveEditComponent()" [ngClass]="setComponentClass()">
      <header class="header" [ngStyle]='headingStyle'>
        <div class="container text-center">
          <h1 [ngClass]="setHeadingTextClass('display-4 mb-3')" [ngStyle]="headingHeaderStyle" [attr.contenteditable]="setContentEditable()">Awesome Stuff</h1>
          <p *ngIf="headingSubheaderCondition" [ngClass]="setHeadingTextClass('lead mb-5')" [ngStyle]="headingSubheaderStyle" [attr.contenteditable]="setContentEditable()" (click)="selectHeadingText($event, 'heading-subheader-' + componentId, 'heading-options-subheader')">Reading this means you must really want to know more about our secret sauce!</p>
          <a *ngIf="headingButtonCondition" [ngClass]="setHeadingTextClass('btn btn-lg btn-round btn-primary')" [attr.contenteditable]="setContentEditable()" [ngStyle]="headingButtonStyle">Learn more</a>
        </div>
      </header>
    </div>
  </div>
</div>
