<div class="navbar-colour-picker">
  <app-navbar-colour-picker *ngIf="activeEditComponent == navbar"></app-navbar-colour-picker>
</div>
<div class="footer-colour-picker">
  <app-footer-colour-picker *ngIf="activeEditComponent == footer"></app-footer-colour-picker>
</div>
<div class="features-colour-picker">
  <app-features-colour-picker *ngIf="activeEditComponent == features"></app-features-colour-picker>
</div>
<div class="hero-colour-picker">
  <app-hero-colour-picker *ngIf="activeEditComponent == hero"></app-hero-colour-picker>
</div>
