<div [ngClass]="toolbarClass">
  <div class="row">
    <div class="col-md-9">
      <div *ngIf="previewMode" style="padding-top: 2px">
        <button (click)="togglePreview()" class="btn btn-secondary toolbar-exit">
          Exit Preview
        </button>&nbsp;
      </div>
      <div *ngIf="!previewMode">
        <div *ngIf="activeEditComponent">
        <span *ngIf="toggleMenuItemVisibility(ACTIVE_COLOURS_SETTING)">
          <button (click)="setActiveEditSetting(ACTIVE_COLOURS_SETTING)" [ngClass]="toolbarButtonColoursStyle"
                  href="#" class="toolbar-colours">
          Colours
          </button>&nbsp;
        </span>
          <span *ngIf="toggleMenuItemVisibility(ACTIVE_COMPONENTS_SETTING)">
          <button (click)="setActiveEditSetting(ACTIVE_COMPONENTS_SETTING)"
                  [ngClass]="toolbarButtonComponentsStyle"
                  href="#" class="toolbar-components">
          Components
        </button>&nbsp;
        </span>
          <span *ngIf="toggleMenuItemVisibility(ACTIVE_LAYOUT_SETTING)">
          <button (click)="setActiveEditSetting(ACTIVE_LAYOUT_SETTING)" [ngClass]="toolbarButtonLayoutStyle" 
                  href="#" class="toolbar-layout">
          Layout
        </button>&nbsp;
        </span>
          <span *ngIf="toggleMenuItemVisibility(ACTIVE_OPTIONS_SETTING)">
          <button (click)="setActiveEditSetting(ACTIVE_OPTIONS_SETTING)" [ngClass]="toolbarButtonOptionsStyle"
                  href="#" class="toolbar-options">
          Options
        </button>
        </span>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="text-right">
        <button class="toolbar-orientation-desktop"
                (click)="setSecondaryToolbarButtonClass(ACTIVE_DESKTOP_ORIENTATION)"
                [ngClass]="toolbarButtonDesktopOrientation">
          <svg class="toolbar-orientation-desktop"
                aria-hidden="true" focusable="false" height="23"
                style="transform: translate(0px, 0px); margin-bottom: 3px"
                width="33">
            <path class="toolbar-orientation-desktop"
                  d="M7 4h19v14H7z" fill="currentColor" opacity=".3"></path>
            <path class="toolbar-orientation-desktop"
                  d="M29 19H1v1.563h.02C1.135 21.358 3.32 22 6 22h21c2.68 0 4.866-.642 4.98-1.437H32V19h-3zM6 3h21v16h2V3c0-1.1-.9-2-2-2H5.947C4.847 1 4 1.9 4 3v16h2V3z"
                  fill="currentColor"></path>
          </svg>
        </button>&nbsp;
        <button class="toolbar-orientation-tablet"
                (click)="setSecondaryToolbarButtonClass(ACTIVE_TABLET_ORIENTATION)"
                [ngClass]="toolbarButtonTabletOrientation">
          <svg class="toolbar-orientation-tablet"
                aria-hidden="true" focusable="false" height="24"
                style="transform: translate(0px, 0px); margin-bottom: 3px"
                width="20">
            <path class="toolbar-orientation-tablet"
                  d="M17 1H3c-1.1 0-2 .9-2 2v18c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V3c0-1.1-.9-2-2-2zm-6 21H9v-2h2v2zm6-2.952H3V3h14v16.048z"
                  fill="currentColor"></path>
            <path class="toolbar-orientation-tablet"
                  d="M4 4h12v14H4z" fill="currentColor" opacity=".3"></path>
          </svg>
        </button>&nbsp;
        <button class="toolbar-orientation-mobile"
                (click)="setSecondaryToolbarButtonClass(ACTIVE_MOBILE_ORIENTATION)"
                [ngClass]="toolbarButtonMobileOrientation">
          <svg class="toolbar-orientation-mobile"
                aria-hidden="true" focusable="false" height="20"
                style="transform: translate(0px, 0px); margin-bottom: 3px" width="14">
            <path class="toolbar-orientation-mobile"
                  d="M4 4h6v10H4z" fill="currentColor" opacity=".3"></path>
            <path class="toolbar-orientation-mobile"
                  d="M11 1H3c-1.1 0-2 .9-2 2v13.952C1 18.052 1.9 19 3 19h8c1.1 0 2-.947 2-2.048V3c0-1.1-.9-2-2-2zM8 18H6v-2h2v2zm3-3H3V3h8v12z"
                  fill="currentColor"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
