<div [ngStyle]="{ 'height': innerHeight + 'px' }" class="row sidebar-scroll"
     style="margin-top: -16px; margin-bottom: -72px; margin-right: 1px">
  <div class="col-md-12">&nbsp;</div>
  <div class="col-md-4">
    <strong>Image <span class="text-danger">*</span></strong>
    <br>
    <small>Maximum file size of 2MB</small>
  </div>
  <div class="col-md-8">
    <ng-container *ngIf="imageChangedEvent">
      <div class="image-preview">
        <image-cropper (imageCropped)="imageCropped($event)" [imageChangedEvent]="imageChangedEvent"
                       [maintainAspectRatio]="false"
                       [ngStyle]="{ 'max-height': imageHeight + 'px' }"
                       format="png"></image-cropper>
      </div>
      <div style="padding-top: 20px;">
        <button (click)="onCropImageButtonClick()" class="btn btn-secondary" type="button">Crop Image</button>&nbsp;
      </div>
    </ng-container>
    <ng-container *ngIf="!imageChangedEvent">
      <div class="image-preview">
        <img [ngStyle]="{ 'max-height': imageHeight + 'px' }" [src]="heroImageUrl" alt="{{ heroImageAlt }}">
      </div>
      <div style="padding-top: 20px;">
        <label class="btn btn-lg btn-secondary btn-file">
          <input (change)="fileChangeEvent($event)" accept="image/x-png,image/gif,image/jpeg" type="file"/>
          <span>Replace Image</span>
        </label>
      </div>
    </ng-container>
  </div>
  <div class="col-md-12">&nbsp;</div>
  <div class="col-md-4">
    <strong>Description <span class="text-danger">*</span></strong>
    <br>
    <small>Increase SEO by describing images displayed on your site.</small>
  </div>
  <div class="col-md-8">
    <label for="img-alt-text" style="display: none"></label>
    <input (ngModelChange)="setHeroImageAlt()" [(ngModel)]="heroImageAlt" class="form-control form-control-lg"
           id="img-alt-text" type="text">
  </div>
  <div class="col-md-12">&nbsp;</div>
</div>
<br>
