<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Create account</h5>
    <button (click)="onCloseButtonClick()" class="close" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <button (click)="googleSignIn()"
            class="btn btn-lg btn-block btn-secondary" type="button">
      Continue with Google
    </button>
    <button (click)="facebookSignIn()"
            class="btn btn-lg btn-block btn-secondary" type="button">Continue with Facebook
    </button>
    <button (click)="emailSignIn()"
            class="btn btn-lg btn-block btn-secondary" type="button">
      Continue with Email
    </button>
  </div>
  <div class="modal-footer">
    <button (click)="onCloseButtonClick()" class="btn btn-secondary" type="button">Close</button>
  </div>
</div>
