<section class="section">
  <div class="container">
    <form class="row gap-y">
      <!-- Transactions -->
      <div class="col-lg-8" style="margin-top: -1em">
        <h6 class="divider">January 2019</h6>
        <table class="table table-cart" style="background-color: #fff">
          <tbody valign="middle">
            <tr>
              <td>
                <h5>JAN</h5>
                <p>12</p>
              </td>
              <td style="width: 80px">
                <span class="iconbox iconbox-outline iconbox-lg">
                  <i class="ti-import"></i>
                </span>
              </td>
              <td style="width: auto">
                <h5>Received Bitcoin</h5>
                <p>From Bitcoin address</p>
              </td>
              <td>
                <h5>+0.08362493 BTC</h5>
                <p>236.21 GBP</p>
              </td>
            </tr>
            <tr>
              <td>
                <h5>JAN</h5>
                <p>09</p>
              </td>
              <td style="width: 80px">
                <span class="iconbox iconbox-outline iconbox-lg">
                  <i class="ti-export"></i>
                </span>
              </td>
              <td style="width: auto">
                <h5>Sent Bitcoin</h5>
                <p>To Bitcoin address</p>
              </td>
              <td>
                <h5>+0.08362493 BTC</h5>
                <p>236.21 GBP</p>
              </td>
            </tr>
            <tr>
              <td>
                <h5>JAN</h5>
                <p>05</p>
              </td>
              <td style="width: 80px">
                <span class="iconbox iconbox-outline iconbox-lg">
                  <i class="ti-import"></i>
                </span>
              </td>
              <td style="width: auto">
                <h5>Received Bitcoin</h5>
                <p>To Bitcoin address</p>
              </td>
              <td>
                <h5>+0.08362493 BTC</h5>
                <p>236.21 GBP</p>
              </td>
            </tr>
          </tbody>
        </table>
        <h6 class="divider">December 2018</h6>
        <table class="table table-cart" style="background-color: #fff">
          <tbody valign="middle">
            <tr>
              <td>
                <h5>DEC</h5>
                <p>12</p>
              </td>
              <td style="width: 80px">
                <span class="iconbox iconbox-outline iconbox-lg">
                  <i class="ti-import"></i>
                </span>
              </td>
              <td style="width: auto">
                <h5>Received Bitcoin</h5>
                <p>From Bitcoin address</p>
              </td>
              <td>
                <h5>+0.08362493 BTC</h5>
                <p>236.21 GBP</p>
              </td>
            </tr>
            <tr>
              <td>
                <h5>DEC</h5>
                <p>09</p>
              </td>
              <td style="width: 80px">
                <span class="iconbox iconbox-outline iconbox-lg">
                  <i class="ti-export"></i>
                </span>
              </td>
              <td style="width: auto">
                <h5>Sent Bitcoin</h5>
                <p>To Bitcoin address</p>
              </td>
              <td>
                <h5>+0.08362493 BTC</h5>
                <p>236.21 GBP</p>
              </td>
            </tr>
            <tr>
              <td>
                <h5>DEC</h5>
                <p>05</p>
              </td>
              <td style="width: 80px">
                <span class="iconbox iconbox-outline iconbox-lg">
                  <i class="ti-import"></i>
                </span>
              </td>
              <td style="width: auto">
                <h5>Received Bitcoin</h5>
                <p>To Bitcoin address</p>
              </td>
              <td>
                <h5>+0.08362493 BTC</h5>
                <p>236.21 GBP</p>
              </td>
            </tr>
          </tbody>
        </table>
        <h6 class="divider" *ngIf="this.showOldTransaction">November 2018</h6>
        <table class="table table-cart" style="background-color: #fff" *ngIf="this.showOldTransaction">
          <tbody valign="middle">
            <tr>
              <td>
                <h5>NOV</h5>
                <p>12</p>
              </td>
              <td style="width: 80px">
                <span class="iconbox iconbox-outline iconbox-lg">
                  <i class="ti-import"></i>
                </span>
              </td>
              <td style="width: auto">
                <h5>Received Bitcoin</h5>
                <p>From Bitcoin address</p>
              </td>
              <td>
                <h5>+0.08362493 BTC</h5>
                <p>236.21 GBP</p>
              </td>
            </tr>
            <tr>
              <td>
                <h5>NOV</h5>
                <p>09</p>
              </td>
              <td style="width: 80px">
                <span class="iconbox iconbox-outline iconbox-lg">
                  <i class="ti-export"></i>
                </span>
              </td>
              <td style="width: auto">
                <h5>Sent Bitcoin</h5>
                <p>To Bitcoin address</p>
              </td>
              <td>
                <h5>+0.08362493 BTC</h5>
                <p>236.21 GBP</p>
              </td>
            </tr>
            <tr>
              <td>
                <h5>NOV</h5>
                <p>05</p>
              </td>
              <td style="width: 80px">
                <span class="iconbox iconbox-outline iconbox-lg">
                  <i class="ti-import"></i>
                </span>
              </td>
              <td style="width: auto">
                <h5>Received Bitcoin</h5>
                <p>To Bitcoin address</p>
              </td>
              <td>
                <h5>+0.08362493 BTC</h5>
                <p>236.21 GBP</p>
              </td>
            </tr>
          </tbody>
        </table>
        <hr class="my-6">
        <a class="btn btn-block btn-secondary" (click)="showOlderTransactions()" *ngIf="!this.showOldTransaction">View
          Older Transactions</a>
        <a class="btn btn-block btn-secondary" (click)="hideOlderTransactions()" *ngIf="this.showOldTransaction">Hide
          Older Transactions</a>
      </div>
      <!-- Accounts -->
      <div class="col-lg-4">
        <table class="table table-cart table-hover">
          <tbody valign="middle">
            <tr>
              <td style="width: auto">
                <img src="assets/img/crypto-icons/btc.svg">
              </td>
              <td style="width: auto">
                <div class="text-left">
                  <h5>Bitcoin Wallet</h5>
                  <p>0.0000 BTC ≈ &pound;0.00</p>
                  <div style="padding-top: 1em">
                    <button type="button" class="btn btn-secondary" (click)="showSendBitcoinModal()">Send</button>
                    &nbsp;
                    <button type="button" class="btn btn-secondary" (click)="showReceiveBitcoinModal()">Receive</button>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td style="width: auto">
                <img src="assets/img/crypto-icons/eth.svg">
              </td>
              <td style="width: auto">
                <div class="text-left">
                  <h5>Ethereum Wallet</h5>
                  <p>0.0000 ETH ≈ &pound;0.00</p>
                  <div style="padding-top: 1em">
                    <button type="button" class="btn btn-secondary" (click)="showSendEthereumModal()">Send</button>
                    &nbsp;
                    <button type="button" class="btn btn-secondary" (click)="showReceiveEthereumModal()">Receive</button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
  </div>
</section>

<!-- Send Bitcoin -->
<div class="modal fade" #sendBitcoinModal id="sendBitcoinModal" tabindex="-1" role="dialog" aria-labelledby="sendBitcoinModalLabel"
  aria-hidden="!submitted">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sendBitcoinModalLabel">Send Bitcoin</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-tab">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active show" data-toggle="tab" href="#tab-btc-user"><strong>User</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab-btc-wallet"><strong>Wallet Address</strong></a>
          </li>
        </ul>
        <div class="tab-content p-4">
          <div class="tab-pane fade active show" id="tab-btc-user">
            <div class="form-group">
              <label>Recipient</label>
              <input class="form-control" type="text" placeholder="Enter a Opsonion username">
            </div>
            <div class="form-group">
              <label>Amount</label>
              <div class="row">
                <div class="col-md-5">
                  <div class="input-group">
                    <input type="text" class="form-control">
                    <div class="input-group-append">
                      <span class="input-group-text">GBP</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 text-center">
                  <h3><i class="ti-loop"></i></h3>
                </div>
                <div class="col-md-5">
                  <div class="input-group">
                    <input type="text" class="form-control">
                    <div class="input-group-append">
                      <span class="input-group-text">BTC</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="tab-btc-wallet">
            <div class="alert alert-primary" role="alert">
              A miner fee will be added for sends to BTC addresses. Miner fees do not go to Opsonion. To avoid miner
              fees, send to an Opsonion user.
            </div>
            <div class="form-group">
              <label>Recipient</label>
              <input class="form-control" type="text" placeholder="Enter a BTC address">
            </div>
            <div class="form-group">
              <label>Amount</label>
              <div class="row">
                <div class="col-md-5">
                  <div class="input-group">
                    <input type="text" class="form-control">
                    <div class="input-group-append">
                      <span class="input-group-text">GBP</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 text-center">
                  <h3><i class="ti-loop"></i></h3>
                </div>
                <div class="col-md-5">
                  <div class="input-group">
                    <input type="text" class="form-control">
                    <div class="input-group-append">
                      <span class="input-group-text">BTC</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Receive Bitcoin -->
<div class="modal fade" #receiveBitcoinModal id="receiveBitcoinModal" tabindex="-1" role="dialog" aria-labelledby="receiveBitcoinModalLabel"
  aria-hidden="!submitted">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="receiveBitcoinModalLabel">Receive Bitcoin</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-warning" role="alert">
          Only send Bitcoin (BTC) to this address. Sending any other digital asset, will result in permanent loss.
        </div>
        <div id="qrcode-holder" style="padding-top: 1em; padding-bottom: 1em;">
          <qrcode [qrdata]="'3MJfbE3JTtiEA7uKwz4KPgFLA8pDE9XBn9'" [size]="128" [level]="'M'"></qrcode>
        </div>
        <div class="form-group input-group">
          <input type="text" class="form-control" value="3MJfbE3JTtiEA7uKwz4KPgFLA8pDE9XBn9" disabled>
          <div class="input-group-append">
            <button class="btn btn-light" type="button">
              <i class="ti-clipboard"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Send Ethereum -->
<div class="modal fade" #sendEthereumModal id="sendEthereumModal" tabindex="-1" role="dialog" aria-labelledby="sendEthereumModalLabel"
  aria-hidden="!submitted">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sendEthereumModalLabel">Send Ethereum</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-tab">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active show" data-toggle="tab" href="#tab-eth-user"><strong>User</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab-eth-wallet"><strong>Wallet Address</strong></a>
          </li>
        </ul>
        <div class="tab-content p-4">
          <div class="tab-pane fade active show" id="tab-eth-user">
            <div class="form-group">
              <label>Recipient</label>
              <input class="form-control" type="text" placeholder="Enter a Opsonion username">
            </div>
            <div class="form-group">
              <label>Amount</label>
              <div class="row">
                <div class="col-md-5">
                  <div class="input-group">
                    <input type="text" class="form-control">
                    <div class="input-group-append">
                      <span class="input-group-text">GBP</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 text-center">
                  <h3><i class="ti-loop"></i></h3>
                </div>
                <div class="col-md-5">
                  <div class="input-group">
                    <input type="text" class="form-control">
                    <div class="input-group-append">
                      <span class="input-group-text">ETH</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="tab-eth-wallet">
            <div class="alert alert-primary" role="alert">
              A miner fee will be added for sends to ETH addresses. Miner fees do not go to Opsonion. To avoid miner
              fees, send to an Opsonion user.
            </div>
            <div class="form-group">
              <label>Recipient</label>
              <input class="form-control" type="text" placeholder="Enter a ETH address">
            </div>
            <div class="form-group">
              <label>Amount</label>
              <div class="row">
                <div class="col-md-5">
                  <div class="input-group">
                    <input type="text" class="form-control">
                    <div class="input-group-append">
                      <span class="input-group-text">GBP</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 text-center">
                  <h3><i class="ti-loop"></i></h3>
                </div>
                <div class="col-md-5">
                  <div class="input-group">
                    <input type="text" class="form-control">
                    <div class="input-group-append">
                      <span class="input-group-text">ETH</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Receive Ethereum -->
<div class="modal fade" #receiveEthereumModal id="receiveEthereumModal" tabindex="-1" role="dialog" aria-labelledby="receiveEthereumModalLabel"
  aria-hidden="!submitted">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="receiveEthereumModalLabel">Receive Ethereum</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-warning" role="alert">
          Only send Ethereum (ETH) to this address. Sending any other digital asset, will result in permanent loss.
        </div>
        <div id="qrcode-holder" style="padding-top: 1em; padding-bottom: 1em;">
          <qrcode [qrdata]="'0x8FC65145D0d1589147dCeF988d63CF06E7ee2CD5'" [size]="128" [level]="'M'"></qrcode>
        </div>
        <div class="form-group input-group">
          <input type="text" class="form-control" value="0x8FC65145D0d1589147dCeF988d63CF06E7ee2CD5" disabled>
          <div class="input-group-append">
            <button class="btn btn-light" type="button">
              <i class="ti-clipboard"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
