<div *ngIf="activeEditSetting == settingsName">
  <div class="form-group">
    <div class="row">
      <div class="col-md-6">
        <label style="color: rgba(255, 255, 255, 0.65)">Navigation</label>
      </div>
      <div class="col-md-6 text-right">
        <a (click)="openNewPageModal()" class="fw-600 fs-12" href="#">Add</a>
      </div>
    </div>
    <div [sortablejs]="navbarMenuOptions" style="padding-top: 1em">
      <div *ngFor="let navbarMenuOption of navbarMenuOptions; let i = index"
           class="row page-row-color page-row-option justify-content-center align-items-center"
           style="font-size: 0.8em">
        <div class="col-md-2" style="padding: 0.5em;">
          <button class="btn btn-square btn-options btn-block btn-lg btn-drag-menu" type="button">
            <i class="ti-menu"></i>
          </button>
        </div>
        <div class="col-md-8 row-color h-100 d-table">
          <div class="align-items-center d-table-cell align-middle" style="padding-left: 5px">
            {{ navbarMenuOption }}
          </div>
        </div>
        <div class="col-md-2">
          <div class="pages-dropdown" ngbDropdown placement="bottom">
            <button class="btn btn-square btn-options btn-block btn-lg btn-options-menu" id="pagesDropdown"
                    ngbDropdownToggle style="margin-left: -15px; background-color: transparent" type="button"><i
              class="ti-more-alt"></i></button>
            <div aria-labelledby="pagesDropdown" ngbDropdownMenu>
              <button (click)="openRenamePageModal(navbarMenuOption, i)" ngbDropdownItem>Rename</button>
              <button (click)="openDeletePageModal(navbarMenuOption, i)" ngbDropdownItem>Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
