<section class="section">
    <main class="main-content">
      <div class="container">
        <div class="row">
            <!--
              |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
              | Article
              |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
              !-->
            <div class="col-md-7 col-xl-8 mr-md-auto py-8">
              <article>
                <h3 id="0">Wallet Service Questions</h3>
                <br>
                <h6 id="1" data-provide="anchor">What digital currencies are supported by Opsonion?</h6>
                <p>
                  <!-- PLACEHOLDER TEXT --> Sed ut persÒpiciatis, unde omnis iste natus error sit voluptatem accusantium
                  doloremque laudantium,
                  totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
                  sunt, explicabo.</p>
    
                <hr class="hr-dash">
    
                <h6 id="2" data-provide="anchor">How do I send digital currency to another wallet?</h6>
                <p>
                  <!-- PLACEHOLDER TEXT --> Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium
                  doloremque laudantium,
                  totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
                  sunt, explicabo.</p>
    
                <hr class="hr-dash">
                
                <h6 id="3" data-provide="anchor">How do I receive digital currency from another wallet?</h6>
                <p>
                  <!-- PLACEHOLDER TEXT --> Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium
                  doloremque laudantium,
                  totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
                  sunt, explicabo.</p>
    
                <hr class="hr-dash">
    
                <h6 id="4" data-provide="anchor">Where can I find my wallet address?</h6>
                <p>
                  <!-- PLACEHOLDER TEXT --> Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium
                  doloremque laudantium,
                  totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
                  sunt, explicabo.</p>
    
              </article>
            </div>
    
    
            <!--
              |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
              | Sidebar
              |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
              !-->
            <div class="col-md-4 col-xl-3 d-none d-md-block">
              <aside class="sidebar sidebar-sticky" style="width: 255px;">
                <h6 class="sidebar-title" href="#0">Questions</h6>
                <nav id="nav-scrollspy" class="nav flex-column">
                  <a class="nav-link" href="#1">What digital currencies are supported by Opsonion?</a>
                  <a class="nav-link" href="#2">How do I send digital currency to another wallet?</a>
                  <a class="nav-link" href="#3">How do I receive digital currency from another wallet?</a>
                  <a class="nav-link" href="#4">Where can I find my wallet address?</a>
                </nav>
              </aside>
            </div>
          </div>
        </div>
      </main>
    </section>