<footer id="footer" class="footer py-7">
  <div class="container">
    <div class="row gap-y">
      <div class="col-xl-12 text-center">
        <div class="nav nav-center">
          <a class="nav-link" routerLink="press">Press</a>
          <a class="nav-link" routerLink="legal">Legal</a>
          <a class="nav-link" routerLink="contact">Contact</a>
        </div>
        <hr style="width: 15%">
        <small class="opacity-70" id="copyrightMessage">&copy; {{ today | date: 'yyyy' }} {{ copyrightMessage }}</small>
      </div>
    </div>
  </div>
</footer>