<section class="section">
  <div class="container">
    <div *ngIf="!(isMobile | async)?.matches">
      <header class="section-header" style="padding-top: 3em">
        <h2>Legal</h2>
        <hr>
      </header>
    </div>
    <div *ngIf="(isMobile | async)?.matches">
      <header class="section-header" style="padding-bottom: 0px; padding-top: 70px">
        <h2>Legal</h2>
        <hr>
      </header>
    </div>
    <div class="row gap-y">
      <div class="col-md-12">
        <h3>Introduction</h3>
        <p>This Privacy Policy (“Policy”) governs processing by Opsonion Limited (Opsonion, “we”, “us”) of 
        information, including personal data, relating to the data subjects ("you", "User") of the 
        opsonion.com website ("Site") and other services provided by us, including but not limited to our 
        digital currency purchase service (hereinafter “Service”). This privacy policy applies to the Site, 
        and all products and Services offered by us.</p>
        <p>Opsonion Limited is a company, organised and existing under the laws of the United Kingdom, and 
          having its principal place of business at Dagenham, London. It is registered with Registrar of 
          Companies under number 11824507.</p>
        <p>Our Policy covers the following questions:</p>
        <ul>
          <li>Information we may process, alogside the legal basis and purposes of processing</li>
          <li>How we use collected information</li>
          <li>How we share collected information</li>
          <li>How we store and secure collected information</li>
          <li>How we transfer collected information</li>
          <li>Rights of users</li>
          <li>Changes to this Privacy Policy</li>
          <li>What if I do not want to accept this Privacy Policy?</li>
          <li>Contacts</li>
        </ul>
      </div>
    </div>
  </div>
</section>