<div class="row">
  <div class="col-md-4">
    <strong>Change Password</strong>
    <br>
    <small>
      Change your password or recover your current one.
    </small>
  </div>
  <div class="col-md-8">
    <button (click)="changePassword()" *ngIf="isPasswordChangeEnabled" class="btn btn-xs btn-secondary"
            type="button">Change
      Password
    </button>
    <button *ngIf="!isPasswordChangeEnabled" class="btn btn-xs btn-secondary" disabled
            type="button">Change Password
    </button>
  </div>
</div>
