<div class="row">
  <div class="col-md-4">
    <strong>Credit Card</strong>
    <br>
    <small>Add a card so you can make extra purchases.</small>
  </div>
  <div class="col-md-6">
    <div style="padding-bottom: 0.5em">
      You currently have no credit cards on file.
    </div>
    <button class="btn btn-xs btn-secondary">Add Card</button>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-4">
    <strong>Subscriptions</strong>
    <br>
    <small>Pick an account plan that fits your workflow.</small>
  </div>
  <div class="col-md-6">
    <div style="padding-bottom: 0.5em">
      You currently have no active subscriptions.
    </div>
    <button class="btn btn-xs btn-secondary">Upgrade</button>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-4">
    <strong>Credits</strong>
    <br>
    <small>Enter a voucher code to redeem any credits.</small>
  </div>
  <div class="col-md-6">
    <div style="padding-bottom: 0.5em">
      You currently have <strong>0</strong> Opsonion Credits.
    </div>
    <button class="btn btn-xs btn-secondary">Redeem Code</button>
  </div>
</div>
