<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Select image</h5>
    <button (click)="onCloseButtonClick()" class="close" type="button">
      <span aria-hidden="true" class="builder-modal-image-select-cancel">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ul class="nav nav-tabs" role="tablist">
      <li *ngIf="library" class="nav-item" [ngClass]='libraryTabClass'>
        <a class="nav-link active" data-toggle="tab" href="#tab-graphics">Graphics</a>
      </li>
      <li *ngIf="photos" class="nav-item" [ngClass]='photosTabClass'>
        <a class="nav-link" data-toggle="tab" href="#tab-unsplash">Photos</a>
      </li>
      <li *ngIf="upload" class="nav-item" [ngClass]='uploadTabClass'>
        <a class="nav-link" data-toggle="tab" href="#tab-upload">Upload</a>
      </li>
    </ul>
    <div class="tab-content p-4" style="margin-left: -1rem; margin-right: -1rem; padding-bottom: 0">
      <div *ngIf="library" class="tab-pane fade show active" [ngClass]='libraryPaneClass' id="tab-graphics">
        <app-builder-select-image-library componentId="{{componentId}}" parentKey="{{parentKey}}"></app-builder-select-image-library>
      </div>
      <div *ngIf="photos" class="tab-pane fade" [ngClass]='photosPaneClass' id="tab-unsplash">
        <app-builder-select-image-photos componentId="{{componentId}}" parentKey="{{parentKey}}"></app-builder-select-image-photos>
      </div>
      <div *ngIf="upload" class="tab-pane fade" [ngClass]='uploadPaneClass' id="tab-upload">
        <app-builder-select-image-upload componentId="{{componentId}}" parentKey="{{parentKey}}"></app-builder-select-image-upload>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button (click)="onConfirmButtonClick()"
            class="builder-modal-image-select-save btn btn-secondary" type="button">Save
    </button>&nbsp;
    <button (click)="onCloseButtonClick()"
            class="builder-modal-image-select-cancel btn btn-secondary" type="button">Cancel
    </button>
  </div>
</div>
