section {
  background-color: #F4F7FA !important;
  padding-top: 11rem;
  padding-bottom: 3rem;
}

.pricing-3 {
  border-radius: 0px;
}

.badge-secondary {
  color: #A09CA8;
  background-color: #fff;
  border: 1px solid #D9D8DE;
}

.badge-secondary:hover {
  background-color: #e9ecf0;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.pricing-3 {
  padding: 1rem;
  width: 17.5rem;
  height: 10rem;
  display:table-cell;
  vertical-align:middle;
}

.table-cart {
  background-color: #fff;
}