<section class="section">
  <div class="container">
    <div class="row gap-y">
      <div class="col-md-12">
        <!-- Task title header -->
        <table class="table table-cart" style="background-color: #fff;">
          <tbody>
            <tr>
              <td style="width: 278px; padding: 1.25rem;" class="text-center">
                <div class="pricing-3 popular align-items-center">
                  <h4>236.21 GBP</h4>
                  <small class="text-lighter">0.08362493 BTC</small>
                </div>
              </td>
              <td style="width: auto; vertical-align: top; padding-left: 1rem; padding-top: 2rem; padding-bottom: 2rem"
                class="text-left">
                <div>
                  <h3>Uniswap logo design</h3>
                  <div style="padding-top: 0.25em">
                    <span class="badge badge-pill badge-secondary">ethereum</span>&nbsp;
                    <span class="badge badge-pill badge-secondary">logo</span>&nbsp;
                    <span class="badge badge-pill badge-secondary">illustration</span>&nbsp;
                    <span class="badge badge-pill badge-secondary">design</span>&nbsp;
                    <span class="badge badge-pill badge-secondary">creative</span>
                  </div>
                  <div style="padding-top: 1em">
                    <div class="row">
                      <div class="col-md-6">
                        <span style="line-height: 1.25em; font-size: 0.8rem"><i class="ti-bar-chart" style="padding-right: 0.5em"></i><strong><span
                              class="text-dark">Beginner</span></strong> difficulty</span><br>
                        <span style="line-height: 1.25em; font-size: 0.8rem"><i class="ti-time" style="padding-right: 0.5em"></i><strong><span
                              class="text-dark">a month</span></strong> remaining</span><br>
                      </div>
                      <div class="col-md-6">
                        <span style="line-height: 1.25em; font-size: 0.8rem"><i class="ti-upload" style="padding-right: 0.5em"></i><strong><span
                              class="text-dark">0</span></strong> applications</span><br>
                        <span style="line-height: 1.25em; font-size: 0.8rem"><i class="ti-loop" style="padding-right: 0.5em"></i><strong><span
                              class="text-dark">3 revisions</span></strong> expected</span>
                      </div>
                    </div>


                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- Task description body -->
        <div class="row">
          <div class="col-lg-3">
            <table class="table table-cart">
              <tbody valign="middle">
                <tr>
                  <td style="width: auto">
                    <div class="row text-center" style="margin-bottom: 1em">
                      <div class="col-md-12">
                        <img src="https://pbs.twimg.com/profile_images/1078036367748354073/xc7KVRiN_400x400.jpg" alt="..."
                          class="rounded-circle">
                        <div style="padding-top: 0.25em">
                          <a routerLink="/user/1" class="user-link">@darrellekow</a>
                          <div style="padding-top: 1em; padding-bottom: 2em">
                            <button type="button" class="btn btn-secondary" (click)="showMessage()">Message</button>
                          </div>
                          <div class="text-left">
                            <p>
                              <strong>United Kingdom</strong><br>
                              03:04 pm<br><br>
                              <strong>1 task posted</strong><br>
                              0% hire rate, 1 open task<br><br>
                              Member since Jan 19, 2019<br>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-lg-9">
            <table class="table table-cart" style="background-color: #fff">
              <tbody>
                <tr>
                  <td style="width: 100%; padding-top: 1.5rem; padding-bottom: 1.5rem" class="text-left">
                    <div class="row">
                      <div class="col-md-6">
                        <button type="button" class="btn btn-square btn-secondary" (click)="showShareOptions()"><i
                            class="ti-share"></i></button>&nbsp;
                        <button type="button" class="btn btn-square btn-secondary" (click)="showEditOptions()"><i class="ti-pencil-alt2"></i></button>&nbsp;
                        <button type="button" class="btn btn-square btn-secondary" (click)="showReportOptions()"><i
                            class="ti-flag"></i></button>
                      </div>
                      <div class="col-md-6 text-right">
                        <button type="button" class="btn btn-primary" (click)="showApplyTask()">Apply</button>
                      </div>
                    </div>
                    <hr>
                    <h5>Description</h5>
                    <br>
                    <p>The best submission will be adapted, modified, or used as a source of inspiration for an updated
                      Uniswap logo.</p>
                    <p>See details here: <a href="https://twitter.com/UniswapExchange/status/1083834309797203970">https://twitter.com/UniswapExchange/status/1083834309797203970</a>.</p>
                    <br>
                    <p>
                      <span>Additional sources of inspiration:
                        <ul>
                          <li><a href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/apple/81/unicorn-face_1f984.png">https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/apple/81/unicorn-face_1f984.png</a></li>
                          <li><a href="https://uniswap.io/">https://uniswap.io/</a></li>
                          <li><a href="https://uniswap.exchange/swap">https://uniswap.exchange/swap</a></li>
                        </ul>
                      </span>
                    </p>
                    <hr>
                    <h5>Requirements</h5>
                    <br>
                    <p>
                      <span>
                        <ul>
                          <li>Uses Uniswap pink color #DC6BE5</li>
                          <li>Contains some degree of unicorn</li>
                          <li>Looks awesome</li>
                        </ul>
                      </span>
                    </p>
                    <hr>
                    <h5>Submission Criteria</h5>
                    <br>
                    <p>
                      <span>
                        <ul>
                          <li>Uses Uniswap pink color #DC6BE5</li>
                          <li>Contains some degree of unicorn</li>
                          <li>Looks awesome</li>
                        </ul>
                      </span>
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Report -->
<div class="modal fade" #showReportModal id="showReportModal" tabindex="-1" role="dialog" aria-labelledby="reportModalLabel"
  aria-hidden="!submitted">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reportModalLabel">Report</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Choose a reason for reporting this task. We won't tell <strong>darrellekow</strong> who reported them.
        <div class="custom-controls-stacked" style="padding-top: 1em">
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" name="radio1">
            <label class="custom-control-label">It's spam</label>
            <!--
              We use spam reports as a signal to understand problems we're having with spam on 
              Opsonion. If you think this post should be removed, mark it as inappropriate.
            -->
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" name="radio1">
            <label class="custom-control-label">Contains nudity or pornography</label>
            <!--
              Report as nudity or pornography?
              We remove:
              - Photos or videos of sexual intercourse
              - Posts showing sexual intercourse, genitals or close-ups of fully-nude buttocks
              - Posts of nude or partially nude children
              If you report someone's post, Opsonion doesn't tell them who reported it.
              If someone is in immediate danger, call local emergency services. Don't wait.
            -->
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" name="radio2">
            <label class="custom-control-label">Hate speech or symbols</label>
            <!--
              Report as hate speech or symbols?
              We remove:
              - Photos of hate speech or symbols, like swastikas or white power hand signs
              - Posts with captions that encourage violence or attack anyone based on who they are
              - Specific threats of physical harm, theft or vandalism
              If you report someone's post, Opsonion doesn't tell them who reported it.
              If someone is in immediate danger, call local emergency services. Don't wait.
            -->
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" name="radio2">
            <label class="custom-control-label">Violence or threat of violence</label>
            <!--
              Report as violence or threat of violence?
              We remove:
              - Photos or videos of extreme graphic violence
              - Posts that encourage violence or attacks anyone based on their religious, ethnic or sexual background
              - Specific threats of physical harm, theft, vandalism or financial harm
              If you report someone's post, Instagram doesn't tell them who reported it.
              If someone is in immediate danger, call local emergency services. Don't wait.
            -->
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" name="radio2">
            <label class="custom-control-label">Promotion of drugs</label>
            <!--
              Report as sale or promotion of drugs?
              We remove:
              - Posts promoting the use of hard drugs
              - Posts intended to sell or distribute drugs
              If you report someone's post, Instagram doesn't tell them who reported it.
              If someone is in immediate danger, call local emergency services. Don't wait.
            -->
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" name="radio2">
            <label class="custom-control-label">Harrassment or bullying</label>
            <!--
              Report as harassment or bullying?
              We remove:
              - Posts that contain credible threats
              - Content that targets people to degrade or shame them
              - Personal information shared to blackmail or harass
              If you report someone's post, Instagram doesn't tell them who reported it.
              If someone is in immediate danger, call local emergency services. Don't wait.            
            -->
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" name="radio2">
            <label class="custom-control-label">Intellectual property violation</label>
            <!-- 
              We remove posts that include copyright or trademark infringement. If you report 
              someone's post, Opsonion doesn't tell them who reported it. 
            -->
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" name="radio2">
            <label class="custom-control-label">Self injury</label>
            <!-- 
              We remove posts encouraging or promoting self injury, which includes suicide, 
              cutting and eating disorders. We may also remove posts identifying victims of 
              self injury if the post attacks or makes fun of them. If you report someone's 
              post, Opsonion doesn't tell them who reported it. If someone is in immediate 
              danger, call local emergency services. Don't wait.
            -->
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Submit</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Share -->
<div class="modal fade" #showShareModal id="showShareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel"
  aria-hidden="!submitted">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="shareModalLabel">Share</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-block btn-light">Facebook</button>
        <button type="button" class="btn btn-block btn-light">Twitter</button>
        <button type="button" class="btn btn-block btn-light">Google</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Apply for Task -->
<div class="modal fade" #showApplyTaskModal id="show" tabindex="-1" role="dialog" aria-labelledby="applyTaskModalLabel"
  aria-hidden="!submitted">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="applyTaskModalLabel">Apply</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group" style="margin-bottom: 0px">
          <textarea class="form-control" placeholder="Tell the client why you are the best person for this task..." rows="3"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Submit</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Message -->
<div class="modal fade" #showMessageModal id="show" tabindex="-1" role="dialog" aria-labelledby="messageModal"
  aria-hidden="!submitted">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="messageModalLabel">Message @darrellekow</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="height: 300px">
      </div>
      <div class="modal-body" style="background: #FAFBFB">
        <div class="row">
          <div class="col-md-9">
            <textarea style="resize: none;" class="form-control" placeholder="Your message" rows="3"></textarea>
          </div>
          <div class="col-md-3">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>