/* Content editable */

[contenteditable]:focus {
  outline: 0 solid transparent !important;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background: #DDE2E8;
}

/* Component */

.component-border {
  border: 1px solid transparent !important;
  transform: scale(0.95, 0.95) translate3d(0, 0, 0);
}

.component-border-placeholder {
  border: 1px solid transparent !important;
  transform: scale(0.95, 0.95) translate3d(0, 0, 0);
}

.component-border:hover {
  cursor: pointer !important;
  border: 1px solid #00d9e1 !important;
  transition: all .5s ease;
  transform: scale(1, 1) translate3d(0, 0, 0);
}

.component-border-placeholder:hover {
  border: 1px solid transparent !important;
  transform: scale(1, 1) translate3d(0, 0, 0);
  overflow: hidden;
}

.component-border-active {
  border: 1px solid #4285F4 !important;
  transition: all .5s ease;
  transform: scale(1, 1) translate3d(0, 0, 0);
}

/* Navbar */

.nav-link-preview, .nav-link-active,
.nav-logo-brand-preview, .nav-logo-brand-active,
.nav-logo-image-preview, .nav-logo-image-active {
  border: 1px solid transparent;
}

.nav-link-active:hover, .nav-link-edit,
.nav-logo-brand-active:hover, .nav-brand-edit,
.nav-logo-image-active:hover, .nav-image-edit {
  border: 1px solid #00d9e1;
}

.nav-logo-brand-active:read-write:focus {
  outline: none;
}

/* Hero */

.hero-edit, .hero-image-preview, .hero-image-active,
.hero-heading-preview, .hero-heading-active,
.hero-subheading-preview, .hero-subheading-active,
.hero-button-preview, .hero-button-active {
  border: 1px solid transparent;
}

.hero-edit:hover, .hero-image-active:hover, .hero-image-edit,
.hero-heading-active:hover, .hero-heading-edit,
.hero-subheading-active:hover, .hero-subheading-edit,
.hero-button-active:hover, .hero-button-edit {
  border: 1px solid #00d9e1;
}

.hero-heading-preview, .hero-heading-active,
.hero-heading-active:hover, .hero-heading-edit {
  margin-bottom: 10px;
}

/* No select */

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Drop box */

.drop-box {
  height: 10px;
}

.drop-box-active {
  height: 50px;
  background-color: #CCCCCC;
}

/* Component toolbar */

.component-toolbar {
  display: inline-block;
}

.component-toolbar > div > button {
  background-color: #4285F4 !important;
  border-color: #4285F4 !important;
  border-bottom: 0 !important;
  color: #FFFFFF !important;
  margin-right: 0 !important;
}

.component-toolbar > div {
  margin-right: 0 !important;
}

.component-toolbar > div > button:hover {
  box-shadow: none;
  opacity: 0.8;
}

.component-toolbar > div > .btn {
  border-radius: 0 !important;
  padding: 0.25em 1em !important;
}

.component-toolbar-text {
  font-family: 'Avenir Next Regular', sans-serif;
  font-size: 11px;
  background-color: #4285F4;
  color: #FFFFFF;
  padding-left: 15px;
  padding-right: 15px;
}

/* Features */

.features-heading-preview, .features-heading-active,
.features-subheading-preview, .features-subheading-active {
  border: 1px solid transparent;
}

.features-heading-active:hover, .features-heading-edit,
.features-subheading-active:hover, .features-subheading-edit {
  border: 1px solid #00d9e1;
}

/* Context menu */

.context-menu-item:hover {
  background-color: #4285F4 !important;
}

/* Footer */

.footer-copyright-preview, .footer-copyright-active {
  border: 1px solid transparent;
  transition: unset;
}

.footer-copyright-active:hover, .footer-copyright-edit {
  border: 1px solid #00d9e1;
  padding: 12px 5px !important;
  cursor: pointer;
}
