body, html {
  overflow-x: hidden;
  margin-top: 0;
}

div {
  display: block;
}

.fw-200 {
  font-weight: bold !important;
}

/* Forms */

.form-input-background-image {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 16px 18px;
  background-position: 98% 50%;
}

/* Navbar */

.navbar {
  top: 0;
  position: unset;
}

.navbar-toggler {
  margin-right: 0;
}

.nav-item {
  margin: 0.25em;
}

.nav-item a {
  transition: unset;
}

.nav-item a:hover {
  cursor: pointer;
}

@media (max-width: 576px) {
  .navbar-brand {
    width: 70% !important;
  }
}

#navbar-logo-image:hover {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .nav-item > a {
    padding-left: 0 !important;
  }
}

/* Hero */

.jumbotron {
  background-color: unset;
  border-radius: 0;
}

@media only screen and (max-width: 768px) {
  .hero-heading-active, .hero-heading-preview {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
}

/* Features */

@media only screen and (max-width: 768px) {
  .feature-item {
    padding: 0 !important;
  }
}

/* Footer */

@media only screen and (max-width: 768px) {
  footer {
    padding-top: 30px !important;
  }
}

footer > div {
  font-family: unset !important;
}

.footer-page-links span:last-child {
  padding-right: 0 !important;
  margin-right: 0 !important;
}

.footer-social-links span:last-child {
  padding-right: 0 !important;
  margin-right: 0 !important;
}

.footer-page-links:hover {
  cursor: pointer;
}

.footer-social-links span {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: inherit;
  font-size: 1rem;
  border-radius: 3px;
  opacity: 0.8;
}

.footer-social-links span:hover {
  opacity: 1;
}

