<div *ngIf="elementSettings.sectionHeader" class="form-group" style="margin-bottom: 1em; margin-top: 1em">
  <label style="color: rgba(255, 255, 255, 0.65)">{{elementSettings.sectionHeader}}</label>
</div>
<div class="row">
  <div *ngFor="let option of elementSettings.optionSettings; let i = index" class="col-md-6" style="margin-bottom: 1em;">
    <div (click)="setOptionValue(option?.update, i)" [ngClass]="setComponentLayoutSelectorClass(i)"
      style="height: 80px">
      <div style="width: 75%">
        <img alt="{{option.alt}}" src="{{option.src}}">
      </div>
    </div>
  </div>
</div>
