<div *ngIf="elementSettings.sectionHeader" class="form-group" style="margin-bottom: 1em; margin-top: 1em">
  <label style="color: rgba(255, 255, 255, 0.65)">{{elementSettings.sectionHeader}}</label>
</div>
<div class="row">
  <div *ngFor="let option of elementSettings.optionSettings" class="col-md-6">
    <div (click)="setOptionValue(option.value)" [ngClass]="setComponentLayoutSelectorClass(option.value)"
      style="height: 80px">
      <div style="width: 75%">
        <img alt="{{option.alt}}" src="{{option.src}}">
      </div>
    </div>
  </div>
  <br>
  <div class="col-md-12" style="padding-top: 2em">
    <label (click)="resetOptionValue()" class="btn btn-xl btn-block btn-secondary">
      <span>Reset To Default</span>
    </label>
  </div>
</div>
