<app-builder-component-toolbar *ngIf="!previewMode" [componentId]="componentId" [componentName]="componentName">
</app-builder-component-toolbar>
<div [attr.id]="componentId" [ngClass]="setContextMenu()">
  <!-- Default --->
  <footer (click)="setActiveEditComponent()" (dblclick)="clearActiveEditComponent()" *ngIf="footerComponentLayout === 0"
    [ngClass]="setComponentClass()" [ngStyle]="footerStyle">
    <div *ngIf="checkFooterSocialLinks()" [ngClass]="footerAlignmentClass">
      <ng-container *ngTemplateOutlet="footerSocialsTemplate"></ng-container>
    </div>
    <div *ngIf="checkIfVisibleFooterMenuOptions()" [ngClass]="footerAlignmentClass" class="footer-page-links"
      [ngStyle]="setContainerStyle(footerPageLinksStyle)">
      <ng-container *ngFor="let footerMenuOption of footerMenuOptions; let i = index">
        <span (click)="selectFooterLink(i, footerMenuOption)" *ngIf="checkPageLinkStyle(footerMenuOption)"
          [innerText]="displayFooterMenuOption(footerMenuOption)" [ngStyle]="footerPageLinksStyle"></span>
      </ng-container>
    </div>
    <div [ngClass]="footerAlignmentClass">
      <div [ngStyle]="footerCopyrightStyle">
        <span (click)="selectFooterCopyright($event, 'footer-copyright')"
          [class]="setActiveElementStyle(activeElement, 'footer-copyright')" [innerText]="copyrightText"
          [ngClass]="setFooterCopyrightClass()" id="footer-copyright-1"></span>
      </div>
    </div>
  </footer>
  <!-- Layout 1 --->
  <footer (click)="setActiveEditComponent()" (dblclick)="clearActiveEditComponent()" *ngIf="footerComponentLayout === 1"
    [ngClass]="setComponentClass()" [ngStyle]="footerStyle">
    <div class="row">
      <div class="col-md-4 text-left">
        <div [ngStyle]="footerCopyrightStyle">
          <span (click)="selectFooterCopyright($event, 'footer-copyright')"
            [class]="setActiveElementStyle(activeElement, 'footer-copyright')" [ngClass]="setFooterCopyrightClass()"
            id="footer-copyright-2">
            Copyright &copy; {{ today | date: 'yyyy' }}
          </span>
        </div>
      </div>
      <ng-container>
        <div [class]="setPagesLayoutOneClass()">
          <div *ngIf="checkIfVisibleFooterMenuOptions()" class="footer-page-links"
          [ngStyle]="setContainerStyle(footerPageLinksStyle)">
            <ng-container *ngFor="let footerMenuOption of footerMenuOptions">
              <span *ngIf="checkPageLinkStyle(footerMenuOption)" [innerText]="displayFooterMenuOption(footerMenuOption)"
                [ngStyle]="footerPageLinksStyle"></span>
            </ng-container>
          </div>
        </div>
        <div class="col-md-4 text-right">
          <ng-container *ngTemplateOutlet="footerSocialsTemplate"></ng-container>
        </div>
      </ng-container>
    </div>
  </footer>
</div>


<ng-template #footerSocialsTemplate>
  <div [ngStyle]="footerSocialLinksContainerStyle" class="footer-social-links">
    <ng-container *ngFor="let social of footerSocialLinks | keyvalue" >
      <span (click)="openUrlInNewTab(social.value)" *ngIf="!!social.value" [attr.data-href]="social.value"
        [ngStyle]="footerSocialLinksStyle"><i [class]="setSocialsClass(social.key)"></i></span></ng-container>
  </div>
</ng-template>
