<header id="home" [ngClass]="headerHeight$ | async">
  <div class="container">
    <div [ngClass]="rowAlignment$ | async">
      <div [ngClass]="columnWidth$ | async">
        <div class="col-md-12" style="padding-bottom: 2em" *ngIf="(isMobile | async)?.matches"> 
          <img src="{{ headerImage }}">
        </div>
        <h1 class="fw-600">{{ title }}</h1>
        <p class="lead mt-5">{{ subtitle }}</p>
        <hr class="w-10 ml-0 my-7">
        <app-login-button-group position="left"></app-login-button-group>
      </div>
      <div class="col-lg-6 ml-auto" aos-init aos-animate data-aos="fade-up" *ngIf="!(isMobile | async)?.matches">
        <img src="{{ headerImage }}">
      </div>
    </div>
  </div>
</header>

<!--
<header id="home" class="header h-fullscreen">
  <div class="container">
    <div class="row align-items-center h-100">
      <div class="col-lg-6">
        <h1 class="fw-600">The marketplace for services.</h1>
        <p class="lead mt-5">Opsonion is a marketplace for specialist skills, connecting clients to
          vetted talent who deliver high-quality work.</p>
        <hr class="w-10 ml-0 my-7">
        <p class="gap-xy">
          <button type="button" class="btn btn-label btn-google" (click)="googleSignIn()">
            <label>
              <fa-icon [icon]="['fab', 'google']" size="xs"></fa-icon>
            </label> Sign in with Google
          </button>
          <button type="button" class="btn btn-label btn-facebook" (click)="facebookSignIn()">
            <label>
              <fa-icon [icon]="['fab', 'facebook-f']" size="xs"></fa-icon>
            </label> Sign in with Facebook
          </button>
        </p>
        <div style="margin-top: 1em">
          <small><a class="text-muted small-2" routerLink="/register">or use your email address&nbsp;&nbsp;<fa-icon
                [icon]="['fas', 'long-arrow-alt-right']" size="xs"></fa-icon></a></small>
        </div>
      </div>
      <div class="col-lg-6 ml-auto" aos-init aos-animate data-aos="fade-up">
        <img src="assets/img/home.svg">
      </div>
    </div>
  </div>
</header> 
-->