<section class="section">
  <article>

    <div *ngIf="!(isMobile | async)?.matches">
      <header class="section-header">
        <h2 id="account-management">Account Management</h2>
      </header>
    </div>
    <div *ngIf="(isMobile | async)?.matches">
      <header class="section-header" style="padding-top: 70px">
        <h2 id="account-management">Account Management</h2>
        <hr>
      </header>
    </div>

    <div class="row gap-y">
      <div class="col-md-7 mx-auto">
        <div style="padding-bottom: 0em">&nbsp;</div>

        <h6 id="account-management-1" data-provide="anchor">How do I verify my account?<a class="anchor" href="#account-management-1"></a></h6>
        <p class="lead" style="text-align:justify" font="2"><!-- PLACEHOLDER TEXT --> Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
          totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.</p>

        <hr class="hr-dash">

        <h6 id="account-management-2" data-provide="anchor">What is 2-factor authentication (2FA)?<a class="anchor" href="#account-management-2"></a></h6>
        <p class="lead" style="text-align:justify">Two-factor (2FA) or multi-factor authentication (MFA) is an additional security layer for your account. 
          It reduces the likelihood of having an account compromised by addressing the vulnerabilities of a standard password-only approach. 
          At the point of authentication, a code that only a specific user has access to (typically sent to an immediately accessible device) 
          will be required of the user following the standard login. This dual authentication method can be summarised as a combination of
          "something you have and something you know”.</p>

        <hr class="hr-dash">

        <h6 id="account-management-3" data-provide="anchor">I can't remember my password<a class="anchor" href="#account-management-3"></a></h6>
        <p class="lead" style="text-align:justify"><!-- PLACEHOLDER TEXT --> Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
          totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam 
          voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, 
          neque porro quisquam est, qui dolorem ipsum, quia dolor sit amet, consectetur, adipisci[ng] velit, sed quia non numquam [do] eius modi tempora 
          inci[di]dunt, ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis 
          suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam 
          nihil molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur?”.</p>

        <hr class="hr-dash">

        <h6 id="account-management-4" data-provide="anchor">How can I close my account?<a class="anchor" href="#account-management-4"></a></h6>
        <p class="lead" style="text-align:justify"><!-- PLACEHOLDER TEXT --> Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
            totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.</p>

        <hr class="hr-dash">

      </div>
    </div>

    <div *ngIf="!(isMobile | async)?.matches">
      <header class="section-header">
        <h2 id="transactions">Transactions</h2>
      </header>
    </div>
    <div *ngIf="(isMobile | async)?.matches">
      <header class="section-header" style="padding-top: 70px">
        <h2 id="transactions">Transactions</h2>
        <hr>
      </header>
    </div>

    <div class="row gap-y">
      <div class="col-md-7 mx-auto">
        <div style="padding-bottom: 0em">&nbsp;</div>

        <h6 id="transactions-1" data-provide="anchor">How do I buy digital assets?<a class="anchor" href="#transactions-1"></a></h6>
        <p class="lead" style="text-align:justify" font="2"><!-- PLACEHOLDER TEXT --> Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
          totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.</p>

        <hr class="hr-dash">

        <h6 id="transactions-2" data-provide="anchor">How do I deposit fiat into my Opsonion account?<a class="anchor" href="#transactions-2"></a></h6>
        <p class="lead" style="text-align:justify"><!-- PLACEHOLDER TEXT --> Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
            totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.</p>

        <hr class="hr-dash">

        <h6 id="transactions-3" data-provide="anchor">How do I sell or "cash out" my digital assets?<a class="anchor" href="#transactions-3"></a></h6>
        <p class="lead" style="text-align:justify"><!-- PLACEHOLDER TEXT --> Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
          totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.</p>

        <hr class="hr-dash">

        <h6 id="transactions-4" data-provide="anchor">How long does a purchase or deposit take to complete?<a class="anchor" href="#transactions-4"></a></h6>
        <p class="lead" style="text-align:justify"><!-- PLACEHOLDER TEXT --> Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
            totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.</p>

        <hr class="hr-dash">

      </div>
    </div>

    <div *ngIf="!(isMobile | async)?.matches">
        <header class="section-header">
          <h2 id="payment-methods">Payment Methods</h2>
        </header>
      </div>
      <div *ngIf="(isMobile | async)?.matches">
        <header class="section-header" style="padding-top: 70px">
          <h2 id="payment-methods">Payment Methods</h2>
          <hr>
        </header>
      </div>
  
      <div class="row gap-y">
        <div class="col-md-7 mx-auto">
          <div style="padding-bottom: 0em">&nbsp;</div>
  
          <h6 id="payment-methods-1" data-provide="anchor">Payment methods for UK customers<a class="anchor" href="#payment-methods-1"></a></h6>
          <p class="lead" style="text-align:justify" font="2"><!-- PLACEHOLDER TEXT --> Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
            totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.</p>
  
          <hr class="hr-dash">
  
          <h6 id="payment-methods-2" data-provide="anchor">Payment methods for European customers<a class="anchor" href="#payment-methods-2"></a></h6>
          <p class="lead" style="text-align:justify"><!-- PLACEHOLDER TEXT --> Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
              totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.</p>
  
          <hr class="hr-dash">
  
          <h6 id="payment-methods-3" data-provide="anchor">Payment methods for US customers<a class="anchor" href="#payment-methods-3"></a></h6>
          <p class="lead" style="text-align:justify"><!-- PLACEHOLDER TEXT --> Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
            totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.</p>
  
          <hr class="hr-dash">
  
          <h6 id="payment-methods-4" data-provide="anchor">Payment methods for Australian customers<a class="anchor" href="#payment-methods-4"></a></h6>
          <p class="lead" style="text-align:justify"><!-- PLACEHOLDER TEXT --> Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
              totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.</p>
  
          <hr class="hr-dash">
  
        </div>
      </div> 

      <div *ngIf="!(isMobile | async)?.matches">
          <header class="section-header">
            <h2 id="wallet-services">Wallet Services</h2>
          </header>
        </div>
        <div *ngIf="(isMobile | async)?.matches">
          <header class="section-header" style="padding-top: 70px">
            <h2 id="wallet-services">Wallet Services</h2>
            <hr>
          </header>
        </div>
    
        <div class="row gap-y">
          <div class="col-md-7 mx-auto">
            <div style="padding-bottom: 0em">&nbsp;</div>
    
            <h6 id="wallet-services-1" data-provide="anchor">What digital currencies are supported by Opsonion?<a class="anchor" href="#wallet-services-1"></a></h6>
            <p class="lead" style="text-align:justify" font="2"><!-- PLACEHOLDER TEXT --> Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
              totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.</p>
    
            <hr class="hr-dash">
    
            <h6 id="wallet-services-2" data-provide="anchor">How do I send digital currency to another wallet?<a class="anchor" href="#wallet-services-2"></a></h6>
            <p class="lead" style="text-align:justify"><!-- PLACEHOLDER TEXT --> Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.</p>
    
            <hr class="hr-dash">
    
            <h6 id="wallet-services-3" data-provide="anchor">How do I receive digital currency from another wallet?<a class="anchor" href="#wallet-services-3"></a></h6>
            <p class="lead" style="text-align:justify"><!-- PLACEHOLDER TEXT --> Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
              totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.</p>
    
            <hr class="hr-dash">
    
            <h6 id="wallet-services-4" data-provide="anchor">Where can I find my wallet address?<a class="anchor" href="#wallet-services-4"></a></h6>
            <p class="lead" style="text-align:justify"><!-- PLACEHOLDER TEXT --> Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.</p>
    
            <hr class="hr-dash">
    
          </div>
        </div> 

        <div *ngIf="!(isMobile | async)?.matches">
            <header class="section-header">
              <h2 id="security">Security</h2>
            </header>
          </div>
          <div *ngIf="(isMobile | async)?.matches">
            <header class="section-header" style="padding-top: 70px">
              <h2 id="security">Security</h2>
              <hr>
            </header>
          </div>
      
          <div class="row gap-y">
            <div class="col-md-7 mx-auto">
              <div style="padding-bottom: 0em">&nbsp;</div>
      
              <h6 id="security-1" data-provide="anchor">How is my bank account information protected?<a class="anchor" href="#security-1"></a></h6>
              <p class="lead" style="text-align:justify" font="2"><!-- PLACEHOLDER TEXT --> Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.</p>
      
              <hr class="hr-dash">
      
              <h6 id="security-2" data-provide="anchor">Is Opsonion regulated?<a class="anchor" href="#security-2"></a></h6>
              <p class="lead" style="text-align:justify"><!-- PLACEHOLDER TEXT --> Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                  totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.</p>
      
              <hr class="hr-dash">
      
              <h6 id="security-3" data-provide="anchor">How does Opsonion keep my digital assets safe?<a class="anchor" href="#security-3"></a></h6>
              <p class="lead" style="text-align:justify"><!-- PLACEHOLDER TEXT --> Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.</p>
      
              <hr class="hr-dash">
      
              <h6 id="security-4" data-provide="anchor">Is my Opsonion wallet address safe to display publicly?<a class="anchor" href="#security-4"></a></h6>
              <p class="lead" style="text-align:justify"><!-- PLACEHOLDER TEXT --> Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                  totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.</p>
      
              <hr class="hr-dash">
      
            </div>
          </div> 

          <div *ngIf="!(isMobile | async)?.matches">
              <header class="section-header">
                <h2 id="task-administration">Task Administration</h2>
              </header>
            </div>
            <div *ngIf="(isMobile | async)?.matches">
              <header class="section-header" style="padding-top: 70px">
                <h2 id="task-administration">Task Administration</h2>
                <hr>
              </header>
            </div>
        
            <div class="row gap-y">
              <div class="col-md-7 mx-auto">
                <div style="padding-bottom: 0em">&nbsp;</div>
        
                <h6 id="task-administration-1" data-provide="anchor">What types of tasks can I offer?<a class="anchor" href="#task-administration-1"></a></h6>
                <p class="lead" style="text-align:justify" font="2"><!-- PLACEHOLDER TEXT --> Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                  totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.</p>
        
                <hr class="hr-dash">
        
                <h6 id="task-administration-2" data-provide="anchor">How do I distribute tokens once my campaign is finished?<a class="anchor" href="#task-administration-2"></a></h6>
                <p class="lead" style="text-align:justify"><!-- PLACEHOLDER TEXT --> Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.</p>
        
                <hr class="hr-dash">
        
                <h6 id="task-administration-3" data-provide="anchor">How can I make sure my task requirements are easily to understand?<a class="anchor" href="#task-administration-3"></a></h6>
                <p class="lead" style="text-align:justify"><!-- PLACEHOLDER TEXT --> Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                  totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.</p>
        
                <hr class="hr-dash">
        
                <h6 id="task-administration-4" data-provide="anchor">Do I need to review task submissions myself?<a class="anchor" href="#task-administration-4"></a></h6>
                <p class="lead" style="text-align:justify"><!-- PLACEHOLDER TEXT --> Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.</p>
        
                <hr class="hr-dash">
        
              </div>
            </div> 

    <!--
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    | Sidebar
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    !-->
    
    <div class="col-9">
      <div style="position: fixed">
        <aside class="sidebar sidebar-sticky stick" style="width:max-content">
          <h6 class="sidebar-title">Questions</h6>
          <nav id="nav-scrollspy" class="nav flex-column">
            <a class="nav-link" href="#account-management">Account Management</a>
            <a class="nav-link" href="#transactions">Transactions</a>
            <a class="nav-link" href="#payment-methods">Payment Methods</a>
            <a class="nav-link" href="#wallet-services">Wallet Services</a>
            <a class="nav-link" href="#security">Security</a>
            <a class="nav-link" href="#task-administration">Task Administration</a>
          </nav>
        </aside>
      </div>  
    </div>
  </article>
</section>