<nav class="navbar navbar-expand-lg navbar-dark flex-column" style="background-color: #2055EC; top: 0px; padding-left: 0; padding-right: 0" *ngIf="authService.isLoggedIn">
  <div class="container d-stick-none" style="padding-top: 1.5em; padding-bottom: 1.5em">
    <div class="row">
      <div class="col-4">
        <div class="nav nav-navbar ">
          <a class="navbar-brand" href="#">
            <img class="logo-dark" src="../assets/img/opsonion-cropped-white.png" alt="logo">
          </a>
        </div>
      </div>
      <div class="col-4 text-center">
      </div>
      <div class="col-4 text-right">
        <span class="dropdown-toggle no-caret" data-toggle="dropdown" aria-expanded="false">
          <img class="avatar avatar-xs" src="{{ user?.photoURL }}" alt="user">
        </span>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" routerLink="/settings" style="padding: 0rem;">Settings</a>
          <a class="dropdown-item" href="/" style="padding: 0rem;">Invite Friends</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/" (click)="authService.signOut()" style="padding: 0rem;">Log Out</a>
        </div>
      </div>
    </div>
  </div>
  <hr class="my-0 w-100">
  <div style="background-color: #fff; width: 100%">
    <div class="container" style="padding-left: 0px">
      <div class="navbar-left">
      </div>
      <section>
        <div class="nav nav-navbar mr-auto">
          <a class="nav-link" routerLink="/dashboard">DASHBOARD</a>
          <a class="nav-link" routerLink="/accounts">ACCOUNTS</a>
          <a class="nav-link" routerLink="/tasks">TASKS</a>
          <a class="nav-link" routerLink="/tools">TOOLS</a>
        </div>
      </section>
    </div>
  </div>
</nav>

<!-- Not logged in navbar -->
<nav class="navbar navbar-expand-lg navbar-dark" data-navbar="smart" *ngIf="!authService.isLoggedIn">
  <div class="container">
    <div class="navbar-left mr-4">
      <button class="navbar-toggler" type="button">&#9776;</button>
      <a class="navbar-brand" routerLink="/">
        <img src="../assets/img/logo.svg" style="height: 42px; width: 42px;">
      </a>
    </div>

    <!-- Desktop links -->
    <section class="navbar-mobile" *ngIf="!(isMobile | async)?.matches">
      <span class="navbar-divider d-mobile-none"></span>
      <nav class="nav nav-navbar mr-auto">
        <a class="nav-link" routerLink="/about">About</a>
        <a class="nav-link" routerLink="/services">Services</a>
        <a class="nav-link" routerLink="/careers">Careers</a>
        <a class="nav-link" routerLink="/markets">Markets</a>
        <a class="nav-link" routerLink="/support">Support</a>
      </nav>
      <div *ngIf="!authService.isLoggedIn">
        <a class="btn btn-sm btn-light ml-lg-5 mr-2" routerLink="/login">Login</a>
        <a class="btn btn-sm btn-primary" routerLink="/register">Sign up</a>
      </div>
    </section>

    <!-- Mobile links -->
    <section class="navbar-mobile" *ngIf="(isMobile | async)?.matches">
      <span class="navbar-divider d-mobile-none"></span>
      <nav class="nav nav-navbar mr-auto">
        <a class="nav-link" routerLink="/">Home</a>
        <a class="nav-link" routerLink="/about">About</a>
        <a class="nav-link" routerLink="/services">Services</a>
        <a class="nav-link" routerLink="/careers">Careers</a>
        <a class="nav-link" routerLink="/markets">Markets</a>
        <a class="nav-link" routerLink="/support">Support</a>
        <a class="nav-link" href="{{ appStoreUrl }}">Download</a>
      </nav>
    </section>
  </div>
</nav>
<!-- /.navbar -->

<router-outlet (activate)="onActivate($event)"></router-outlet>

<!-- Not logged in footer -->
<footer id="footer" class="footer py-9" *ngIf="!authService.isLoggedIn">
  <div class="container">
    <div class="row gap-y">
      <div class="col-xl-5">
        <p>Opsonion is the easiest and most trusted place to earn, invest, and spend digital
          currency.</p>
        <hr class="d-xl-none">
        <small class="opacity-70">&copy; 2018 Opsonion. All rights reserved.</small>
      </div>

      <div class="col-4 col-xl-2 offset-xl-1">
        <div class="nav flex-column">
          <a class="nav-link" routerLink="/about">About</a>
          <a class="nav-link" routerLink="/services">Services</a>
          <a class="nav-link" routerLink="/careers">Careers</a>
        </div>
      </div>

      <div class="col-4 col-xl-2">
        <div class="nav flex-column">
          <a class="nav-link" routerLink="/markets">Markets</a>
          <a class="nav-link" routerLink="/support">Support</a>
          <a class="nav-link" routerLink="/status">Status</a>
        </div>
      </div>

      <div class="col-4 col-xl-2">
        <div class="nav flex-column">
          <a class="nav-link" routerLink="/press">Press</a>
          <a class="nav-link" routerLink="/legal">Legal</a>
          <a class="nav-link" routerLink="/contact">Contact</a>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Logged in footer -->
<footer id="footer" class="footer py-4" *ngIf="authService.isLoggedIn">
  <div class="container">
    <div class="col-xl-12">
      <small class="opacity-70">&copy; {{ today | date: 'yyyy' }} Opsonion. All rights reserved.</small>
    </div>
  </div>
</footer>
<!-- /.footer -->