.btn-primary {
  background-color: #2055EC !important;
  border-color: #2055EC !important;
}

a:hover {
  color: #2055EC !important;
}

.btn-light:hover {
  color: #000 !important;
}

.btn-primary:hover {
  color: #fff !important;
}

.nav-blue {
  background-color: #2055EC;
}