<!-- Logged in navbar -->

<section class="topbar d-lg-flex text-black bg-white" *ngIf="authService.isLoggedIn()">
  <div class="container small-3">
    <nav class="nav">
      <a class="nav-link" routerLink="/dashboard">Dashboard</a>
      <a class="nav-link" routerLink="/exchange">Exchange</a>
      <a class="nav-link" routerLink="/accounts">Accounts</a>
      <a class="nav-link" href="#">Tasks</a>
      <a class="nav-link" href="#">Tools</a>
    </nav>
    <div class="dropdown mr-4">

      
      <span class="dropdown-toggle" data-toggle="dropdown">{{ user.firstName }} {{ user.lastName }}</span>
      <div class="dropdown-menu dropdown-menu-right">
          <div style="text-align: center">
            <img src="{{user.avatar}}" class="rounded-circle avatar avatar-xl" style="margin-bottom: 0.75em">
            <br>
            <strong>@{{ user.username }}</strong>
            <br>
            <small>{{ user.email }}</small>
          </div>
          <div class="dropdown-divider"></div>          
          <div style="text-align: left" class="nav">
            <a class="dropdown-item" href="#" style="padding: 0rem;">Settings</a>
            <a class="dropdown-item" href="#" style="padding: 0rem;">Invite Friends</a>
            <a class="dropdown-item" href="#" (click)="logout()" style="padding: 0rem;">Log Out</a>              
          </div>
      </div>
    </div>
  </div>
</section>

<!-- Not logged in navbar -->

<nav class="navbar navbar-expand-lg navbar-dark" data-navbar="smart" *ngIf="!authService.isLoggedIn()">
  <div class="container">
    <div class="navbar-left mr-4">
      <button class="navbar-toggler" type="button">&#9776;</button>
      <a class="navbar-brand" routerLink="/">
        <img src="../assets/img/logo.svg" style="height: 42px; width: 42px;">
      </a>
    </div>

    <!-- Desktop links -->
    <section class="navbar-mobile" *ngIf="!(isMobile | async)?.matches">
      <span class="navbar-divider d-mobile-none"></span>
      <nav class="nav nav-navbar mr-auto">
        <a class="nav-link" routerLink="/about">About</a>
        <a class="nav-link" routerLink="/services">Services</a>
        <a class="nav-link" routerLink="/careers">Careers</a>
        <a class="nav-link" routerLink="/markets">Markets</a>
        <a class="nav-link" routerLink="/support">Support</a>
      </nav>
      <div *ngIf="!authService.isLoggedIn()">
        <a class="btn btn-sm btn-light ml-lg-5 mr-2" routerLink="/login">Login</a>
        <a class="btn btn-sm btn-primary" routerLink="/register">Sign up</a>
      </div>
    </section>

    <!-- Mobile links -->
    <section class="navbar-mobile" *ngIf="(isMobile | async)?.matches">
      <span class="navbar-divider d-mobile-none"></span>
      <nav class="nav nav-navbar mr-auto">
        <a class="nav-link" routerLink="/">Home</a>
        <a class="nav-link" routerLink="/about">About</a>
        <a class="nav-link" routerLink="/services">Services</a>
        <a class="nav-link" routerLink="/careers">Careers</a>
        <a class="nav-link" routerLink="/markets">Markets</a>
        <a class="nav-link" routerLink="/support">Support</a>
        <a class="nav-link" routerLink="/login" *ngIf="!authService.isLoggedIn()">Login</a>
        <a class="nav-link" routerLink="/register" *ngIf="!authService.isLoggedIn()">Register</a>
        <a class="nav-link" (click)="logout()" *ngIf="authService.isLoggedIn()">Logout</a>
      </nav>
    </section>
  </div>
</nav>
<!-- /.navbar -->

<router-outlet (activate)="onActivate($event)"></router-outlet>

<!-- Footer -->
<footer id="footer" class="footer py-9">
  <div class="container">
    <div class="row gap-y">
      <div class="col-xl-5">
        <p>Opsonion is the easiest and most trusted place to earn, invest, and spend digital
          currency.</p>
        <hr class="d-xl-none">
        <small class="opacity-70">&copy; 2018 Opsonion. All rights reserved.</small>
      </div>

      <div class="col-4 col-xl-2 offset-xl-1">
        <div class="nav flex-column">
          <a class="nav-link" routerLink="/about">About</a>
          <a class="nav-link" routerLink="/services">Services</a>
          <a class="nav-link" routerLink="/careers">Careers</a>
        </div>
      </div>

      <div class="col-4 col-xl-2">
        <div class="nav flex-column">
          <a class="nav-link" routerLink="/markets">Markets</a>
          <a class="nav-link" routerLink="/support">Support</a>
          <a class="nav-link" routerLink="/status">Status</a>
        </div>
      </div>

      <div class="col-4 col-xl-2">
        <div class="nav flex-column">
          <a class="nav-link" routerLink="/press">Press</a>
          <a class="nav-link" routerLink="/legal">Legal</a>
          <a class="nav-link" routerLink="/contact">Contact</a>
        </div>
      </div>

    </div>
  </div>
</footer>
<!-- /.footer -->