<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark" data-navbar="smart">
  <div class="container">

    <div class="navbar-left mr-4">
      <button class="navbar-toggler" type="button">&#9776;</button>
      <a class="navbar-brand" routerLink="/">
        <img src="../assets/img/logo.svg" style="height: 42px; width: 42px;">
      </a>
    </div>

    <section class="navbar-mobile">
      <span class="navbar-divider d-mobile-none"></span>

      <nav class="nav nav-navbar mr-auto">
        <a class="nav-link" routerLink="/about">About</a>
        <a class="nav-link" routerLink="/services">Services</a>
        <a class="nav-link" routerLink="/careers">Careers</a>
        <a class="nav-link" routerLink="/markets">Markets</a>
        <a class="nav-link" routerLink="/support">Support</a>
      </nav>

      <div>
        <a class="btn btn-sm btn-light ml-lg-5 mr-2" routerLink="/login">Login</a>
        <a class="btn btn-sm btn-primary" routerLink="/register">Sign up</a>
      </div>
    </section>

  </div>
</nav>
<!-- /.navbar -->

<router-outlet (activate)="onActivate($event)"></router-outlet>

<!-- Footer -->
<footer id="footer" class="footer py-9">
  <div class="container">
    <div class="row gap-y">
      <div class="col-xl-5">
        <p>Opsonion is the easiest and most trusted place to earn, invest, and spend digital
            currency.</p>
        <hr class="d-xl-none">
        <small class="opacity-70">&copy; 2018 Opsonion. All rights reserved.</small>
      </div>

      <div class="col-4 col-xl-2 offset-xl-1">
        <div class="nav flex-column">
          <a class="nav-link" routerLink="/about">About</a>
          <a class="nav-link" routerLink="/services">Services</a>
          <a class="nav-link" routerLink="/careers">Careers</a>
        </div>
      </div>

      <div class="col-4 col-xl-2">
        <div class="nav flex-column">
          <a class="nav-link" routerLink="/markets">Markets</a>
          <a class="nav-link" routerLink="/support">Support</a>
          <a class="nav-link" routerLink="/status">Status</a>
        </div>
      </div>

      <div class="col-4 col-xl-2">
        <div class="nav flex-column">
          <a class="nav-link" routerLink="/press">Press</a>
          <a class="nav-link" routerLink="/legal">Legal</a>
          <a class="nav-link" routerLink="/contact">Contact</a>
        </div>
      </div>

    </div>
  </div>
</footer>
<!-- /.footer -->