<section class="section bg-gray">
  <div class="container">
    <div class="row gap-y">
      <ng-container *ngFor="let feature of features">
        <div class="feature-card" [ngClass]="featureCardColumnWidth$ | async" data-aos="fade-up"
          [attr.data-aos-delay]="feature.delay">
          <app-home-feature-card title="{{ feature?.title }}" description="{{ feature?.description }}"
            image="{{ feature?.image }}">
          </app-home-feature-card>
        </div>
      </ng-container>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="row gap-y align-items-center">
      <div [ngClass]="columnWidth$ | async">
        <h3 style="font-weight: bold" id="employerFeaturesHeading">{{ employerFeaturesHeading }}</h3>
        <img src="{{ employeeFeaturesImage }}" style="width: 100%; padding-bottom: 2em; padding-top: 2em" *ngIf="(isMobile | async)?.matches">
        <p id="employerFeaturesSubheading">{{ employerFeaturesSubheading }}</p>
        <ul class="list-unstyled" style="line-height: 2.5em">
          <ng-container *ngFor="let feature of employerFeatures">
            <li><i class="ti-check text-success mr-2 employee-feature"></i> {{ feature }}</li>
          </ng-container>
        </ul>
        <br>
        <button type="button" class="btn btn-xl btn-primary"
          routerLink="login" id="employeeFeaturesButtonText">{{ employeeFeaturesButtonText }}</button>
      </div>
      <div class="col-md-5 order-md-first">
        <img src="{{ employeeFeaturesImage }}" id="employeeFeaturesImage" aos-init aos-animate data-aos="fade-up" *ngIf="!(isMobile | async)?.matches">
      </div>
    </div>
  </div>
</section>