<div class="form-group">
  <label style="color: rgba(255, 255, 255, 1)">Logo</label>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="form-group" style="margin-bottom: .3em;">
      <label style="color: rgba(255, 255, 255, 0.65)">Spacing</label>
    </div>
    <ng5-slider [(value)]="navbarLogoValue" [options]="navbarLogoOptions"></ng5-slider>
  </div>
</div>

<div class="form-group" style="margin-top: 1.5em">
  <label style="color: rgba(255, 255, 255, 1)">Menu</label>
</div>
<div class="form-group" style="margin-bottom: 0">
  <label style="color: rgba(255, 255, 255, 0.65)">Position</label>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="btn-group btn-group-full">
      <button (click)="setNavbarLayoutClass('navbar-nav mr-auto')" class="btn btn-secondary" type="button"><i
        class="ti-align-left"></i></button>
      <button (click)="setNavbarLayoutClass('navbar-nav mx-auto')" class="btn btn-secondary" type="button"><i
        class="ti-align-center"></i></button>
      <button (click)="setNavbarLayoutClass('navbar-nav ml-auto')" class="btn btn-secondary" type="button"><i
        class="ti-align-right"></i></button>
    </div>
    <div class="form-group" style="margin-bottom: .3em; margin-top: 1em">
      <label style="color: rgba(255, 255, 255, 0.65)">Spacing</label>
    </div>
    <ng5-slider [(value)]="navbarMenuValue" [options]="navbarMenuOptions"></ng5-slider>
  </div>
</div>
