.layout-icon:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: opacity .2s ease-out;
  -webkit-box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.25);
}

.row:hover {
  background-color: #21282F;
  cursor: pointer;
}

.row-color {
  color: #CECFD1;
}

.row-options {
  margin-left: -0.5em;
  margin-right: -0.5em;
}

.btn-options {
  background-color: #383E44;
  color: #CECFD1;
}

.btn-add {
  border: 2px dashed hsla(0, 0%, 100%, .4);
  background-color: unset;
}
