section {
  background-color: #F4F7FA !important;
  padding-top: 11rem;
  padding-bottom: 3rem;
}

.container {
  background-color: #fff;
  padding-left: 0px;
  padding-right: 0px;
}

.detail-table {
  border: none; 
  padding-left: 0px;
  padding-bottom: 0px;
}

.detail-table tbody, .detail-table tr, .detail-table th, .detail-table td {
  padding-left: 0px;
  border: none;
}

.right-arrow {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.balance p {
  font-size: 13px;
  color: #929daf;
  line-height: 1.4;
  margin-bottom: 0;
}

.balance h5 {
  font-size: 2rem;
  margin-bottom: 0;
}

.balance {
  padding-bottom: 1.5em;
}