<app-sidebar-navbar-component *ngIf="activeEditComponent == navbarComponent" settings='options'></app-sidebar-navbar-component>
<app-sidebar-footer-component *ngIf="activeEditComponent == footerComponent" settings='options'></app-sidebar-footer-component>
<app-sidebar-features-component *ngIf="activeEditComponent == featuresComponent" settings='options'></app-sidebar-features-component>
<app-sidebar-hero-component *ngIf="activeEditComponent == heroComponent" settings='options'></app-sidebar-hero-component>
