
<div class="navbar-options-picker">
  <app-navbar-options-picker *ngIf="activeEditComponent == navbarComponent"></app-navbar-options-picker>
</div>
<div class="footer-options-picker">
  <app-footer-options-picker *ngIf="activeEditComponent == footerComponent"></app-footer-options-picker>
</div>
<div class="features-options-picker">
  <app-sidebar-features-component *ngIf="activeEditComponent == featuresComponent" setting='options'></app-sidebar-features-component>
</div>
<div class="hero-options-picker">
  <app-sidebar-hero-component *ngIf="activeEditComponent == heroComponent" setting='options'></app-sidebar-hero-component>
</div>
