<div *ngIf="condition" class="row" style="padding-top: 1em">
  <div class="col-md-6">
    <label style="color: rgba(255, 255, 255, 0.65);">Size</label>
  </div>
  <div class="col-md-6 text-right">
    <a (click)="resetImageSize()" class="fw-600 fs-12" href="#">Reset</a>
  </div>
  <div class="col-md-6">
    <label style="width: 100%">
      <input (keyup)="setImageSize()" (ngModelChange)="setImageSize()"
             [(ngModel)]="imageSize"
             class="form-control form-control-lg"
             max="{{maxValue}}" min="{{minValue}}" name="number"
             style="width: 100%" type="number">
    </label>
  </div>
  <div class="col-md-6">
    <label style="width: 100%">
      <input [(ngModel)]="sizeUnit" class="form-control form-control-lg" disabled>
    </label>
  </div>
</div>
