<div class="row">
  <div class="col-md-12">
    <app-form-photo-upload></app-form-photo-upload>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <app-form-change-password></app-form-change-password>
  </div>
</div>
<div class="row" style="padding-top: 2em">
  <div class="col-md-4">
    <strong>Username <span class="text-danger">*</span></strong>
    <br>
    <small>This name will be part of your Opsonion profile.</small>
  </div>
  <div class="col-md-6">
    <app-form-username-input></app-form-username-input>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-4">
    <strong>Personal Details</strong>
    <br>
    <small>Your personal information is never shown to other users.</small>
  </div>
  <div class="col-md-6">
    <app-form-name-input></app-form-name-input>
    <app-form-dob-input></app-form-dob-input>
    <app-form-address-input></app-form-address-input>
    <div class="form-group" style="padding-top: 1em">
      <button (click)="setUserPersonalDetails()" class="btn btn-lg btn-secondary" type="submit">Save
      </button>
    </div>
  </div>
</div>

