<div id="templates" style="margin-top: -30px; margin-bottom: 2px">&nbsp;</div>
<div class="form-group input-group">
  <div class="input-group-prepend">
    <span class="input-group-text"><i class="ti-search"></i></span>
  </div>
  <label for="search-templates"></label>
  <input id="search-templates"
         class="builder-sidebar-templates-search form-control" 
         (keyup)="searchText.trim();" [(ngModel)]="searchText"
         placeholder="Search Templates" type="text">
</div>
<div class="row">
  <ng-container *ngFor="let template of selectedTemplates | filter: searchText | sort: 'name'">
    <div class="col-md-12">
      <div class="builder-sidebar-templates-{{ template.name | lowercase }} card text-white bg-img justify-content-center template-icon"
           (click)="setTemplate(template.id)"
           [style.backgroundImage]="'url(' + '../assets/img/' + template.id + '.jpg)'"
           data-overlay="6" style="height: 100px; margin-bottom: 1em">
        <div class="builder-sidebar-templates-{{ template.name | lowercase }} card-body text-center flex-grow-0">
          <h5 class="builder-sidebar-templates-{{ template.name | lowercase }} card-title mb-0">{{ template.name }}</h5>
        </div>
      </div>
    </div>
  </ng-container>
</div>
