<div id="hero-options" style="margin-top: -30px; margin-bottom: 2px">&nbsp;</div>
<div class="form-group">
  <div class="row">
    <div class="col-md-6">
      <label style="color: rgba(255, 255, 255, 1)">Hero</label>
    </div>
    <div class="col-md-6 text-right">
      <a (click)="resetHeroImage()" class="fw-600 fs-12" href="#">Reset</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <a (click)="openSelectImageModal()" class="btn btn-xl btn-block btn-secondary">Select Image</a>
  </div>
</div>
