<div class="form-group">
  <label style="color: rgba(255, 255, 255, 0.65);">Background</label>
  <div style="width: 100%">
    <span (colorPickerChange)="setNavbarStyle()" [(colorPicker)]="navbarStyle['background-color']"
          [cpPositionOffset]="'0%'"
          [cpPosition]="'bottom'" [style.background]="navbarStyle['background-color']"
          class="form-control form-control-lg colour-picker"></span>
  </div>
</div>
<div class="form-group">
  <label style="color: rgba(255, 255, 255, 0.65);">Text</label>
  <div style="width: 100%">
    <span (colorPickerChange)="setNavbarBrandStyle()" [(colorPicker)]="navbarBrandStyle['color']"
          [cpPositionOffset]="'0%'"
          [cpPosition]="'bottom'" [style.background]="navbarBrandStyle['color']"
          class="form-control form-control-lg colour-picker"></span>
  </div>
</div>
<div class="form-group">
  <label style="color: rgba(255, 255, 255, 0.65);">Link</label>
  <div style="width: 100%">
    <span (colorPickerChange)="setNavbarLinkStyle()" [(colorPicker)]="navbarLinkStyle['color']"
          [cpPositionOffset]="'0%'"
          [cpPosition]="'bottom'" [style.background]="navbarLinkStyle['color']"
          class="form-control form-control-lg colour-picker"></span>
  </div>
</div>
<div class="form-group">
  <label style="color: rgba(255, 255, 255, 0.65);">Theme</label>
  <label style="width: 100%">
    <select (change)="onThemeChange()" [(ngModel)]="navbarTheme" class="form-control form-control-lg">
      <option *ngFor="let theme of navbarThemes"
              [attr.selected]="theme['name'] == navbarTheme ? true : null">{{ theme['name'] }}</option>
    </select>
  </label>
</div>
<hr style="background-color: rgba(255, 255, 255, 0.1)">
<div style="padding-bottom: 1em">
  <button (click)="resetToDefault()" class="btn btn-xl btn-block btn-secondary" type="button">Reset to Default</button>
</div>
