<section ngxUiLoaderBlurred class="section-desktop"
  *ngIf="!(isMobile | async)?.matches && (userData?.firstName)">
  <div class="container">
    <div class="row">
      <div class="col-md-12" *ngIf="userData">
        <h2>Hi, {{ userData?.firstName }}.</h2>
        <br>
      </div>
    </div>
    <br>
  </div>
</section>

<section ngxUiLoaderBlurred class="section-mobile"
  *ngIf="(isMobile | async)?.matches && (userData?.firstName)">
  <div class="container">
    <div class="row">
      <div class="col-md-12" *ngIf="userData">
        <h2>Hi, {{ userData?.firstName }}.</h2>
        <br>
      </div>
    </div>
  </div>
</section>