<section ngxUiLoaderBlurred class="section-desktop"
  *ngIf="!(isMobile | async)?.matches && (userData?.firstName) && (userData?.accountType) && !tasksExist">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <img src="../assets/img/blank.svg" style="height: 10em">
      </div>
      <div class="col-md-12 text-center">
        <div style="padding-top: 2em; padding-bottom: 1em">
          <p>There doesn't seem to be anything going on here.</p>
        </div>
        <button class="btn btn-sm btn-primary" type="button" *ngIf="userData?.accountType == 'hire'"
          (click)="openCreateTaskModal()">Create Task</button>
        <button class="btn btn-sm btn-primary" type="button" *ngIf="userData?.accountType == 'work'"
          (click)="apply()">Apply to Work</button>
      </div>
    </div>
    <br>
  </div>
</section>

<section ngxUiLoaderBlurred class="section-desktop"
  *ngIf="!(isMobile | async)?.matches && (userData?.firstName) && (userData?.accountType) && tasksExist">
  <div class="container">
    <div class="row">
      <div class="col-md-4 project-column" dragula="DASHBOARD">
        <div class="col-header">
          <span class="badge badge-pill badge-primary">3</span>&nbsp;&nbsp;
          <strong>BACKLOG</strong>
        </div>
        <div class="border rounded shadow-4 p-4 item" (click)="openTaskModal()">
          <div class="row align-items-center">
            <div class="col lh-5">
              <div style="padding-bottom: 1em">
                <span class="badge badge-pill badge-secondary">Incomplete</span>
              </div>
              Create landing page variations for new website
            </div>
          </div>
        </div>
        <div class="border rounded shadow-4 p-4 item" (click)="openTaskModal()">
          <div class="row align-items-center">
            <div class="col lh-5">
              <div style="padding-bottom: 1em">
                <span class="badge badge-pill badge-secondary">Unsubmitted</span>
              </div>
              New logo design
            </div>
          </div>
        </div>
        <hr>
        <div *ngIf="userData?.accountType == 'hire'">
          <button class="btn btn-block btn-secondary" type="button" (click)="openCreateTaskModal()">Create Task</button>
        </div>
      </div>
      <div class="col-md-4 project-column" dragula="DASHBOARD">
        <div class="col-header">
          <span class="badge badge-pill badge-primary">0</span>&nbsp;&nbsp;
          <strong>IN PROGRESS</strong>
        </div>
      </div>
      <div class="col-md-4 project-column" dragula="DASHBOARD">
        <div class="col-header">
          <span class="badge badge-pill badge-primary">0</span>&nbsp;&nbsp;
          <strong>DONE</strong>
        </div>
      </div>
    </div>
  </div>
</section>

<section ngxUiLoaderBlurred class="section-mobile" *ngIf="(isMobile | async)?.matches && (userData?.firstName)">
  <div class="container">
    <div class="row">
    </div>
  </div>
</section>

<!-- Create task modal -->
<div class="modal fade" #createTaskModal id="createTaskModal" tabindex="-1" role="dialog"
  aria-labelledby="createTaskModalLabel" aria-hidden="!submitted">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createTaskModalLabel">Create Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <h6>What type of work do you need done?</h6>
        <div style="text-align: left; padding-top: 1em">
          <div class="alert alert-primary" role="alert">
            <small>Choose the category that best fits your request. For example: if you are looking for a logo, you
              should choose the "Graphics & Design" category.</small>
          </div>
        </div>
        <div class="row" style="padding-top: 0.5em; padding-bottom: 2em">
          <div class="col-md-12 text-left">
            <div class="radio">
              <label><input type="radio" name="step1" (change)="onSelectedCategoryChange($event)"
                  value="Web, Software and Mobile Development">&nbsp; Web, Software and Mobile Development</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="step1" (change)="onSelectedCategoryChange($event)"
                  value="Graphics Design">&nbsp; Graphics Design</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="step1" (change)="onSelectedCategoryChange($event)"
                  value="Writing and Translation">&nbsp; Writing and Translation</label>
            </div>
          </div>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-secondary">Continue</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Apply to work modal -->
<div class="modal fade" #applyModal id="applyModal" tabindex="-1" role="dialog" aria-labelledby="applyModalLabel"
  aria-hidden="!submitted">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="applyModalLabel">Apply to Work</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Task modal -->
<div class="modal fade" #taskModal id="taskModal" tabindex="-1" role="dialog" aria-labelledby="taskModalLabel"
  aria-hidden="!submitted">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="taskModalLabel">Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">Close</button>
      </div>
    </div>
  </div>
</div>