<div class="navbar-layout-picker">
  <app-navbar-layout-picker *ngIf="activeEditComponent == navbarComponent"></app-navbar-layout-picker>
</div>
<div class="footer-layout-picker">
  <app-hero-layout-picker *ngIf="activeEditComponent == heroComponent"></app-hero-layout-picker>
</div>
<div class="footer-layout-picker">
  <app-footer-layout-picker *ngIf="activeEditComponent == footerComponent"></app-footer-layout-picker>
</div>
<div class="features-layout-picker">
  <app-features-layout-picker *ngIf="activeEditComponent == featuresComponent"></app-features-layout-picker>
</div>
<div class="heading-layout-picker">
  <app-heading-layout-picker *ngIf="activeEditComponent == headingComponent"></app-heading-layout-picker>
</div>
