<section class="section">
  <div class="container">
    <div *ngIf="!(isMobile | async)?.matches">
      <header class="section-header">
        <h2>Markets</h2>
        <hr>
      </header>
    </div>
    <div *ngIf="(isMobile | async)?.matches">
      <header class="section-header" style="padding-bottom: 0px; padding-top: 70px">
        <h2>Markets</h2>
        <hr>
      </header>
    </div>
    <div *ngIf="!(isMobile | async)?.matches">
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <table class="table">
            <thead>
              <tr>
                <th><strong>Name</strong></th>
                <th><strong>Symbol</strong></th>
                <th><strong>Price (GBP)</strong></th>
                <th><strong>Market Cap (GBP)</strong></th>
                <th><strong>Change (24h)</strong></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let crypto of prices">
                <td class="crypto-name">
                  <img [@fadeInOut]="fadeInState" class="blur" alt="placeholder" [src]="placeholder" style="width: 0;">
                  <img [@fadeInOut]="fadeOutState" alt="{{ crypto.symbol }}" src="{{ crypto.image }}" (load)="isLoaded($event)" />
                  &nbsp;&nbsp;{{ crypto.name }}
                </td>
                <td class="crypto-symbol">{{ crypto.symbol }}</td>
                <td class="crypto-price">{{ crypto.price }}</td>
                <td class="crypto-market-cap">{{ crypto.marketCap }}</td>
                <td [ngClass]="(crypto.change24Num > 0) ? 'change24-green' : 'change24-red'" class="crypto-change24">&pound;
                  {{ crypto.change24Num | number:'1.2-5' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div *ngIf="(isMobile | async)?.matches" style="font-size: 0.8em">
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <table class="table">
            <thead>
              <tr>
                <th><strong>Name</strong></th>
                <th><strong>Price (GBP)</strong></th>
                <th><strong>Change (24h)</strong></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let crypto of prices">
                <td class="crypto-name">
                  <div style="margin-bottom: 1em">
                    <img [@fadeInOut]="fadeInState" class="blur" alt="placeholder" [src]="placeholder" style="width: 0;">
                    <img [@fadeInOut]="fadeOutState" alt="{{ crypto.symbol }}" src="{{ crypto.image }}" (load)="isLoaded($event)" /><br>
                  </div>
                  {{ crypto.symbol }}<br>{{ crypto.name }}
                </td>
                <td class="crypto-price">{{ crypto.price }}</td>
                <td [ngClass]="(crypto.change24Num > 0) ? 'change24-green' : 'change24-red'" class="crypto-change24">&pound;
                  {{ crypto.change24Num | number:'1.2-5' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>