<div id="hero-colours" style="margin-top: -30px; margin-bottom: 2px">&nbsp;</div>
<div class="form-group">
  <label style="color: rgba(255, 255, 255, 0.65);">Background</label>
  <span
    (colorPickerChange)="setHeroBackgroundStyle()" [(colorPicker)]="heroBackgroundStyle['background-color']"
    [cpPositionOffset]="'0%'"
    [cpPosition]="'bottom'" [style.background]="heroBackgroundStyle['background-color']"
    class="form-control form-control-lg colour-picker"></span>
</div>
<div class="form-group">
  <label style="color: rgba(255, 255, 255, 0.65);">Heading</label>
  <div style="width: 100%">
    <span (colorPickerChange)="setHeroHeadingStyle()" [(colorPicker)]="heroHeadingStyle['color']"
          [cpPositionOffset]="'0%'"
          [cpPosition]="'bottom'" [style.background]="heroHeadingStyle['color']"
          class="form-control form-control-lg colour-picker"></span>
  </div>
</div>
<div class="form-group">
  <label style="color: rgba(255, 255, 255, 0.65);">Subheading</label>
  <div style="width: 100%">
    <span (colorPickerChange)="setHeroSubheadingStyle()" [(colorPicker)]="heroSubheadingStyle['color']"
          [cpPositionOffset]="'0%'"
          [cpPosition]="'bottom'" [style.background]="heroSubheadingStyle['color']"
          class="form-control form-control-lg colour-picker"></span>
  </div>
</div>
<div class="form-group">
  <label style="color: rgba(255, 255, 255, 0.65);">Button Background</label>
  <div style="width: 100%">
    <span (colorPickerChange)="setHeroButtonStyle()" [(colorPicker)]="heroButtonStyle['background-color']"
          [cpPositionOffset]="'0%'"
          [cpPosition]="'bottom'" [style.background]="heroButtonStyle['background-color']"
          class="form-control form-control-lg colour-picker"></span>
  </div>
</div>
<div class="form-group">
  <label style="color: rgba(255, 255, 255, 0.65);">Button Text</label>
  <div style="width: 100%">
    <span (colorPickerChange)="setHeroButtonStyle()" [(colorPicker)]="heroButtonStyle['color']"
          [cpPositionOffset]="'0%'"
          [cpPosition]="'bottom'" [style.background]="heroButtonStyle['color']"
          class="form-control form-control-lg colour-picker"></span>
  </div>
</div>
<div class="form-group">
  <label style="color: rgba(255, 255, 255, 0.65);">Button Border</label>
  <div style="width: 100%">
    <span (colorPickerChange)="setHeroButtonStyle()" [(colorPicker)]="heroButtonStyle['border-color']"
          [cpPositionOffset]="'0%'"
          [cpPosition]="'bottom'" [style.background]="heroButtonStyle['border-color']"
          class="form-control form-control-lg colour-picker"></span>
  </div>
</div>
<div class="form-group">
  <label style="color: rgba(255, 255, 255, 0.65);">Theme</label>
  <label style="width: 100%">
    <select (change)="onThemeChange()" [(ngModel)]="heroTheme" class="form-control form-control-lg">
      <option *ngFor="let theme of heroThemes"
              [attr.selected]="theme['name'] == heroTheme ? true : null">{{ theme['name'] }}</option>
    </select>
  </label>
</div>
<hr style="background-color: rgba(255, 255, 255, 0.1)">
<div style="padding-bottom: 1em">
  <button (click)="resetToDefault()" class="btn btn-xl btn-block btn-secondary" type="button">Reset to Default</button>
</div>
