<div id="footer-layout" style="margin-top: -30px; margin-bottom: 2px">&nbsp;</div>
<div class="form-group">
  <label style="color: rgba(255, 255, 255, 1)">Footer</label>
</div>
<div class="form-group" style="margin-bottom: 1em; margin-top: 1em">
  <label style="color: rgba(255, 255, 255, 0.65)">Position</label>
</div>
<div class="row">
  <div class="col-md-6" style="padding-bottom: 1em">
    <div (click)="setFooterAlignment('text-center'); setComponentLayout({'layout':0})"
         [ngClass]="setComponentLayoutSelectorClass('text-center', 0)" style="height: 80px">
      <img alt="footer-alignment-text-center-0" src="../../../../../../assets/img/footer-alignment-text-center-0.svg">
    </div>
  </div>
  <div class="col-md-6" style="padding-bottom: 1em">
    <div (click)="setFooterAlignment('text-left'); setComponentLayout({'layout':0})"
         [ngClass]="setComponentLayoutSelectorClass('text-left', 0)" style="height: 80px">
      <img alt="footer-alignment-text-left" src="../../../../../../assets/img/footer-alignment-text-left.svg">
    </div>
  </div>
  <div class="col-md-6">
    <div (click)="setFooterAlignment('text-right'); setComponentLayout({'layout':0})"
         [ngClass]="setComponentLayoutSelectorClass('text-right', 0)" style="height: 80px">
      <img alt="footer-alignment-text-right" src="../../../../../../assets/img/footer-alignment-text-right.svg">
    </div>
  </div>
  <div class="col-md-6">
    <div (click)="setFooterAlignment('text-center'); setComponentLayout({'layout':1})"
         [ngClass]="setComponentLayoutSelectorClass('text-center', 1)" style="height: 80px">
      <img alt="footer-alignment-text-center-1" src="../../../../../../assets/img/footer-alignment-text-center-1.svg">
    </div>
  </div>
  <div class="col-md-12" style="padding-top: 2em">
    <label class="builder-sidebar-layout-select-footer-spacing-reset btn btn-xl btn-block btn-secondary"
           (click)="resetFooterAlignment()">
      <span class="builder-sidebar-layout-select-footer-spacing-reset">Reset To Default</span>
    </label>
  </div>
</div>
<div class="form-group" style="margin-bottom: .3em; margin-top: 1em">
  <label style="color: rgba(255, 255, 255, 0.65)">Spacing</label>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label>Top</label>
      <label style="width: 100%">
        <input class="builder-sidebar-layout-select-footer-spacing-top form-control"
               (keyup)="setFooterPaddingTop()"
               (ngModelChange)="setFooterPaddingTop()"
               [(ngModel)]="footerPaddingTop"
               max="300" min="0" name="number"
               type="number">
      </label>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>Left</label>
      <label style="width: 100%">
        <input class="builder-sidebar-layout-select-footer-spacing-left form-control"
               (keyup)="setFooterPaddingLeft()"
               (ngModelChange)="setFooterPaddingLeft()"
               [(ngModel)]="footerPaddingLeft"
               max="300" min="0" name="number"
               style="width: 100%" type="number">
      </label>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>Right</label>
      <label style="width: 100%">
        <input class="builder-sidebar-layout-select-footer-spacing-right form-control"
               (keyup)="setFooterPaddingRight()"
               (ngModelChange)="setFooterPaddingRight()"
               [(ngModel)]="footerPaddingRight"
               max="300" min="0" name="number"
               style="width: 100%" type="number">
      </label>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>Bottom</label>
      <label style="width: 100%">
        <input class="builder-sidebar-layout-select-footer-spacing-bottom form-control"
               (keyup)="setFooterPaddingBottom()"
               (ngModelChange)="setFooterPaddingBottom()"
               [(ngModel)]="footerPaddingBottom"
               max="300" min="0" name="number"
               style="width: 100%" type="number">
      </label>
    </div>
  </div>
  <div class="col-md-12" style="margin-top: 1em;">
    <label (click)="resetFooterPaddingStyle()"
           class="builder-sidebar-layout-select-footer-spacing-reset btn btn-xl btn-block btn-secondary">
      <span class="builder-sidebar-layout-select-footer-spacing-reset">Reset To Default</span>
    </label>
  </div>
</div>
<hr>
<div class="form-group" id="footer-layout-copyright">
  <label style="color: rgba(255, 255, 255, 1)">Copyright</label>
</div>
<div class="form-group" style="margin-bottom: .3em; margin-top: 1em">
  <label style="color: rgba(255, 255, 255, 0.65)">Spacing</label>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label>Top</label>
      <label style="width: 100%">
        <input class="builder-sidebar-layout-select-footer-copyright-spacing-top form-control"
               (keyup)="setFooterCopyrightPaddingTop()"
               (ngModelChange)="setFooterCopyrightPaddingTop()"
               [(ngModel)]="footerCopyrightPaddingTop"
               autocomplete="off"
               max="300" min="0" name="number" type="number">
      </label>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>Left</label>
      <label style="width: 100%">
        <input class="builder-sidebar-layout-select-footer-copyright-spacing-left form-control"
               (keyup)="setFooterCopyrightPaddingLeft()"
               (ngModelChange)="setFooterCopyrightPaddingLeft()"
               [(ngModel)]="footerCopyrightPaddingLeft"
               max="300" min="0"
               name="number"
               style="width: 100%" type="number">
      </label>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>Right</label>
      <label style="width: 100%">
        <input class="builder-sidebar-layout-select-footer-copyright-spacing-right form-control"
               (keyup)="setFooterCopyrightPaddingRight()"
               (ngModelChange)="setFooterCopyrightPaddingRight()"
               [(ngModel)]="footerCopyrightPaddingRight"
               max="300" min="0"
               name="number"
               style="width: 100%" type="number">
      </label>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>Bottom</label>
      <label style="width: 100%">
        <input class="builder-sidebar-layout-select-footer-copyright-spacing-bottom form-control"
               (keyup)="setFooterCopyrightPaddingBottom()"
               (ngModelChange)="setFooterCopyrightPaddingBottom()"
               [(ngModel)]="footerCopyrightPaddingBottom"
               max="300" min="0"
               name="number"
               style="width: 100%" type="number">
      </label>
    </div>
  </div>
  <div class="col-md-12" style="margin-top: 1em;">
    <label (click)="resetFooterCopyrightPaddingStyle()"
           class="builder-sidebar-layout-select-footer-copyright-spacing-reset btn btn-xl btn-block btn-secondary">
      <span class="builder-sidebar-layout-select-footer-copyright-spacing-reset">Reset To Default</span>
    </label>
  </div>
</div>
<ng-container *ngIf="facebookUrl || twitterUrl || instagramUrl || youtubeUrl || githubUrl || linkedinUrl">
  <hr>
  <div class="form-group" style="margin-top: 1.5em">
    <label style="color: rgba(255, 255, 255, 1)">Social</label>
  </div>
  <div class="form-group" style="margin-bottom: .3em; margin-top: 1em">
    <label style="color: rgba(255, 255, 255, 0.65)">Spacing</label>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Top</label>
        <label style="width: 100%">
          <input class="form-control"
                 (keyup)="setFooterSocialLinksMarginTop()"
                 (ngModelChange)="setFooterSocialLinksMarginTop()"
                 [(ngModel)]="footerSocialLinksMarginTop"
                 autocomplete="off"
                 max="300" min="0" name="number" type="number">
        </label>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Left</label>
        <label style="width: 100%">
          <input class="form-control"
                 (keyup)="setFooterSocialLinksMarginLeft()"
                 (ngModelChange)="setFooterSocialLinksMarginLeft()"
                 [(ngModel)]="footerSocialLinksMarginLeft"
                 autocomplete="off" max="300" min="0" name="number"
                 style="width: 100%" type="number">
        </label>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Right</label>
        <label style="width: 100%">
          <input class="form-control"
                 (keyup)="setFooterSocialLinksMarginRight()"
                 (ngModelChange)="setFooterSocialLinksMarginRight()"
                 [(ngModel)]="footerSocialLinksMarginRight"
                 autocomplete="off" max="300" min="0" name="number"
                 style="width: 100%" type="number">
        </label>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Bottom</label>
        <label style="width: 100%">
          <input class="form-control"
                 (keyup)="setFooterSocialLinksMarginBottom()"
                 (ngModelChange)="setFooterSocialLinksMarginBottom()"
                 [(ngModel)]="footerSocialLinksMarginBottom"
                 autocomplete="off" max="300" min="0" name="number"
                 style="width: 100%" type="number">
        </label>
      </div>
    </div>
    <div class="col-md-12" style="margin-top: 1em;">
      <label class="btn btn-xl btn-block btn-secondary" (click)="resetFooterSocialLinksMarginStyle()">
        <span>Reset To Default</span>
      </label>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="footerMenuOptions.length > 0">
  <hr>
  <div class="form-group" style="margin-top: 1.5em">
    <label style="color: rgba(255, 255, 255, 1)">Pages</label>
  </div>
  <div class="form-group" style="margin-bottom: .3em; margin-top: 1em">
    <label style="color: rgba(255, 255, 255, 0.65)">Spacing</label>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Top</label>
        <label style="width: 100%">
          <input (keyup)="setFooterPageLinksPaddingTop()"
                 (ngModelChange)="setFooterPageLinksPaddingTop()"
                 [(ngModel)]="footerPageLinksPaddingTop"
                 autocomplete="off"
                 class="form-control" max="300" min="0" name="number" type="number">
        </label>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Left</label>
        <label style="width: 100%">
          <input (keyup)="setFooterPageLinksPaddingLeft()"
                 (ngModelChange)="setFooterPageLinksPaddingLeft()"
                 [(ngModel)]="footerPageLinksPaddingLeft"
                 autocomplete="off" class="form-control" max="300" min="0" name="number"
                 style="width: 100%" type="number">
        </label>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Right</label>
        <label style="width: 100%">
          <input (keyup)="setFooterPageLinksPaddingRight()"
                 (ngModelChange)="setFooterPageLinksPaddingRight()"
                 [(ngModel)]="footerPageLinksPaddingRight"
                 autocomplete="off" class="form-control" max="300" min="0" name="number"
                 style="width: 100%" type="number">
        </label>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Bottom</label>
        <label style="width: 100%">
          <input (keyup)="setFooterPageLinksPaddingBottom()"
                 (ngModelChange)="setFooterPageLinksPaddingBottom()"
                 [(ngModel)]="footerPageLinksPaddingBottom"
                 autocomplete="off" class="form-control" max="300" min="0" name="number"
                 style="width: 100%" type="number">
        </label>
      </div>
    </div>
    <div class="col-md-12" style="margin-top: 1em;">
      <label class="btn btn-xl btn-block btn-secondary" (click)="resetFooterPageLinksPaddingStyle()">
        <span>Reset To Default</span>
      </label>
    </div>
  </div>
</ng-container>
