<div id="footer-layout" style="margin-top: -30px; margin-bottom: 2px">&nbsp;</div>
<div class="form-group">
  <label style="color: rgba(255, 255, 255, 1)">Footer</label>
</div>
<div class="form-group" style="margin-bottom: 1em; margin-top: 1em">
  <label style="color: rgba(255, 255, 255, 0.65)">Position</label>
</div>
<div class="row">
  <div class="col-md-6">
    <div (click)="setFooterAlignment('text-center'); setComponentLayout({'layout':0})"
         [ngClass]="setComponentLayoutSelectorClass('text-center', 0)">
      <svg height="88px" viewBox="0 0 114 88" width="114px">
        <defs>
          <rect height="88" id="path-1" rx="6" width="114" x="0" y="0"></rect>
        </defs>
        <g fill="none" fill-rule="evenodd" id="Page-1" stroke="none" stroke-width="1">
          <g id="Artboard" transform="translate(-64.000000, -56.000000)">
            <g transform="translate(64.000000, 56.000000)">
              <mask fill="white" id="mask-2">
                <use xlink:href="#path-1"></use>
              </mask>
              <use fill="#E6E6E6" id="Mask" xlink:href="#path-1"></use>
              <g id="Group-4" mask="url(#mask-2)">
                <g transform="translate(31.000000, 21.000000)">
                  <rect fill="#CECECE" height="5" id="Rectangle" width="36" x="8" y="0"></rect>
                  <g fill="none" id="Group-3" stroke-width="1" transform="translate(0.000000, 11.000000)">
                    <rect fill="#CECECE" height="2" id="Rectangle" width="52" x="0" y="0"></rect>
                    <rect fill="#CECECE" height="2" id="Rectangle" width="26" x="13" y="5"></rect>
                  </g>
                  <rect fill="#CECECE" height="5" id="Rectangle" width="14" x="19" y="24"></rect>
                </g>
              </g>
              <rect fill="#424242" height="20" id="Rectangle" mask="url(#mask-2)" width="114" x="0" y="68"></rect>
              <rect fill="#E6E6E6" height="6" id="Rectangle" mask="url(#mask-2)" width="12" x="51" y="72"></rect>
              <rect fill="#E6E6E6" height="1" id="Rectangle" mask="url(#mask-2)" width="8" x="53" y="81"></rect>
              <rect fill="#E6E6E6" height="1" id="Rectangle" mask="url(#mask-2)" width="8" x="43" y="81"></rect>
              <rect fill="#E6E6E6" height="1" id="Rectangle" mask="url(#mask-2)" width="8" x="33" y="81"></rect>
              <rect fill="#E6E6E6" height="1" id="Rectangle" mask="url(#mask-2)" width="8" x="63" y="81"></rect>
              <rect fill="#E6E6E6" height="1" id="Rectangle" mask="url(#mask-2)" width="8" x="73" y="81"></rect>
            </g>
          </g>
        </g>
      </svg>
    </div>
  </div>
  <div class="col-md-6">
    <div (click)="setFooterAlignment('text-left'); setComponentLayout({'layout':0})"
         [ngClass]="setComponentLayoutSelectorClass('text-left', 0)">
      <svg height="88px" viewBox="0 0 114 88" width="114px">
        <defs>
          <rect height="88" id="path-1" rx="6" width="114" x="0" y="0"></rect>
        </defs>
        <g fill="none" fill-rule="evenodd" id="Page-1" stroke="none" stroke-width="1">
          <g id="Artboard" transform="translate(-64.000000, -56.000000)">
            <g transform="translate(64.000000, 56.000000)">
              <mask fill="white" id="mask-2">
                <use xlink:href="#path-1"></use>
              </mask>
              <use fill="#E6E6E6" id="Mask" xlink:href="#path-1"></use>
              <g id="Group-4" mask="url(#mask-2)">
                <g transform="translate(31.000000, 21.000000)">
                  <rect fill="#CECECE" height="5" id="Rectangle" width="36" x="8" y="0"></rect>
                  <g fill="none" id="Group-3" stroke-width="1" transform="translate(0.000000, 11.000000)">
                    <rect fill="#CECECE" height="2" id="Rectangle" width="52" x="0" y="0"></rect>
                    <rect fill="#CECECE" height="2" id="Rectangle" width="26" x="13" y="5"></rect>
                  </g>
                  <rect fill="#CECECE" height="5" id="Rectangle" width="14" x="19" y="24"></rect>
                </g>
              </g>
              <rect fill="#424242" height="20" id="Rectangle" mask="url(#mask-2)" width="114" x="0" y="68"></rect>
              <rect fill="#E6E6E6" height="6" id="Rectangle" mask="url(#mask-2)" width="12" x="8" y="72"></rect>
              <rect fill="#E6E6E6" height="1" id="Rectangle" mask="url(#mask-2)" width="8" x="8" y="81"></rect>
              <rect fill="#E6E6E6" height="1" id="Rectangle" mask="url(#mask-2)" width="8" x="18" y="81"></rect>
              <rect fill="#E6E6E6" height="1" id="Rectangle" mask="url(#mask-2)" width="8" x="28" y="81"></rect>
              <rect fill="#E6E6E6" height="1" id="Rectangle" mask="url(#mask-2)" width="8" x="38" y="81"></rect>
              <rect fill="#E6E6E6" height="1" id="Rectangle" mask="url(#mask-2)" width="8" x="48" y="81"></rect>
            </g>
          </g>
        </g>
      </svg>
    </div>
  </div>
  <div class="col-md-6">
    <div (click)="setFooterAlignment('text-right'); setComponentLayout({'layout':0})"
         [ngClass]="setComponentLayoutSelectorClass('text-right', 0)">
      <svg height="88px" viewBox="0 0 114 88" width="114px">
        <defs>
          <rect height="88" id="path-1" rx="6" width="114" x="0" y="0"></rect>
        </defs>
        <g fill="none" fill-rule="evenodd" id="Page-1" stroke="none" stroke-width="1">
          <g id="Artboard" transform="translate(-64.000000, -56.000000)">
            <g transform="translate(64.000000, 56.000000)">
              <mask fill="white" id="mask-2">
                <use xlink:href="#path-1"></use>
              </mask>
              <use fill="#E6E6E6" id="Mask" xlink:href="#path-1"></use>
              <g id="Group-4" mask="url(#mask-2)">
                <g transform="translate(31.000000, 21.000000)">
                  <rect fill="#CECECE" height="5" id="Rectangle" width="36" x="8" y="0"></rect>
                  <g fill="none" id="Group-3" stroke-width="1" transform="translate(0.000000, 11.000000)">
                    <rect fill="#CECECE" height="2" id="Rectangle" width="52" x="0" y="0"></rect>
                    <rect fill="#CECECE" height="2" id="Rectangle" width="26" x="13" y="5"></rect>
                  </g>
                  <rect fill="#CECECE" height="5" id="Rectangle" width="14" x="19" y="24"></rect>
                </g>
              </g>
              <rect fill="#424242" height="20" id="Rectangle" mask="url(#mask-2)" width="114" x="0" y="68"></rect>
              <rect fill="#E6E6E6" height="6" id="Rectangle" mask="url(#mask-2)" width="12" x="94" y="72"></rect>
              <rect fill="#E6E6E6" height="1" id="Rectangle" mask="url(#mask-2)" width="8" x="58" y="81"></rect>
              <rect fill="#E6E6E6" height="1" id="Rectangle" mask="url(#mask-2)" width="8" x="68" y="81"></rect>
              <rect fill="#E6E6E6" height="1" id="Rectangle" mask="url(#mask-2)" width="8" x="78" y="81"></rect>
              <rect fill="#E6E6E6" height="1" id="Rectangle" mask="url(#mask-2)" width="8" x="88" y="81"></rect>
              <rect fill="#E6E6E6" height="1" id="Rectangle" mask="url(#mask-2)" width="8" x="98" y="81"></rect>
            </g>
          </g>
        </g>
      </svg>
    </div>
  </div>
  <div class="col-md-6">
    <div (click)="setFooterAlignment('text-center'); setComponentLayout({'layout':1})"
         [ngClass]="setComponentLayoutSelectorClass('text-center', 1)">
      <svg height="88px" viewBox="0 0 114 88" width="114px">
        <defs>
          <rect height="88" id="path-1" rx="6" width="114" x="0" y="0"></rect>
        </defs>
        <g fill="none" fill-rule="evenodd" id="Page-1" stroke="none" stroke-width="1">
          <g id="Artboard" transform="translate(-64.000000, -56.000000)">
            <g transform="translate(64.000000, 56.000000)">
              <mask fill="white" id="mask-2">
                <use xlink:href="#path-1"></use>
              </mask>
              <use fill="#E6E6E6" id="Mask" xlink:href="#path-1"></use>
              <g id="Group-4" mask="url(#mask-2)">
                <g transform="translate(31.000000, 21.000000)">
                  <rect fill="#CECECE" height="5" id="Rectangle" width="36" x="8" y="0"></rect>
                  <g fill="none" id="Group-3" stroke-width="1" transform="translate(0.000000, 11.000000)">
                    <rect fill="#CECECE" height="2" id="Rectangle" width="52" x="0" y="0"></rect>
                    <rect fill="#CECECE" height="2" id="Rectangle" width="26" x="13" y="5"></rect>
                  </g>
                  <rect fill="#CECECE" height="5" id="Rectangle" width="14" x="19" y="24"></rect>
                </g>
              </g>
              <rect fill="#424242" height="20" id="Rectangle" mask="url(#mask-2)" width="114" x="0" y="68"></rect>
              <rect fill="#E6E6E6" height="6" id="Rectangle" mask="url(#mask-2)" width="12" x="8" y="74"></rect>
              <rect fill="#E6E6E6" height="1" id="Rectangle" mask="url(#mask-2)" width="8" x="58" y="77"></rect>
              <rect fill="#E6E6E6" height="1" id="Rectangle" mask="url(#mask-2)" width="8" x="68" y="77"></rect>
              <rect fill="#E6E6E6" height="1" id="Rectangle" mask="url(#mask-2)" width="8" x="78" y="77"></rect>
              <rect fill="#E6E6E6" height="1" id="Rectangle" mask="url(#mask-2)" width="8" x="88" y="77"></rect>
              <rect fill="#E6E6E6" height="1" id="Rectangle" mask="url(#mask-2)" width="8" x="98" y="77"></rect>
            </g>
          </g>
        </g>
      </svg>
    </div>
  </div>
  <div class="col-md-12">
    <label (click)="resetFooterAlignment()" class="btn btn-xl btn-block btn-secondary">
      <span>Reset To Default</span>
    </label>
  </div>
</div>
<div class="form-group" style="margin-bottom: .3em; margin-top: 1em">
  <label style="color: rgba(255, 255, 255, 0.65)">Spacing</label>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label>Top</label>
      <label style="width: 100%">
        <input (keyup)="setFooterPaddingTop()" (ngModelChange)="setFooterPaddingTop()"
               [(ngModel)]="footerPaddingTop"
               autocomplete="off"
               class="form-control" max="300" min="0" name="number" type="number">
      </label>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>Left</label>
      <label style="width: 100%">
        <input (keyup)="setFooterPaddingLeft()" (ngModelChange)="setFooterPaddingLeft()"
               [(ngModel)]="footerPaddingLeft"
               autocomplete="off" class="form-control" max="300" min="0" name="number"
               style="width: 100%" type="number">
      </label>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>Right</label>
      <label style="width: 100%">
        <input (keyup)="setFooterPaddingRight()" (ngModelChange)="setFooterPaddingRight()"
               [(ngModel)]="footerPaddingRight"
               autocomplete="off" class="form-control" max="300" min="0" name="number"
               style="width: 100%" type="number">
      </label>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>Bottom</label>
      <label style="width: 100%">
        <input (keyup)="setFooterPaddingBottom()" (ngModelChange)="setFooterPaddingBottom()"
               [(ngModel)]="footerPaddingBottom"
               autocomplete="off" class="form-control" max="300" min="0" name="number"
               style="width: 100%" type="number">
      </label>
    </div>
  </div>
  <div class="col-md-12" style="margin-top: 1em;">
    <label (click)="resetFooterPaddingStyle()" class="btn btn-xl btn-block btn-secondary">
      <span>Reset To Default</span>
    </label>
  </div>
</div>
<hr>
<div class="form-group" id="footer-layout-copyright">
  <label style="color: rgba(255, 255, 255, 1)">Copyright</label>
</div>
<div class="form-group" style="margin-bottom: .3em; margin-top: 1em">
  <label style="color: rgba(255, 255, 255, 0.65)">Spacing</label>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label>Top</label>
      <label style="width: 100%">
        <input (keyup)="setFooterCopyrightPaddingTop()" (ngModelChange)="setFooterCopyrightPaddingTop()"
               [(ngModel)]="footerCopyrightPaddingTop"
               autocomplete="off"
               class="form-control" max="300" min="0" name="number" type="number">
      </label>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>Left</label>
      <label style="width: 100%">
        <input (keyup)="setFooterCopyrightPaddingLeft()" (ngModelChange)="setFooterCopyrightPaddingLeft()"
               [(ngModel)]="footerCopyrightPaddingLeft"
               autocomplete="off" class="form-control" max="300" min="0" name="number"
               style="width: 100%" type="number">
      </label>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>Right</label>
      <label style="width: 100%">
        <input (keyup)="setFooterCopyrightPaddingRight()" (ngModelChange)="setFooterCopyrightPaddingRight()"
               [(ngModel)]="footerCopyrightPaddingRight"
               autocomplete="off" class="form-control" max="300" min="0" name="number"
               style="width: 100%" type="number">
      </label>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>Bottom</label>
      <label style="width: 100%">
        <input (keyup)="setFooterCopyrightPaddingBottom()" (ngModelChange)="setFooterCopyrightPaddingBottom()"
               [(ngModel)]="footerCopyrightPaddingBottom"
               autocomplete="off" class="form-control" max="300" min="0" name="number"
               style="width: 100%" type="number">
      </label>
    </div>
  </div>
  <div class="col-md-12" style="margin-top: 1em;">
    <label (click)="resetFooterCopyrightPaddingStyle()" class="btn btn-xl btn-block btn-secondary">
      <span>Reset To Default</span>
    </label>
  </div>
</div>
<ng-container *ngIf="facebookUrl || twitterUrl || instagramUrl || youtubeUrl || githubUrl || linkedinUrl">
  <hr>
  <div class="form-group" style="margin-top: 1.5em">
    <label style="color: rgba(255, 255, 255, 1)">Social</label>
  </div>
  <div class="form-group" style="margin-bottom: .3em; margin-top: 1em">
    <label style="color: rgba(255, 255, 255, 0.65)">Spacing</label>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Top</label>
        <label style="width: 100%">
          <input (keyup)="setFooterSocialLinksMarginTop()" (ngModelChange)="setFooterSocialLinksMarginTop()"
                 [(ngModel)]="footerSocialLinksMarginTop"
                 autocomplete="off"
                 class="form-control" max="300" min="0" name="number" type="number">
        </label>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Left</label>
        <label style="width: 100%">
          <input (keyup)="setFooterSocialLinksMarginLeft()" (ngModelChange)="setFooterSocialLinksMarginLeft()"
                 [(ngModel)]="footerSocialLinksMarginLeft"
                 autocomplete="off" class="form-control" max="300" min="0" name="number"
                 style="width: 100%" type="number">
        </label>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Right</label>
        <label style="width: 100%">
          <input (keyup)="setFooterSocialLinksMarginRight()" (ngModelChange)="setFooterSocialLinksMarginRight()"
                 [(ngModel)]="footerSocialLinksMarginRight"
                 autocomplete="off" class="form-control" max="300" min="0" name="number"
                 style="width: 100%" type="number">
        </label>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Bottom</label>
        <label style="width: 100%">
          <input (keyup)="setFooterSocialLinksMarginBottom()" (ngModelChange)="setFooterSocialLinksMarginBottom()"
                 [(ngModel)]="footerSocialLinksMarginBottom"
                 autocomplete="off" class="form-control" max="300" min="0" name="number"
                 style="width: 100%" type="number">
        </label>
      </div>
    </div>
    <div class="col-md-12" style="margin-top: 1em;">
      <label (click)="resetFooterSocialLinksMarginStyle()" class="btn btn-xl btn-block btn-secondary">
        <span>Reset To Default</span>
      </label>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="footerMenuOptions.length > 0">
  <hr>
  <div class="form-group" style="margin-top: 1.5em">
    <label style="color: rgba(255, 255, 255, 1)">Pages</label>
  </div>
  <div class="form-group" style="margin-bottom: .3em; margin-top: 1em">
    <label style="color: rgba(255, 255, 255, 0.65)">Spacing</label>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Top</label>
        <label style="width: 100%">
          <input (keyup)="setFooterPageLinksPaddingTop()" (ngModelChange)="setFooterPageLinksPaddingTop()"
                 [(ngModel)]="footerPageLinksPaddingTop"
                 autocomplete="off"
                 class="form-control" max="300" min="0" name="number" type="number">
        </label>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Left</label>
        <label style="width: 100%">
          <input (keyup)="setFooterPageLinksPaddingLeft()" (ngModelChange)="setFooterPageLinksPaddingLeft()"
                 [(ngModel)]="footerPageLinksPaddingLeft"
                 autocomplete="off" class="form-control" max="300" min="0" name="number"
                 style="width: 100%" type="number">
        </label>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Right</label>
        <label style="width: 100%">
          <input (keyup)="setFooterPageLinksPaddingRight()" (ngModelChange)="setFooterPageLinksPaddingRight()"
                 [(ngModel)]="footerPageLinksPaddingRight"
                 autocomplete="off" class="form-control" max="300" min="0" name="number"
                 style="width: 100%" type="number">
        </label>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Bottom</label>
        <label style="width: 100%">
          <input (keyup)="setFooterPageLinksPaddingBottom()" (ngModelChange)="setFooterPageLinksPaddingBottom()"
                 [(ngModel)]="footerPageLinksPaddingBottom"
                 autocomplete="off" class="form-control" max="300" min="0" name="number"
                 style="width: 100%" type="number">
        </label>
      </div>
    </div>
    <div class="col-md-12" style="margin-top: 1em;">
      <label (click)="resetFooterPageLinksPaddingStyle()" class="btn btn-xl btn-block btn-secondary">
        <span>Reset To Default</span>
      </label>
    </div>
  </div>
</ng-container>
