<p [ngClass]="setButtonAlignment(position)">
  <button type="button" class="btn btn-label btn-google" (click)="googleSignIn()">
    <label>
      <fa-icon [icon]="['fab', 'google']" size="xs"></fa-icon>
    </label> Sign in with Google
  </button>
  <button type="button" class="btn btn-label btn-facebook" (click)="facebookSignIn()">
    <label>
      <fa-icon [icon]="['fab', 'facebook-f']" size="xs"></fa-icon>
    </label> Sign in with Facebook
  </button>
</p>
<p [ngClass]="setButtonAlignment(position)">
  <small>
    <a class="text-muted small-2" routerLink="/register">or use your email address&nbsp;&nbsp;<fa-icon
        [icon]="['fas', 'long-arrow-alt-right']" size="xs"></fa-icon></a>
  </small>
</p>