<div id="features-options" style="margin-top: -30px; margin-bottom: 2px">&nbsp;</div>
<div class="form-group">
  <label style="color: rgba(255, 255, 255, 1)">Features</label>
</div>
<div class="form-group">
  <div class="row">
    <div class="col-md-6">
      <label style="color: rgba(255, 255, 255, 0.65);">Items</label>
    </div>
    <div class="col-md-6 text-right">
      <a (click)="resetNumberOfFeatures()" class="fw-600 fs-12" href="#">Reset</a>
    </div>
  </div>
  <label style="width: 100%">
    <input (keyup)="setNumberOfFeatures()" (ngModelChange)="setNumberOfFeatures()" [(ngModel)]="numberOfFeatures"
           class="form-control form-control-lg" max="8" min="0" name="number" style="width: 100%" type="number">
  </label>
</div>
<hr>

<div class="form-group" id="features-heading-options">
  <label style="color: rgba(255, 255, 255, 1)">Heading</label>
</div>
<div class="form-group">
  <div class="row">
    <div class="col-md-6">
      <label style="color: rgba(255, 255, 255, 0.65);">Font</label>
    </div>
    <div class="col-md-6 text-right">
      <a (click)="resetFeaturesHeadingFontName()" class="fw-600 fs-12" href="#">Reset</a>
    </div>
  </div>
  <label style="width: 100%">
    <select (change)="onFeaturesHeadingFontNameChange()" [(ngModel)]="featuresHeadingFontName"
            class="form-control form-control-lg">
      <option *ngFor="let fontName of fontNames | ssort"
              [attr.selected]="fontName == featuresHeadingFontName ? true : null"
              [ngStyle]="{ 'font-family': fontName }">{{ fontName }}</option>
    </select>
  </label>
</div>
<div class="form-group">
  <div class="row">
    <div class="col-md-6">
      <label style="color: rgba(255, 255, 255, 0.65);">Size</label>
    </div>
    <div class="col-md-6 text-right">
      <a (click)="resetFeaturesHeadingFontSize()" class="fw-600 fs-12" href="#">Reset</a>
    </div>
    <div class="col-md-6">
      <label style="width: 100%">
        <input (keyup)="setFeaturesHeadingFontSize()" (ngModelChange)="setFeaturesHeadingFontSize()"
               [(ngModel)]="featuresHeadingFontSize"
               class="form-control form-control-lg"
               max="300" min="0" name="number"
               style="width: 100%" type="number">
      </label>
    </div>
    <div class="col-md-6">
      <label style="width: 100%">
        <select (change)="onFeaturesHeadingFontUnitChange()" [(ngModel)]="featuresHeadingFontUnit"
                class="form-control form-control-lg">
          <option *ngFor="let fontUnit of fontUnits | ssort"
                  [attr.selected]="fontUnit == featuresHeadingFontUnit ? true : null">{{ fontUnit }}</option>
        </select>
      </label>
    </div>
  </div>
</div>

<hr>
<div class="form-group" id="features-subheading-options">
  <label style="color: rgba(255, 255, 255, 1)">Subheading</label>
</div>
<div class="form-group">
  <div class="row">
    <div class="col-md-6">
      <label style="color: rgba(255, 255, 255, 0.65);">Font</label>
    </div>
    <div class="col-md-6 text-right">
      <a (click)="resetFeaturesSubheadingFontName()" class="fw-600 fs-12" href="#">Reset</a>
    </div>
  </div>
  <label style="width: 100%">
    <select (change)="onFeaturesSubheadingFontNameChange()" [(ngModel)]="featuresSubheadingFontName"
            class="form-control form-control-lg">
      <option *ngFor="let fontName of fontNames | ssort"
              [attr.selected]="fontName == featuresSubheadingFontName ? true : null"
              [ngStyle]="{ 'font-family': fontName }">{{ fontName }}</option>
    </select>
  </label>
</div>
<div class="form-group">
  <div class="row">
    <div class="col-md-6">
      <label style="color: rgba(255, 255, 255, 0.65);">Size</label>
    </div>
    <div class="col-md-6 text-right">
      <a (click)="resetFeaturesSubheadingFontSize()" class="fw-600 fs-12" href="#">Reset</a>
    </div>
    <div class="col-md-6">
      <label style="width: 100%">
        <input (keyup)="setFeaturesSubheadingFontSize()" (ngModelChange)="setFeaturesSubheadingFontSize()"
               [(ngModel)]="featuresSubheadingFontSize"
               class="form-control form-control-lg"
               max="300" min="0" name="number"
               style="width: 100%" type="number">
      </label>
    </div>
    <div class="col-md-6">
      <label style="width: 100%">
        <select (change)="onFeaturesSubheadingFontUnitChange()" [(ngModel)]="featuresSubheadingFontUnit"
                class="form-control form-control-lg">
          <option *ngFor="let fontUnit of fontUnits | ssort"
                  [attr.selected]="fontUnit == featuresSubheadingFontUnit ? true : null">{{ fontUnit }}</option>
        </select>
      </label>
    </div>
  </div>
</div>
