<app-home-header></app-home-header>
<app-home-features></app-home-features>
<app-home-reviews></app-home-reviews>
<app-home-apply></app-home-apply>

<!-- Cookie popup -->
<div id="popup-cookie-3" class="popup text-white bg-dark col-10 py-4 border-0" data-position="bottom-center"
  data-animation="slide-up" data-autoshow="2000">
  <div class="row gap-y align-items-center">
    <div class="col-md">
      This website uses cookies to ensure you get the best experience on our website. Click <a routerLink="/legal">here</a>
      to learn more.
    </div>
    <div class="col-md-auto">
      <button class="btn btn-sm btn-outline-light" data-dismiss="popup">Got it</button>
    </div>
  </div>
</div>