<!-- Desktop -->
<div *ngIf="!(isMobile | async)?.matches">
  <header id="home" class="header h-fullscreen">
    <div class="container">
      <div class="row align-items-center h-100">
        <div class="col-lg-5">
          <h1 class="fw-600">The marketplace for services.</h1>
          <p class="lead mt-5">Opsonion is a platform which allows you to hire or work for digital currency.</p>
          <hr class="w-10 ml-0 my-7">
          <form [formGroup]="registerForm" id="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group input-group">
              <input type="text" class="form-control" placeholder="Your Email Address" formControlName="email" name="email">
              <div class="input-group-append">
                <button class="btn btn-primary" type="register">Get Early Access</button>
              </div>
            </div>
            <small>We will never share your information or send you spam.</small>
          </form>
        </div>
        <div class="col-lg-6 ml-auto" aos-init aos-animate data-aos="fade-up">
          <img src="assets/img/freelancer-image.png">
        </div>
      </div>
    </div>
  </header>
  <section class="section bg-gray">
    <div class="container">
      <div class="row gap-y">
        <div class="col-lg-4" aos-animate data-aos="fade-up">
          <div class="card card-body border text-center">
            <p class="my-5"><img src="assets/img/quality.png" style="width: 6rem"></p>
            <h5 style="font-weight: bold">Better Quality</h5>
            <p>Easily find the perfect candidate that will bring your latest project to life.</p>
          </div>
        </div>
        <div class="col-lg-4" aos-animate data-aos="fade-up" data-aos-delay="1000">
          <div class="card card-body border text-center">
            <p class="my-5"><img src="assets/img/prices.png" style="width: 6rem"></p>
            <h5 style="font-weight: bold">Better Prices</h5>
            <p>Using blockchain technology helps us significantly lower the cost of transactions.</p>
          </div>
        </div>
        <div class="col-lg-4" aos-animate data-aos="fade-up" data-aos-delay="2000">
          <div class="card card-body border text-center">
            <p class="my-5"><img src="assets/img/community.png" style="width: 6rem"></p>
            <h5 style="font-weight: bold">Better Community</h5>
            <p>Grow your network by connecting with unique individuals from all over the world.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="section-features" class="section">
    <div class="container">
      <div class="row gap-y align-items-center">
        <div class="col-md-6 ml-auto">
          <h3 style="font-weight: bold">Need something done?</h3>
          <p>It's easy to get started. Simply post the task you need completed and start receiving bids from our
            community
            within minutes:</p>
          <ul class="list-unstyled" style="line-height: 2.5em">
            <li><i class="ti-check text-success mr-2"></i> Browse previous work and reviews of candidates before hiring</li>
            <li><i class="ti-check text-success mr-2"></i> Live chat with freelancers to remain updated on work
              progress</li>
            <li><i class="ti-check text-success mr-2"></i> Only pay once the job is completed and you are 100%
              satisfied</li>
          </ul>
        </div>
        <div class="col-md-5 order-md-first">
          <img src="../assets/img/start-buying.png" style="width: 80%" aos-init aos-animate data-aos="fade-up">
        </div>
      </div>
      <hr class="my-8">
      <div class="row gap-y align-items-center">
        <div class="col-md-6 mr-auto">
          <h3 style="font-weight: bold">Create multiple income streams</h3>
          <p>No need for a bank account, just bring your experience to the table:</p>
          <ul class="list-unstyled" style="line-height: 2.5em">
            <li><i class="ti-check text-success mr-2"></i> Get automatically matched with opportunites that match your
              skills</li>
            <li><i class="ti-check text-success mr-2"></i> Work on challenging projects that will boost your online
              profile</li>
            <li><i class="ti-check text-success mr-2"></i> Receive payment immediately into your wallet after job
              completion</li>
          </ul>
        </div>
        <div class="col-md-5">
          <img src="../assets/img/start-selling.png" aos-init aos-animate data-aos="fade-up">
        </div>
      </div>
    </div>
  </section>
  <section class="section bg-gray">
    <div class="container">
      <h3 class="text-center fw-200">Get early access</h3>
      <br>
      <div class="col-md-6 mx-auto">
        <form [formGroup]="registerForm" id="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group input-group">
            <input type="text" class="form-control" placeholder="Your Email Address" formControlName="email" name="email">
            <div class="input-group-append">
              <button class="btn btn-primary" type="submit">Sign Up</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>

<!-- Mobile -->
<div *ngIf="(isMobile | async)?.matches">
  <header id="home" class="header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <img src="assets/img/freelancer-image.png">
        </div>
        <div class="col-md-12 text-center" style="padding-top: 2em">
          <h1 class="fw-600">The marketplace for services.</h1>
          <p class="lead mt-5">Opsonion is a platform which allows you to hire or work for digital currency.</p>
          <hr class="w-100 ml-0 my-7">
          <form [formGroup]="registerForm" id="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group input-group">
              <input type="text" class="form-control" placeholder="Your Email Address" formControlName="email" name="email">
            </div>
            <button class="btn btn-primary btn-block" type="register">Get Early Access</button>
            <br>
            <small>We will never share your information or send you spam.</small>
          </form>
        </div>
      </div>
    </div>
  </header>
  <section class="section bg-gray">
    <div class="container">
      <div class="row gap-y">
        <div class="col-md-12">
          <div class="card card-body border text-center">
            <p class="my-5"><img src="assets/img/quality.png" style="width: 50%"></p>
            <h5>Better Quality</h5>
            <p>Easily find the perfect candidate that will bring your latest project to life.</p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card card-body border text-center">
            <p class="my-5"><img src="assets/img/prices.png" style="width: 50%"></p>
            <h5>Better Prices</h5>
            <p>Using blockchain technology helps us significantly lower the cost of transactions.</p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card card-body border text-center">
            <p class="my-5"><img src="assets/img/community.png" style="width: 50%"></p>
            <h5>Better Community</h5>
            <p>Grow your network by connecting with unique individuals from all over the world.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section overflow-hidden">
    <div class="container-fluid position-static">
      <div class="row gap-y align-items-center">
        <div class="col-md-12 mx-auto">
          <h3 style="font-weight: bold" class="text-center">Need something done?</h3>
          <img src="../assets/img/start-buying.png" style="width: 100%; padding-bottom: 2em; padding-top: 2em">
          <p>It's easy to get started. Simply post the task you need completed and start receiving bids from our
            community
            within minutes:</p>
          <ul class="list-unstyled" style="line-height: 2.5em">
            <li><i class="ti-check text-success mr-2"></i> Browse previous work and reviews of candidates before hiring</li>
            <li><i class="ti-check text-success mr-2"></i> Live chat with freelancers to remain updated on work
              progress</li>
            <li><i class="ti-check text-success mr-2"></i> Only pay once the job is completed and you are 100%
              satisfied</li>
          </ul>
        </div>
      </div>
      <div class="row gap-y align-items-center" style="padding-top: 2em">
        <div class="col-md-12 mx-auto">
          <h3 style="font-weight: bold" class="text-center">Create multiple income streams</h3>
          <img src="../assets/img/start-selling.png" style="width: 100%; padding-bottom: 2em; padding-top: 2em">
          <p>No need for a bank account, just bring your experience to the table:</p>
          <ul class="list-unstyled" style="line-height: 2.5em">
            <li><i class="ti-check text-success mr-2"></i> Get automatically matched with opportunites that match your
              skills</li>
            <li><i class="ti-check text-success mr-2"></i> Work on challenging projects that will boost your online
              profile</li>
            <li><i class="ti-check text-success mr-2"></i> Receive payment immediately into your wallet after job
              completion</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="section bg-gray">
    <div class="container">
      <h3 class="text-center fw-200">Get early access</h3>
      <form [formGroup]="registerForm" id="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group input-group">
          <input type="text" class="form-control" placeholder="Your Email Address" formControlName="email" name="email">
          <div class="input-group-append">
            <button class="btn btn-primary" type="register">Get Early Access</button>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>

<!-- Cookie popup -->
<div id="popup-cookie-3" class="popup text-white bg-dark col-10 py-4 border-0" data-position="bottom-center"
  data-animation="slide-up" data-autoshow="2000">
  <div class="row gap-y align-items-center">
    <div class="col-md">
      This website uses cookies to ensure you get the best experience on our website. Click <a routerLink="privacy">here</a>
      to learn more.
    </div>
    <div class="col-md-auto">
      <button class="btn btn-sm btn-outline-light" data-dismiss="popup">Got it</button>
    </div>
  </div>
</div>