.section-desktop {
  background-color: #F4F7FA !important;
  padding-top: 11rem;
  padding-bottom: 4rem;
}

.section-mobile {
  background-color: #f4f7fa !important;
  padding-top: 6.5rem;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 2rem;
}

drag-scroll {
  height: 300px;
}

.product-box {
  background-image: linear-gradient(rgb(87, 34, 255), rgb(198, 3, 255));
  border-radius: 8px;
  width: 238px;
  height: 258px;
  position: relative;
  padding: 18px;
  overflow: hidden;
  cursor: pointer;
  margin: 0 20px 0 0;
  white-space: normal;
  text-align: left;
  vertical-align: top;
  padding-bottom: 40px;
  padding-top: 100px;
  padding-left: 40px;
  padding-right: 40px;
}

.product-box:hover {
  opacity: 0.8;
}

.dragLeftArrow {
  position: absolute;
  top: 42.5%;
  left: 20px;
  z-index: 9;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 35px;
  height: 35px;
  font-size: 32px;
  line-height: 1;
  padding: 0;
  background: 0 0;
  border: none;
  color: #fff;
  opacity: .2;
}

.dragLeftArrow:hover, .dragRightArrow:hover {
  cursor: pointer;
  opacity: .8;
  transition: opacity .6s;
}

.dragRightArrow {
  position: absolute;
  top: 42.5%;
  right: 20px;
  z-index: 9;
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
  width: 35px;
  height: 35px;
  font-size: 32px;
  line-height: 1;
  padding: 0;
  background: 0 0;
  border: none;
  color: #fff;
  opacity: .2;
}

.product-box h3 {
  color: #fff;
  font-weight: 600;
  letter-spacing: -0.8px;
  line-height: 1;
  margin-bottom: 16px;
  text-align: left;
}

.product-box p {
  color: #fff;
  font-size: 13px;
}

drag-scroll {
  margin-left: -10em
}