<div (click)="setActiveSidebar(ACTIVE_SIDEBAR_SETTINGS)" class="sidebar-profile-button">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-3">
        <img alt="user" class="rounded-circle" src="../../../../../assets/img/anonymous.jpg">
      </div>
      <div class="col-md-9">
        <div style="font-size: 14px; padding-right: 0; margin-top: -5px; color: #0e1318">Jeansy Molanza</div>
        <div style="font-size: 12px; color: rgba(14,19,24,.3)">Free</div>
      </div>
    </div>
  </div>
</div>
