<nav [ngStyle]="{ 'height': innerHeight + 'px' }"
     class="col-md-12 bg-gray no-select" style="padding-left: 0; margin-left: 0; padding-right: 0">
  <div style="height: 100%; width: 100%">
    <div class="row" style="padding: 2em">
      <div class="col-md-12">
        <app-dashboard-sidebar-profile></app-dashboard-sidebar-profile>
      </div>
      <div class="col-md-12" style="padding-top: 2em">
        <button (click)="redirectToBuilder()" class="btn btn-xl btn-block btn-primary" type="button">Create App
        </button>
      </div>
      <div class="col-md-12">
        <hr>
      </div>
      <app-dashboard-sidebar-links></app-dashboard-sidebar-links>
    </div>
  </div>
</nav>
