<div class="col-md-12" style="margin-top: -1em; margin-bottom: -1em">
  <a (click)="setActiveSidebar(ACTIVE_SIDEBAR_WEBSITES)" [ngClass]="sidebarWebsitesTab" href="#"
     style="padding-left: 0; font-size: 18px">Your Websites</a>
  <a (click)="setActiveSidebar(ACTIVE_SIDEBAR_TEMPLATES)" [ngClass]="sidebarTemplatesTab" href="#"
     style="padding-left: 0; font-size: 18px">Templates</a>
  <a (click)="setActiveSidebar(ACTIVE_SIDEBAR_SETTINGS)" [ngClass]="sidebarAccountsTab" href="#"
     style="padding-left: 0; font-size: 18px">Account Settings</a>
  <a (click)="setActiveSidebar(ACTIVE_SIDEBAR_REWARDS)" [ngClass]="sidebarRewardsTab" href="#"
     style="padding-left: 0; font-size: 18px">Rewards</a>
  <a (click)="signOut()" class="nav-link" href="#" style="padding-left: 0; font-size: 18px">Log Out</a>
</div>
