<section class="section-desktop" *ngIf="!(isMobile | async)?.matches">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mx-auto">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active show" data-toggle="tab" href="#tab-profile"><strong>My Profile</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab-preferences"><strong>Preferences</strong></a>
          </li>
        </ul>
        <div class="tab-content p-4">

          <!-- Profile -->
          <div class="tab-pane fade active show" id="tab-profile">
            <div class="row">
              <div class="col-md-6">
                <div class="flexbox flexbox-border">
                  <div *ngIf="user.photoURL">
                    <img class="avatar avatar-xl" src="{{ user?.photoURL }}" alt="avatar">
                  </div>
                  <div>
                    <strong>Change Picture</strong>
                    <br>
                    <small>
                      Max file size is 5MB.
                    </small>
                    <br>
                  </div>
                  <div>
                    <label class="btn btn-xs btn-secondary btn-file">
                      <input type="file" accept="image/*" (change)="handleFileInput($event)"/>
                      <span>Upload</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="flexbox">
                  <div>
                    <strong>Change Password</strong>
                    <br>
                    <small>
                      Change your password or recover your current one.
                    </small>
                  </div>
                  <div>
                    <button type="button" class="btn btn-xs btn-secondary" *ngIf="isPasswordChangeEnabled">Change
                      Password</button>
                    <button type="button" disabled class="btn btn-xs btn-secondary"
                      *ngIf="!isPasswordChangeEnabled">Change Password</button>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-4">
                <strong>Username</strong>
                <br>
                <small>This name will be part of your Opsonion profile.</small>
              </div>
              <div class="col-md-6">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input type="text" class="form-control" [(ngModel)]="username" (change)="username=username.trim()">
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-4">
                <strong>Personal Details</strong>
                <br>
                <small>Your personal information is never shown to other users.</small>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Legal Name</label>
                  <div class="row">
                    <div class="col-md-6">
                      <input class="form-control" (change)="firstName=firstName.trim()" placeholder="First Name"
                        type="text" [(ngModel)]="firstName">
                    </div>
                    <div class="col-md-6">
                      <input class="form-control" (change)="lastName=lastName.trim()" placeholder="Last Name"
                        type="text" [(ngModel)]="lastName">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Date of Birth</label>
                  <div class="row">
                    <div class="col-md-6">
                      <select class="form-control" [(ngModel)]="dobMonth">
                        <option disabled>Month</option>
                        <option *ngFor="let date of dates" [ngValue]="date.name"> {{ date.name }}</option>
                      </select>
                    </div>
                    <div class="col-md-3">
                      <select class="form-control" [(ngModel)]="dobDay">
                        <option disabled>Day</option>
                        <ng-container *ngIf="dobMonth == 'January'">
                          <option *ngFor="let date of counter(dates[0].days); let i = index" [ngValue]="i + 1">
                            {{ i + 1 }}</option>
                        </ng-container>
                        <ng-container *ngIf="dobMonth == 'February'">
                          <option *ngFor="let date of counter(dates[1].days); let i = index" [ngValue]="i + 1">
                            {{ i + 1 }}</option>
                        </ng-container>
                        <ng-container *ngIf="dobMonth == 'March'">
                          <option *ngFor="let date of counter(dates[2].days); let i = index" [ngValue]="i + 1">
                            {{ i + 1 }}</option>
                        </ng-container>
                        <ng-container *ngIf="dobMonth == 'April'">
                          <option *ngFor="let date of counter(dates[3].days); let i = index" [ngValue]="i + 1">
                            {{ i + 1 }}</option>
                        </ng-container>
                        <ng-container *ngIf="dobMonth == 'May'">
                          <option *ngFor="let date of counter(dates[4].days); let i = index" [ngValue]="i + 1">
                            {{ i + 1 }}</option>
                        </ng-container>
                        <ng-container *ngIf="dobMonth == 'June'">
                          <option *ngFor="let date of counter(dates[5].days); let i = index" [ngValue]="i + 1">
                            {{ i + 1 }}</option>
                        </ng-container>
                        <ng-container *ngIf="dobMonth == 'July'">
                          <option *ngFor="let date of counter(dates[6].days); let i = index" [ngValue]="i + 1">
                            {{ i + 1 }}</option>
                        </ng-container>
                        <ng-container *ngIf="dobMonth == 'August'">
                          <option *ngFor="let date of counter(dates[7].days); let i = index" [ngValue]="i + 1">
                            {{ i + 1 }}</option>
                        </ng-container>
                        <ng-container *ngIf="dobMonth == 'September'">
                          <option *ngFor="let date of counter(dates[8].days); let i = index" [ngValue]="i + 1">
                            {{ i + 1 }}</option>
                        </ng-container>
                        <ng-container *ngIf="dobMonth == 'October'">
                          <option *ngFor="let date of counter(dates[9].days); let i = index" [ngValue]="i + 1">
                            {{ i + 1 }}</option>
                        </ng-container>
                        <ng-container *ngIf="dobMonth == 'November'">
                          <option *ngFor="let date of counter(dates[10].days); let i = index" [ngValue]="i + 1">
                            {{ i + 1 }}</option>
                        </ng-container>
                        <ng-container *ngIf="dobMonth == 'December'">
                          <option *ngFor="let date of counter(dates[11].days); let i = index" [ngValue]="i + 1">
                            {{ i + 1 }}</option>
                        </ng-container>
                      </select>
                    </div>
                    <div class="col-md-3">
                      <select class="form-control" [(ngModel)]="dobYear">
                        <option disabled>Year</option>
                        <option *ngFor="let year of years" [ngValue]="year">{{ year }}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Street Address 1</label>
                  <div class="row">
                    <div class="col-md-12">
                      <input class="form-control" type="text" placeholder="Street Address" [(ngModel)]="streetAddress1"
                        (change)="streetAddress1=streetAddress1.trim()">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Street Address 2</label>
                  <div class="row">
                    <div class="col-md-12">
                      <input class="form-control" type="text" placeholder="Street Address" [(ngModel)]="streetAddress2"
                        (change)="streetAddress2=streetAddress2.trim()">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>City</label>
                  <div class="row">
                    <div class="col-md-12">
                      <input class="form-control" type="text" placeholder="City" [(ngModel)]="city"
                        (change)="city=city.trim()">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Postal Code</label>
                  <div class="row">
                    <div class="col-md-6">
                      <input class="form-control" type="text" placeholder="Postal Code" [(ngModel)]="postcode"
                        (change)="postcode=postcode.trim()">
                    </div>
                  </div>
                </div>
                <div class="form-group" style="padding-top: 1em">
                  <button type="button" class="btn btn-lg btn-secondary"
                    (click)="setUserPersonalDetails()">Save</button>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-4">
                <strong>Download Your Information</strong>
                <br>
                <small>Download a copy of your information to keep, or to transfer to another service.</small>
              </div>
              <div class="col-md-6">
                <p>You can download a copy of your Opsonion information at any time. You can choose to receive your
                  information in an PDF format that is easy to view, or a CSV format, which could allow another service
                  to more easily import it.</p>
                <div class="form-group" style="padding-top: 1em">
                  <button type="button" class="btn btn-lg btn-secondary"
                    (click)="downloadUserInformation()">Download</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Preferences -->
          <div class="tab-pane fade" id="tab-preferences">
            <div class="row">
              <div class="col-md-4">
                Local Currency
              </div>
              <div class="col-md-4">
                <select class="form-control" [(ngModel)]="currency">
                  <option *ngFor="let currency of currencies" [ngValue]="currency.cc">
                    {{ currency.name }} ({{ currency.cc }})
                  </option>
                </select>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-4">
                Timezone
              </div>
              <div class="col-md-4">
                <select class="form-control" [(ngModel)]="timezone">
                  <option *ngFor="let timezone of timezones" [ngValue]="timezone.text">
                    {{ timezone.text }}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group" style="padding-top: 1em">
              <button type="button" class="btn btn-lg btn-secondary"
                (click)="setUserCurrencyAndTimezonePreferences()">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-mobile" *ngIf="(isMobile | async)?.matches">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mx-auto">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active show" data-toggle="tab" href="#tab-profile"><strong>My Profile</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab-preferences"><strong>Preferences</strong></a>
          </li>
        </ul>
        <div class="tab-content p-4">

          <!-- Profile -->
          <div class="tab-pane fade active show" id="tab-profile">
            <div class="row">
              <div class="col-md-12 text-center" *ngIf="user.photoURL">
                <img class="avatar avatar-xl" src="{{ user?.photoURL }}" alt="avatar">
              </div>
            </div>
            <div class="row" style="margin-top: 1em">
              <div class="col-md-12 text-center">
                <strong>Change Picture</strong>
                <br>
                <small>
                  Max file size is 1MB.
                </small>
                <div style="margin-top: 1em">
                  <button type="button" class="btn btn-xs btn-secondary">Upload</button>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-12">
                <strong>Username</strong>
                <br>
                <small>This name will be part of your Opsonion profile.</small>
              </div>
            </div>
            <div class="row" style="margin-top: 1em">
              <div class="col-md-12">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input type="text" class="form-control" value="username" [(ngModel)]="username"
                    (change)="username=username.trim()">
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-12">
                <strong>Personal Details</strong>
                <br>
                <small>Your personal information is never shown to other users.</small>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <br>
                <div class="form-group">
                  <label>Legal Name</label>
                  <div class="row">
                    <div class="col-md-12" style="margin-bottom: 0.5em">
                      <input class="form-control" placeholder="First Name" type="text" [(ngModel)]="firstName"
                        (change)="firstName=firstName.trim()">
                    </div>
                    <div class="col-md-12">
                      <input class="form-control" placeholder="Last Name" type="text" [(ngModel)]="lastName"
                        (change)="lastName=lastName.trim()">
                    </div>
                  </div>
                </div>
                <br>
                <div class="form-group">
                  <label>Date of Birth</label>
                  <div class="row">
                    <div class="col-md-12">
                      <select class="form-control" [(ngModel)]="dobMonth">
                        <option disabled>Month</option>
                        <option *ngFor="let date of dates" [ngValue]="date.name"> {{ date.name }}</option>
                      </select>
                    </div>
                    <div class="col-md-12">
                      <select class="form-control" [(ngModel)]="dobDay">
                        <option disabled>Day</option>
                        <ng-container *ngIf="dobMonth == 'January'">
                          <option *ngFor="let date of counter(dates[0].days); let i = index" [ngValue]="i + 1">
                            {{ i + 1 }}</option>
                        </ng-container>
                        <ng-container *ngIf="dobMonth == 'February'">
                          <option *ngFor="let date of counter(dates[1].days); let i = index" [ngValue]="i + 1">
                            {{ i + 1 }}</option>
                        </ng-container>
                        <ng-container *ngIf="dobMonth == 'March'">
                          <option *ngFor="let date of counter(dates[2].days); let i = index" [ngValue]="i + 1">
                            {{ i + 1 }}</option>
                        </ng-container>
                        <ng-container *ngIf="dobMonth == 'April'">
                          <option *ngFor="let date of counter(dates[3].days); let i = index" [ngValue]="i + 1">
                            {{ i + 1 }}</option>
                        </ng-container>
                        <ng-container *ngIf="dobMonth == 'May'">
                          <option *ngFor="let date of counter(dates[4].days); let i = index" [ngValue]="i + 1">
                            {{ i + 1 }}</option>
                        </ng-container>
                        <ng-container *ngIf="dobMonth == 'June'">
                          <option *ngFor="let date of counter(dates[5].days); let i = index" [ngValue]="i + 1">
                            {{ i + 1 }}</option>
                        </ng-container>
                        <ng-container *ngIf="dobMonth == 'July'">
                          <option *ngFor="let date of counter(dates[6].days); let i = index" [ngValue]="i + 1">
                            {{ i + 1 }}</option>
                        </ng-container>
                        <ng-container *ngIf="dobMonth == 'August'">
                          <option *ngFor="let date of counter(dates[7].days); let i = index" [ngValue]="i + 1">
                            {{ i + 1 }}</option>
                        </ng-container>
                        <ng-container *ngIf="dobMonth == 'September'">
                          <option *ngFor="let date of counter(dates[8].days); let i = index" [ngValue]="i + 1">
                            {{ i + 1 }}</option>
                        </ng-container>
                        <ng-container *ngIf="dobMonth == 'October'">
                          <option *ngFor="let date of counter(dates[9].days); let i = index" [ngValue]="i + 1">
                            {{ i + 1 }}</option>
                        </ng-container>
                        <ng-container *ngIf="dobMonth == 'November'">
                          <option *ngFor="let date of counter(dates[10].days); let i = index" [ngValue]="i + 1">
                            {{ i + 1 }}</option>
                        </ng-container>
                        <ng-container *ngIf="dobMonth == 'December'">
                          <option *ngFor="let date of counter(dates[11].days); let i = index" [ngValue]="i + 1">
                            {{ i + 1 }}</option>
                        </ng-container>
                      </select>
                    </div>
                    <div class="col-md-12">
                      <select class="form-control" [(ngModel)]="dobYear">
                        <option disabled>Year</option>
                        <option *ngFor="let year of years" [ngValue]="year">{{ year }}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Street Address 1</label>
                  <div class="row">
                    <div class="col-md-12">
                      <input class="form-control" type="text" placeholder="Street Address" [(ngModel)]="streetAddress1"
                        (change)="streetAddress1=streetAddress1.trim()">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Street Address 2</label>
                  <div class="row">
                    <div class="col-md-12">
                      <input class="form-control" type="text" placeholder="Street Address" [(ngModel)]="streetAddress2"
                        (change)="streetAddress2=streetAddress2.trim()">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>City</label>
                  <div class="row">
                    <div class="col-md-12">
                      <input class="form-control" type="text" placeholder="City" [(ngModel)]="city"
                        (change)="city=city.trim()">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Postal Code</label>
                  <div class="row">
                    <div class="col-md-6">
                      <input class="form-control" type="text" placeholder="Postal Code" [(ngModel)]="postcode"
                        (change)="postcode=postcode.trim()">
                    </div>
                  </div>
                </div>
                <div class="form-group" style="padding-top: 1em">
                  <button type="button" class="btn btn-lg btn-secondary"
                    (click)="setUserPersonalDetails()">Save</button> </div>
              </div>
            </div>
          </div>

          <!-- Preferences -->
          <div class="tab-pane fade" id="tab-preferences">
            <div class="row">
              <div class="col-md-4">
                Local Currency
              </div>
              <div class="col-md-4">
                <select class="form-control" [(ngModel)]="currency">
                  <option *ngFor="let currency of currencies" [ngValue]="currency.cc">
                    {{ currency.name }} ({{ currency.cc }})
                  </option>
                </select>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-4">
                Timezone
              </div>
              <div class="col-md-4">
                <select class="form-control" [(ngModel)]="timezone">
                  <option *ngFor="let timezone of timezones" [ngValue]="timezone.text">
                    {{ timezone.text }}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group" style="padding-top: 1em">
              <button type="button" class="btn btn-lg btn-secondary"
                (click)="setUserCurrencyAndTimezonePreferences()">Save</button> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>